{% extends base.html %}

{% block core %}
    <div class="core_title">
    <h1>Add contest</h1>
    </div>
    
    <form name="add_contest" action="/add_contest" method="POST">
    <table class="sub_table">
    <tr>
      <td>Name</td>
      <td><input type="text" name="name"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea name="description"></textarea></td>
    </tr>
    <tr>
      <td>Initial number of tokens</td>
      <td><input type="text" name="token_initial" size=3></td>
    </tr>
    <tr>
      <td>Maximum accumulated tokens</td>
      <td><input type="text" name="token_max" size=3></td>
    </tr>
    <tr>
      <td>Total number of tokens</td>
      <td><input type="text" name="token_total" size=3></td>
    </tr>
    <tr>
      <td>Interval between tokens</td>
      <td>
      <select name="min_interval_hour">
      {% for hour in range(0,24) %}
        <option>{{ hour }}</option>
      {% end %}
      </select> hours</br>
      <select name="min_interval_minute">
      {% for minute in range(0,60) %}
        <option>{{ minute }}</option>
      {% end %}
      </select> minutes</br>
      </td>
    </tr>
    <tr>
      <td>Token generation period</td>
      <td>
      <select name="token_gen_hour">
      {% for hour in range(0,24) %}
        <option>{{ hour }}</option> 
      {% end %}
      </select> hours</br>
      <select name="token_gen_minute">
      {% for minute in range(0,60) %}
        <option>{{ minute }}</option>
      {% end %}
      </select> minutes</br>
      </td>
    </tr>
    <tr>
      <td>Start</td>
      <td><input type="text" name="start" value="{{ datetime.datetime.now().strftime("%d/%m/%Y %H:%M:%S")}}"></td>
    </tr>
    <tr>
      <td>End</td>
      <td><input type="text" name="end" value="{{ datetime.datetime.now().strftime("%d/%m/%Y %H:%M:%S")}}"></td>
    </tr>
    </table>
    <input type="submit">
    </form>
{% end %}
