{% extends base.html %}

{% block js_init %}

function showTaskTypeOption() {
    var selector = $("select[name=task_type]")[0];
    $(".TaskTypeOptions:visible").hide("fast"); 
    $("#" + selector.options[selector.selectedIndex].value + "Options").show("fast")
};

showTaskTypeOption();
$("select[name=task_type]").change(showTaskTypeOption);

{% end %}

{% block core %}
<div class="core_title">
  <h1>New task</h1>
</div>

<form enctype="multipart/form-data" action="/add_task/{{ contest.id }}" method="post" >
  <h2 id="title_task_information" class="toggling_on">Task information</h2>

  <div id="task_information">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name"/></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title"/></td>
      </tr>
      <tr>
        <td>Time limit</td>
        <td><input type="text" name="time_limit" value="1"/> second(s)</td>
      </tr>
      <tr>
        <td>Memory limit</td>
        <td><input type="text" name="memory_limit" value="512"/> MB</td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

<!-- Task type settings -->

  <h2 id="title_task_type" class="toggling_on">Task type settings</h2>

  <div id="task_type">
    <table>
      <tr>
        <td>Task type</td>
        <td>
          <select name="task_type">
            <option value="TaskTypeBatch" selected>Batch</option>
            <option value="TaskTypeOutputOnly">Output only</option>
          </select>

        <!-- Batch specific settings -->
        <table class="TaskTypeOptions bordered" id="TaskTypeBatchOptions" style="display: none;" >
          <tr>
            <td>Output evaluation</td>
            <td>
              <select name="Batch_evaluation">
                <option value="diff">White diff</option>
                <option value="comp">Comparator</option>
                <option value="grad">Grader</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Input/Output on file</td>
            <td><input type="checkbox" name="Batch_use_files"/></td>
          </tr>
        </table>

        <!-- Output only specific settings -->
        <table class="TaskTypeOptions bordered" id="TaskTypeOutputOnlyOptions" style="display: none;">
          <tr>
            <td>Output evaluation</td>
            <td>
              <select name="OutputOnly_evaluation">
                <option value="diff">White diff</option>
                <option value="comp">Comparator</option>
              </select>
            </td>
          </tr>
        </table>

        </td>
      </tr>
      <tr>
        <td>Submission format</td>
        <td>
          <table>
            <tr>
              <td>
                <input type="radio" name="submission_format" value="simple"/> 
              </td>
              <td>task_name.%l</td>
            </tr>
            <tr>
              <td><input type="radio" name="submission_format" value="other">
              </td>
              <td>
                Other: <input type="text" name="submission_format_other"/></td>
              </td>
            </tr>
          </table>
      </tr>

      <tr>
        <td>Score Type</td>
        <td>
          {% comment TODO: Fetch the score types from ScoreType. %}

          <select name="score_type">
            <option value="ScoreTypeSum">Sum</option>
            <option value="ScoreTypeGroupMin">Minimum</option>
            <option value="ScoreTypeGroupMul">Multiply</option>
            <option value="ScoreTypeRelative">Relative</option>
          </select>

        </td>
      </tr>
      <tr>
        <td>Score Parameters</td>
        <td><input type="text" name="score_parameters"/></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>
  <h2 id="title_tokens" class="toggling_on">Tokens</h2>

  <div id="tokens">
    <table>
        <td>Initial number of tokens</td>
        <td><input type="text" name="token_initial" value="0"/></td>
      </tr>
      <tr>
        <td>Maximum number of tokens</td>
        <td><input type="text" name="token_max" value="0"/></td>
      </tr>
      <tr>
        <td>Total number of tokens</td>
        <td><input type="text" name="token_total" value="0"/></td>
      </tr>
      <tr>
        <td>Minimum interval between tokens</td>
        <td><input type="text" name="token_min_interval" value="0"/></td>
      </tr>
      <tr>
        <td>Token generation period</td>
        <td><input type="text" name="token_gen_time" value="1"/></td>
      </tr>
      <tr>
        <td>Token generation number</td>
        <td><input type="text" name="token_gen_number" value="1"/></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>
  <input type="submit"/><input type="reset">
</form>
{% end %}

