{% import cms.server.BusinessLayer as BusinessLayer %}
{% import cms.util.WebConfig as WebConfig %}
{% import time %}
{% import cms.util.Utils as Utils %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/utils.js"></script>
    <script type="text/javascript" src="/static/web_async_library.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
    {% if contest == None %}
    <title>Admin</title>
    <script type="text/javascript">
<!--
var util;
function init()
{
  cmsrpc = new CMSAjaxRPC();
  cmsutils = new CMSUtils();
  utils = new Utils({{ timestamp }}, 0, 0, -1);

  {% block js_init %}{% end %}
}

{% block js %}{% end %}

window.onload = init;
//-->
    </script>

    {% else %}
    <title>Admin: {{ contest.description }}</title>

    <script type="text/javascript">
<!--
var util;
function init()
{
  cmsrpc = new CMSAjaxRPC();
  cmsutils = new CMSUtils();
  utils = new Utils({{ timestamp }}, {{ json_encode(contest.start) }}, {{ json_encode(contest.stop) }}, {{ phase }});

  firstDate = new Date();
  utils.get_time();
  setInterval(cmsutils.bind_func(utils, utils.get_time), 1000);
  //util.notifications();
  //setInterval("util.notifications()", 15000);
  {% block js_init %}{% end %}
}

{% block js %}{% end %}

window.onload = init();
//-->
    </script>
    {% end %}

  </head>
  <body>
    <div id="global">

      {% comment include loginbar.html %}
      <div id="sidebar">
        <h1>Administration</h1>
        <ul class="menu">
          <li class="menu_entry"><a class="menu_link" href="/">Overview</a></li>
        </ul>
        <div class="hr"></div>

        <form name="contest_selection" id="contest_selection" method="GET">
          <select name="selected_contest" onchange="document.getElementById('contest_selection').submit();">
            <option value=null {% if contest == None %} selected {% end %}>Select a contest</option>
            {% for i in contest_list %}
            {% if contest != None and contest.id == i.id %} selected
            <option value="{{i.id}}" selected>
              {% else %}
            <option value="{{i.id}}">
              {% end %}
              {{ i.name }}
            </option>
            {% end %}
          </select>
          <a href="/addcontest" alt="New contest" style="text-decoration: none;">+</a>
        </form>

          {% if contest != None %}
          <div class="sidebar_left">Contest:</div>
          <ul class="menu">
            <li class="menu_entry"><a class="menu_link" href="/contest">General</a></li>
            <li class="menu_entry"><a class="menu_link" href="/announcements">Announcements</a></li>
            <li class="menu_entry"><a class="menu_link" href="/user">Users</a></li>
          </ul>
          <div class="hr"></div>
          <div class="footer">Time left: <span id="remaining"></span></div>
          {% end %}

      </div>

      <div id="border"></div>
      <div id="core">
        <div id="notifications" class="notifications"></div>
        {% block core %}{% end %}
      </div>

    </div>
  </body>
</html>
