{% import cms.util.WebConfig as WebConfig %}
{% import time %}
{% import cms.util.Utils as Utils %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/utils.js"></script>
    <script type="text/javascript" src="/static/web_async_library.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>

    <script type="text/javascript" src="/static/sh/shCore.js"></script>
    <script type="text/javascript" src="/static/sh/shBrushCpp.js"></script>
    <script type="text/javascript" src="/static/sh/shBrushDelphi.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sh/shCore.css"/>
    <link rel="stylesheet" type="text/css" href="/static/sh/shThemeDefault.css"/>

    {% if contest is None %}
    <title>Admin</title>
    <script type="text/javascript">
<!--
var util;
function init()
{
  cmsrpc = new CMSAjaxRPC();
  cmsutils = new CMSUtils();
  utils = new Utils({{ timestamp }}, 0, 0, -1);

  document.onclick = utils.hide_subpage

  {% block js_init %}{% end %}
}

{% block js %}{% end %}

window.onload = init;
//-->
    </script>

    {% else %}
    <title>Admin: {{ contest.description }}</title>

    <script type="text/javascript">
<!--
var util;
function init()
{
  cmsrpc = new CMSAjaxRPC();
  cmsutils = new CMSUtils();
  utils = new Utils({{ timestamp }}, {{ json_encode(contest.start) }}, {{ json_encode(contest.stop) }}, {{ phase }});

  document.onclick = utils.hide_subpage

  firstDate = new Date();
  utils.get_time();
  setInterval(cmsutils.bind_func(utils, utils.get_time), 1000);
  utils.update_notifications();
  setInterval(cmsutils.bind_func(utils, utils.update_notifications), 15000);
  {% block js_init %}{% end %}
}

{% block js %}{% end %}

window.onload = init;
//-->
    </script>
    {% end %}

  </head>
  <body class="admin">
    <div id="global">

      {% comment include loginbar.html %}
      <div id="sidebar">
        <h1>Administration</h1>
        <ul class="menu">
          <li class="menu_entry"><a class="menu_link" href="/{% if contest is not None %}{{ contest.id }}{% end %}">Overview</a></li>
        </ul>
        <div class="hr"></div>
        <select id="contest_selection_select" onchange="utils.switch_contest()">
          <option value=null {% if contest is None %} selected {% end %}>Select a contest</option>
          {% for i in contest_list %}

          <option
            value="{{ i.id }}"
            {% if contest is not None and contest.id == i.id %}
              selected
            {% end %}
          >
            {{ i.name }}
          </option>
          {% end %}
        </select>
        <a href="/contest/add" alt="New contest" style="text-decoration: none;">+</a>

          {% if contest is not None %}
          <div class="sidebar_left">Contest:</div>
          <ul class="menu">
            <li class="menu_entry"><a class="menu_link" href="/contest/{{ contest.id }}">General</a></li>
            <li class="menu_entry"><a class="menu_link" href="/announcements/{{ contest.id }}">Announcements</a></li>
            <li class="menu_entry"><a class="menu_link" href="/userlist/{{ contest.id }}">Users</a></li>
            <li class="menu_entry">
              <span id="unanswered_questions" class="unread"
                {% if unanswered == 0 %} style="display: none;" {% end %}>
                {{ unanswered }}
              </span>
              <a class="menu_link" href="/questions/{{ contest.id }}">Questions</a>
            </li>
          </ul>
          <div class="hr"></div>
          <div class="sidebar_left">Tasks:</div>
          <div class="sidebar_right">
            <ul class="menu">
              {% for t_iter in contest.tasks %}
              <li class="menu_entry"><a class="menu_link" href="/task/{{t_iter.id}}">{{t_iter.name}}</a></li>
              {% end %}
            </ul>
          </div>
          <div class="hr"></div>
            {% if phase != 1 %}
          <div class="footer">Time left: <span id="remaining"></span></div>
            {% end %}
          {% end %}

      </div>

      <div id="border"></div>
      <div id="core">
        <div id="notifications" class="notifications"></div>
        <div id="subpage" onclick="var event = arguments[0] || window.event; event.stopPropagation()">
          <div id="subpage_border"></div>
          <div id="subpage_background"></div>
          <div id="subpage_content"></div>
        </div>
        {% block core %}{% end %}
      </div>

    </div>
  </body>
</html>
