{% extends base.html %}
{% block core %}
    <div class="core_title">
    <h1>{{ task.title }} ({{ task.name }}) - Submission Detail </h1>
    </div>

      <table class="sub_details">
      <tr>
          <th>Timestamp</th>
          <td>{{ datetime.datetime.fromtimestamp(submission.timestamp).strftime("%d/%m/%Y %H:%M:%S") }}</td>
      </tr>
      <tr>
          <th>Compilation<br/>outcome</th>
          <td>{{ submission.compilation_outcome }}</td>
      </tr>
      <tr>
          <th>Compilation<br/>detail</th>
          <td>{% if submission.compilation_text %}{{ escape(submission.compilation_text).replace("\n", "<br/>") }}{% end %}</td>
      </tr>
      <tr>
          <th>
          Evaluation Outcome
          </th>
          <td>
              {% if submission.evaluation_outcome != None %}
                  <table class="sub_score">
                  <tr><th>Nm</th><th>Score</th><th>Details</th></tr>
                  {% for i, (ev_o, ev_t) in enumerate(zip(submission.evaluation_outcome, submission.evaluation_text)) %}
                      <tr><td>{{ i }}</td><td>{{ ev_o }}</td><td>{{ escape(ev_t) }}</td><tr/>
                  {% end %}
                  </table>
              {% else %}
                  Not evaluated
              {% end %}
          </td>
      </tr>
      <tr>
          <th>Files</th>
          <td>
          {% for key,value in submission.files.items() %}
              <a href="/submission_file/{{ escape(submission.couch_id) }}/{{ escape(key) }}">{{ escape(key) }}<br/>
          {% end %}
          </td>
      </tr>
      <tr>
          <th>Detailed<br/>Feedback<br/>Requested</th>
          <td>
          {% if submission.token_timestamp==None %}
              No
          {% else %}
              Yes
          {% end %}
          </td>
      </tr>
      </table>
{% end %}
