{% extends base.html %}

{% block core %}
<div class="core_title">
  <h1>Tasks list</h1>
</div>
<a href="{{ url_root }}/add_task/{{ contest.id }}">Add a new task</a>
<table class="bordered">
  <thead>
    <tr>
      <th style="width: 50%">Title</th>
      <th style="width: 32%">Name</th>
      <th style="width: 18%">Reevaluate</th>
    </tr>
  </thead>
  <tbody>
    {% set reevaluation_par_name = "task" %}
    {% for t in contest.tasks %}
    <tr>
      <td>{{ t.title }}</td>
      <td><a href="{{ url_root }}/task/{{ t.id }}">{{ t.name }}</a></td>
      <td>
        {% set reevaluation_par_value = t.id %}
        {% include reevaluation_buttons.html %}
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %}
