{% extends base.html %}

{% block core %}
<div class="core_title">
  <h1>{{ task.title }} ({{ task.name }})</h1>
</div>

<form enctype="multipart/form-data" action="/task/{{ task.id }}" method="POST">
  <h2 id="title_task_information" class="toggling_on" onclick="utils.toggle_visibility('task_information');">Task information</h2>
  <div id="task_information">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" value="{{ task.name }}"/></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" value="{{ task.title }}"/></td>
      </tr>
      <tr>
        <td>Position</td>
        <td>{{task.num}}</td>
      </tr>
      <tr>
        <td><a href="/task/{{ task.id }}/statement">Statement</a></td>
        <td><input type="file" name="statement"></input></td>
      </tr>
      <tr>
        <td>Attachments</td>
        <td>
          {% if len(task.attachments) == 0 %}
            No attachments.
          {% else %}
            {% for attachment in task.attachments %}
              <div class="attachment">
                <a href="/file/{{ attachment.digest }}/{{ attachment.filename }}">{{ attachment.filename }}</a>
              </div>
            {% end %}
          {% end %}
          <!--<input type="file" name="attachment"/>-->
        </td>
      </tr>
      <tr>
        <td>Time limit</td>
        <td><input type="text" name="time_limit" value="{{ task.time_limit }}"/> second(s)</td>
      </tr>
      <tr>
        <td>Memory limit</td>
        <td><input type="text" name="memory_limit" value="{{ task.memory_limit }}"/> MB</td>
      </tr>
      <tr>
        <td>Task type</td>
        <td>
          <!--
          TODO: re-enable
          -->
          <select name="task_type" disabled>
            <option value="TaskTypeBatch"{% if task.task_type == "TaskTypeBatch" %} selected{% end %}>
              Batch
            </option>
            <option value="TaskTypeProgramming"{% if task.task_type == "TaskTypeProgramming" %} selected{% end %}>
              Programming
            </option>
            <option value="TaskTypeOutputOnly"{% if task.task_type == "TaskTypeOutputOnly" %} selected{% end %}>
              Output Only
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Submission format</td>
        <td>
          {% for format in task.submission_format %}
          {{ format.filename }}</br>
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Managers</td>
        <td>
          {% for filename, manager in task.managers.iteritems() %}
          <a href="/file/{{ manager.digest }}/{{ filename }}">{{ filename }}</a>
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Score Type</td>
        <td>
          <!--
            TODO: Fetch the score types from ScoreType.
          -->
          <select name="score_type" disabled>
            <option value="ScoreTypeSum"{% if task.score_type == "ScoreTypeSum" %} selected{% end %}>
              Sum
            </option>
            <option value="ScoreTypeMin"{% if task.score_type == "ScoreTypeMin" %} selected{% end %}>
              Minimum
            </option>
            <option value="ScoreTypeMul"{% if task.score_type == "ScoreTypeMul" %} selected{% end %}>
              Multiply
            </option>
            <option value="ScoreTypeRelative"{% if task.score_type == "ScoreTypeRelative" %}selected{% end %}>
              Relative
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Score Parameters</td>
        <td>{{ task.score_parameters }}</td>
      </tr>
    </table>
  </div>
  <h2 id="title_testcases" class="toggling_on" onclick="utils.toggle_visibility('testcases');">Testcases</h2>
  <div id="testcases">

    <table class="bordered" style="text-align:center">
      <tr>
        <th>Position</th>
        <th>Public</th>
        <th>Input</th>
        <th>Output</th>
      </tr>
      {% for testcase in task.testcases %}
      <tr>
        <td style="font-weight:bold;">{{ testcase.num }}</td>
        <td style="font-weight:bold;">
          <input type="checkbox" name="testcase_{{ testcase.num }}_public"
          {% if testcase.public %}
              checked
          {% end %}
          >
        </td>
        <td>
          <a href="#" onclick="utils.show_file('input{{ testcase.num }}','/file/{{ testcase.input }}/input{{ testcase.num }}')">Show Input</a>
        </td>
        <td>
          <a href="#" onclick="utils.show_file('output{{ testcase.num }}','/file/{{ testcase.output }}/output{{ testcase.num }}')">Show Output</a>
        </td>
        {% end %}
    </table>
  </div>
  
  <h2 id="title_token_options" class="toggling_on" onclick="utils.toggle_visibility('token_options');">Token Options</h2>
  <div id="token_options">
    <table>
      <tr>
        <td>Initial number of tokens</td>
        <td><input type="text" name="token_initial" value="{{ task.token_initial }}" /></td>
      </tr>
      <tr>
        <td>Maximum number of tokens</td>
        <td><input type="text" name="token_max" value="{{ task.token_max }}" /></td>
      </tr>
      <tr>
        <td>Total number of tokens</td>
        <td><input type="text" name="token_total" value="{{ task.token_total }}" /></td>
      </tr>
      <tr>
        <td>Minimum interval between tokens</td>
        <td><input type="text" name="token_min_interval" value="{{ task.token_min_interval }}" /></td>
      </tr>
      <tr>
        <td>Token generation period</td>
        <td><input type="text" name="token_gen_time" value="{{ task.token_gen_time }}" /></td>
      </tr>
      <tr>
        <td>Token generation number</td>
        <td><input type="text" name="token_gen_number" value="{{ task.token_gen_number }}" /></td>
      </tr>
    </table>
  </div>
  <input type="submit" value="Edit">
  <input type="reset" value="Reset">
</form>
{% end %}
