{% extends base.html %}

{% block core %}
    <div class="core_title">
      <h1>{{ selected_user.real_name }} ({{ selected_user.username }})</h1>
    </div>

    <h2 onclick="util.toggleVisibility(&quot;user_submissions&quot;);">
      <span class="toggle" id="user_submissions_toggle">-</span>Submissions
    </h2>
    <div id="user_submissions">
      {% if submissions != [] %}
      <table class="sub_table">
        <tr>
          <th>Time</th>
          <th>Task</th>
          <th>Compilation<br/>status</th>
          <th>Evaluation<br/>status</th>
          <th>Files</th>
          <th>Detailed<br/>feedback<br/>requested</th>
          <th>Evaluate<br/>again?</th>
        </tr>
        {% for s in sorted(submissions, key=lambda s: s.timestamp , reverse = True) %}
        <tr>
          <td><a href="/submissions/details/{{s.id}}">{{ datetime.datetime.fromtimestamp(s.timestamp).strftime("%d/%m/%Y %H:%M:%S") }}</a></td>
          <td>{{ s.task.name }}</td>
          <td>
            {% if s.compilation_outcome == "ok" %}
            Successful
            {% elif s.compilation_outcome == "fail" %}
            Unsuccessful
            {% else %}
            Please wait
            {% end %}
          </td>
          <td>
            {% if s.compilation_outcome == "fail" %}
            Ignored
            {% elif s.evaluations != [] %}
            Evaluated
            {% else %}
            Please wait
            {% end %}
          </td>
          <td>
            {% for filename, sub_file in s.files.items() %}
            <a href="/submission_file/{{ sub_file.id }}">{{ escape(filename) }}</a><br/>
            {% end %}
          </td>
          <td>
            {% if s.token_timestamp==None %}
            No
            {% else %}
            Yes
            {% end %}
          </td>
          <td>
            <a href="/reevaluate/submission/{{s.id}}">Go ahead!</a>
          </td>
        </tr>
        {% end %}
      </table>
      {% else %}
      No submissions.
      {% end %}
    </div>

    <h2 onclick="util.toggleVisibility(&quot;user_messages&quot;);">
      <span class="toggle" id="user_messages_toggle">-</span>Messages
    </h2>
    <div id="user_messages">
      {% if selected_user.messages != [] %}
        {% for i, msg in enumerate(reversed(selected_user.messages)) %}
      <div class="message_item displayed">
        <span class="message_date">{{ datetime.datetime.fromtimestamp(msg.timestamp).strftime("%d/%m/%Y %H:%M:%S")  }}</span>
        <span class="message_subject">{{msg.subject}}</span>
        <span class="message_text">{{msg.text}}</span>
      </div>
        {% end %}
      {% else %}
      No messages.
      {% end %}

      <h3 onclick="util.toggleVisibility(&quot;send_message&quot;);">
        <a name="send_message"></a>
        <span class="toggle" id="send_message_toggle">-</span>Send a message
      </h3>
      <div id="send_message">
        <form id="send_message_form" action="/message/{{selected_user.id}}" method="POST">
          Subject: <input id="send_message_subject" type="text" name="send_message_subject"></br>
          Text: <textarea name="send_message_text"></textarea><br/>
          <input type="submit" value="Send"/>
        </form>
      </div>
    </div>

    <script>
function question_reply_toggle(element, invoker)
{
  var obj = document.getElementsByClassName("reply_question")[element];
  if (obj.style.display != "block")
    {
      obj.style.display = "block";
      invoker.innerHTML = "Hide reply";
    }
  else
    {
      obj.style.display = "none";
      invoker.innerHTML = "Reply";
    }
  return false;
}

function update_additional_answer(element, invoker)
{
  var obj = document.getElementsByClassName("alternative_answer")[element];
  if (invoker.selectedIndex == 5)
    obj.style.display = "block";
  else
    obj.style.display = "none";
}
    </script>

    <h2 onclick="util.toggleVisibility(&quot;user_questions&quot;);">
      <span class="toggle" id="user_questions_toggle">-</span>Submitted questions
    </h2>
    <div id="user_questions">
      {% if selected_user.questions != [] %}
        {% for i, question in enumerate(reversed(selected_user.questions)) %}
      <div class="question_item displayed">
        <div class="question_content">
          <span class="question_date">{{ datetime.datetime.fromtimestamp(question.question_timestamp).strftime("%d/%m/%Y %H:%M:%S")  }}</span>
          <span class="question_subject">{{escape(question.subject)}}</span>
          <span class="question_text">{{escape(question.text)}}</span>
          <hr/>
          <div class="reply_question_quick_answer">
            {% if WebConfig.quick_answers.get(question.short_reply, None) != None %}
            Reply (precompiled): &ldquo;{{ WebConfig.quick_answers.get(msg.short_reply, "") }}&rdquo;.
            {% elif question.long_reply != None %}
            Reply: &ldquo;{{ escape(question.long_reply) }}&rdquo;.
            {% else %}
            Not yet replied.
            {% end %}
          </div>
          <div class="reply_question_toggle">
            <a href="#" onclick="return question_reply_toggle({{ i }}, this);">Reply</a>
          </div>
        </div>
        <div class="reply_question" >
          <hr/>
          <form class="reply_question_form" action="/question/{{question.id}}" method="POST">
            Precompiled answer:
            <select name="reply_question_quick_answer" onchange="update_additional_answer({{ i }}, this);">
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="answered">Answered in task description</option>
              <option value="invalid">Invalid question</option>
              <option value="nocomment">No comment</option>
              <option selected value="other">Other</option>
            </select>
            <br/>
            <div class="alternative_answer">
              Alternative answer:<br/>
              <textarea name="reply_question_text"></textarea><br/>
            </div>
            <input type="submit" value="Send"/>
          </form>
        </div>
      </div>
        {% end %}
      {% else %}
      No submitted questions.
      {% end %}
    </div>

{% end %}
