{% extends base.html %}

{% block core %}
<div class="core_title">
  <h1>Users list</h1>
</div>
<table class="bordered">
  <thead>
    <tr>
      <th style="width: 50%">Name</th>
      <th style="width: 30%">Username</th>
      <th style="width: 20%">Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for u in sorted(contest.users, cmp = lambda x, y: cmp(x.username, y.username)) %}
    <tr>
      <td><a href="/user/{{ u.id }}">{{ u.real_name }}</a></td>
      <td>{{ u.username }}</td>
      <td>[<a href="/reevaluate/user/{{ u.id }}">Reevaluate</a>]</td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %}
