{% extends base.html %}

{% block js %}

function update_queue_status(response)
{
    var table = document.getElementById("queue_status_table");
    while (table.rows.length > 1)
        table.deleteRow(1);
    if (response['status'] == 'unconnected')
        table.insertRow(-1).innerHTML = "<td colspan='5'>EvaluationServer not connected.</td>";
    else if (response['status'] == 'fail')
        table.insertRow(-1).innerHTML = "<td colspan='5'>Call to EvaluationServer failed.</td>";
    else if (response['status'] == 'ok')
    {
        if (response['data'].length == 0)
            table.insertRow(-1).innerHTML = "<td colspan='5'>Queue empty.</td>";
        else
        {
            for (var i = 0; i < response['data'].length; i++)
            {
                var row = table.insertRow(-1);
                var job = util.repr_job(response['data'][i]['job']);
                var date = util.repr_time_ago(response['data'][i]['timestamp']);
                row.innerHTML = '<td>' + (i + 1) + '</td>' +
                    '<td>' + job + '</td>' +
                    '<td>' + response['data'][i]['priority'] + '</td>' +
                    '<td>' + date + '</td>';
            }
        }
    }
    else
        table.insertRow(-1).innerHTML = "<td colspan='5'>Unexpected reply. This should not happen.</td>";
};

function update_workers_status(response)
{
    var table = document.getElementById("workers_status_table");
    while (table.rows.length > 1)
        table.deleteRow(1);
    if (response['status'] == 'unconnected')
        table.insertRow(-1).innerHTML = "<td colspan='5'>EvaluationServer not connected.</td>";
    else if (response['status'] == 'fail')
        table.insertRow(-1).innerHTML = "<td colspan='5'>Call to EvaluationServer failed.</td>";
    else if (response['status'] == 'ok')
    {
        if (response['data'].length == 0)
            table.insertRow(-1).innerHTML = "<td colspan='5'>No workers empty.</td>";
        else
        {
            for (i in response['data'])
            {
                var row = table.insertRow(-1);
                var job = util.repr_job(response['data'][i]['job']);
                var start_time = util.repr_time_ago(response['data'][i]['start_time']);
                var connected = "Yes";
                if (response['data'][i]['connected'] = False)
                    connected = "No";
                row.innerHTML = '<td>' + i + '</td>' +
                    '<td>' + connected + '</td>' +
                    '<td>' + response['data'][i]['error_count'] + '</td>' +
                    '<td>' + job + '</td>' +
                    '<td>' + start_time + '</a></td>';
            }
        }
    }
    else
        table.insertRow(-1).innerHTML = "<td colspan='5'>Unexpected reply. This should not happen.</td>";
};

function update_statuses()
{

    cmsrpc.request("EvaluationServer", 0,
                "queue_status",
                {},
                update_queue_status);
    cmsrpc.request("EvaluationServer", 0,
                "workers_status",
                {},
                update_workers_status);
}

{% end %}

{% block js_init %}

setInterval(update_statuses, 5000);
update_statuses();

{% end %}

{% block core %}

<h1>Overview</h1>
<span id="update_time"></span>

<h2 id="title_queue_status" class="toggling_on" onclick="utils.toggle_visibility('queue_status');">Queue status</h2>
<div id="queue_status">

<table id="queue_status_table" class="sub_table">
  <tr>
    <th>Id</th>
    <th>Job</th>
    <th>Priority</th>
    <th>Since</th>
  </tr>
</table>
</div>

<h2 id="title_workers_status" class="toggling_on" onclick="utils.toggle_visibility('workers_status');">Workers status</h2>
<div id="workers_status">

<table id="workers_status_table" class="sub_table">
  <tr>
    <th>Shard</th>
    <th>Connected</th>
    <th>Errors</th>
    <th>Current job</th>
    <th>Since</th>
  </tr>
</table>
</div>
{% end %}
