{% extends "contest.html" %}
{% block core %}
<div class="span9">


<div class="page-header">
    <h1>{{ _("Communication") }}</h1>
</div>

{% if contest.announcements|length > 0 %}
<h2>{{ _("Announcements") }}</h2>
<div class="announcement_list">
    {% for msg in contest.announcements|reverse %}
    <div class="announcement">
        {% if msg.subject|length > 0 %}
        <h4 class="subject">{{ msg.subject }}</h4>
        {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
        {% endif %}
        <span class="timestamp">{{ translation.format_datetime_smart(msg.timestamp, now, timezone) }}</span>
        {% if msg.text|length > 0 %}
        <div class="body">{{ msg.text }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}



{% if questions_enabled %}

<h2>{{ _("Questions") }}</h2>
<div class="well question_submit">
    <form class="form-horizontal" action="{{ contest_url("question") }}" method="POST">
        {% module xsrf_form_html() %}
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="input_subject">{{ _("Subject") }}</label>
                <div class="controls">
                    <input type="text" name="question_subject" id="input_subject" class="input-xlarge" maxlength="50" list="task_names_list" autocomplete="off">
                    <datalist id="task_names_list">
                        {% for task in contest.tasks %}
                        <option value="{{ task.name }}">
                        {% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_text">{{ _("Text") }}</label>
                <div class="controls">
                    <textarea id="input_text" class="input-xlarge" name="question_text" rows="5" maxlength="2000"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">{{ _("Ask question") }}</button>
                    <button type="reset" class="btn">{{ _("Reset") }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


{% if current_user.questions|length > 0 %}
<div class="question_list">
    {% for msg in current_user.questions|reverse %}
    <div class="question">
        {% if msg.subject|length > 0 %}
        <h4 class="subject">{{ msg.subject }}</h4>
        {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
        {% endif %}
        <span class="timestamp">{{ translation.format_datetime_smart(msg.question_timestamp, now, timezone) }}</span>
        {% if msg.text|length > 0 %}
        <div class="body">{{ msg.text }}</div>
        {% endif %}
    </div>
        {% if msg.reply_timestamp is not none %}
    <div class="answer">
            {% if msg.reply_subject|length > 0 %}
        <h4 class="subject">{{ msg.reply_subject }}</h4>
            {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
            {% endif %}
        <span class="timestamp">{{ translation.format_datetime_smart(msg.reply_timestamp, now, timezone) }}</span>
            {% if msg.reply_text|length > 0 %}
        <div class="body">{{ msg.reply_text }}</div>
            {% endif %}
    </div>
        {% else %}
    <div class="no_answer">
        {{ _("no answer yet") }}
    </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endif %}


{% if current_user.messages|length > 0 %}
<h2>{{ _("Messages") }}</h2>
<div class="message_list">
    {% for msg in current_user.messages|reverse %}
    <div class="message">
        {% if msg.subject|length > 0 %}
        <h4 class="subject">{{ msg.subject }}</h4>
        {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
        {% endif %}
        <span class="timestamp">{{ translation.format_datetime_smart(msg.timestamp, now, timezone) }}</span>
        {% if msg.text|length > 0 %}
        <div class="body">{{ msg.text }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}


</div>
{% endblock core %}
