{% extends "base.html" %}
{% block title %}
    {% trans %}Choose a contest{% endtrans %}
{% endblock title %}
{% block body %}
    <div class="hero-unit contest-list">
        <h3>{% trans %}Choose a contest{% endtrans %}</h3>
        <ul class="nav nav-list">
    {% for c_name, c_iter in contest_list|dictsort(by="key") %}
            <li>
                <a {% if c_iter.stop < now %} style="color: #adadad" {% endif %} href="{{ url(c_iter.name) }}">{{ c_iter.description }}</a>
            </li>
    {% endfor %}
        </ul>
    </div>
{% endblock body %}
