{% extends "contest.html" %}

{% set page = "documentation" %}

{% block core %}
<div class="span9">

<div class="page-header">
    <h1>{% trans %}Documentation{% endtrans %}</h1>
</div>

<h2>{% trans %}Programming languages and libraries{% endtrans %}</h2>

{% if contest.languages|map("to_language")|map(attribute="source_extensions")|any("contains", ".cpp") %}
<h3>C++</h3>

<p><a href="{{ url("stl", "en", "index.html") }}">{% trans %}Standard Template Library{% endtrans %}</a></p>
{% endif %}

{% if contest.languages|map("to_language")|map(attribute="source_extensions")|any("contains", ".java") %}
<h3>Java</h3>

<p>{% trans %}The main Java class of the solution should have exactly the same name as the task.{% endtrans %}</p>
{% endif %}


<h2>{% trans %}Submission details for compilation{% endtrans %}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{% trans %}Message{% endtrans %}</th>
      <th>{% trans %}Explanation{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in COMPILATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help_text) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>{% trans %}Submission details for evaluation{% endtrans %}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{% trans %}Message{% endtrans %}</th>
      <th>{% trans %}Explanation{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in EVALUATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help_text) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock core %}
