{% extends base.html %}
{% block core %}

<div class="span9">

<div class="page-header">
    <h1>{{ _("Error %d") % status_code }}</h1>
</div>

<p>
{{ _("An error occured while the server was handling your request.") }}
</p>

<p>
{{ _("Note that attempts to tamper with Contest Management System (such as probing the server with customized URLs) may be considered cheating and may lead to disqualification.") }}
</p>

<p>
{{ _("If you encountered this error during normal usage, please notify the contest administrators.") }}
</p>

</div>
{% end %}
