{% extends "contest.html" %}

{% set page = "printing" %}

{% block core %}


<div class="span9 printing">

<div class="page-header">
    <h1>{% trans %}Printing{% endtrans %}</h1>
</div>

<h2 style="margin-bottom: 10px">{% trans %}Print{% endtrans %}</h2>

{% if remaining_jobs > 0 %}
    {% if pdf_printing_allowed %}
    {% trans remaining_jobs=remaining_jobs, max_pages=max_pages %}You can print {{ remaining_jobs }} more text or PDF files of up to {{ max_pages }} pages each.{% endtrans %}
    {% else %}
    {% trans remaining_jobs=remaining_jobs, max_pages=max_pages %}You can print {{ remaining_jobs }} more text files of up to {{ max_pages }} pages each.{% endtrans %}
    {% endif %}

<div id="print" class="row">
    <form class="form-horizontal" enctype="multipart/form-data" action="{{ contest_url("printing") }}" method="POST">
        {{ xsrf_form_html|safe }}
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="input">{% if pdf_printing_allowed %}{% trans %}File (text or PDF){% endtrans %}{% else %}{% trans %}File (text){% endtrans %}{% endif %}</label>
                <div class="controls">
                    <input type="file" class="input-xlarge" id="input" name="file"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>
                    <button type="reset" class="btn">{% trans %}Reset{% endtrans %}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% else %}
    {% trans %}You cannot print anything any more as you have used up your printing quota.{% endtrans %}
{% endif %}


<h2 style="margin: 40px 0 10px">{% trans %}Previous print jobs{% endtrans %}</h2>

{% set show_date = not printjobs|map(attribute="timestamp")|all("today") %}


<table id="printjob_list" class="table table-bordered table-striped">
    <colgroup>
{% if show_date %}
        <col class="datetime"/>
{% else %}
        <col class="time"/>
{% endif %}
        <col class="filename"/>
        <col class="status"/>
    </colgroup>
    <thead>
        <tr>
{% if show_date %}
            <th class="datetime">{% trans %}Date and time{% endtrans %}</th>
{% else %}
            <th class="time">{% trans %}Time{% endtrans %}</th>
{% endif %}
            <th class="filename">{% trans %}File name{% endtrans %}</th>
            <th class="status">{% trans %}Status{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
{% for p in printjobs|sort(attribute="timestamp")|reverse %}
        <tr>
        {% if show_date %}
            <td class="datetime">{{ p.timestamp|format_datetime }}</td>
        {% else %}
            <td class="time">{{ p.timestamp|format_time }}</td>
        {% endif %}
            <td class="filename">{{ p.filename }}</td>
            <td class="status">{% if p.done %}{{ p.status|format_status_text }}{% else %}{% trans %}Preparing...{% endtrans %}{% endif %}</td>
        </tr>
{% else %}
        <tr>
            <td colspan="3" class="no_printjobs">{% trans %}no print jobs yet{% endtrans %}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

</div>

{% endblock core %}
