{% extends "contest.html" %}

{% block core %}


<div class="span9 printing">

<div class="page-header">
    <h1>{{ _("Printing") }}</h1>
</div>

<h2 style="margin-bottom: 10px">{{ _("Print") }}</h2>

{% if remaining_jobs > 0 %}
    {% if pdf_printing_allowed %}
    {{ _("You can print %(remaining_jobs)d more text or PDF files of up to %(max_pages)d pages each.") % {"remaining_jobs": remaining_jobs, "max_pages": max_pages} }}
    {% else %}
    {{ _("You can print %(remaining_jobs)d more text files of up to %(max_pages)d pages each.") % {"remaining_jobs": remaining_jobs, "max_pages": max_pages} }}
    {% endif %}

<div id="print" class="row">
    <form class="form-horizontal" enctype="multipart/form-data" action="{{ contest_url("printing") }}" method="POST">
        {% module xsrf_form_html() %}
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="input">{% if pdf_printing_allowed %}{{ _("File (text or PDF)") }}{% else %}{{ _("File (text)") }}{% endif %}</label>
                <div class="controls">
                    <input type="file" class="input-xlarge" id="input" name="file"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">{{ _("Submit") }}</button>
                    <button type="reset" class="btn">{{ _("Reset") }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% else %}
    {{ _("You cannot print anything any more as you have used up your printing quota.") }}
{% endif %}


<h2 style="margin: 40px 0 10px">{{ _("Previous print jobs") }}</h2>

{% set show_date = not printjobs|map(attribute="timestamp")|all("today") %}


<table id="printjob_list" class="table table-bordered table-striped">
    <colgroup>
{% if show_date %}
        <col class="datetime"/>
{% else %}
        <col class="time"/>
{% endif %}
        <col class="filename"/>
        <col class="status"/>
    </colgroup>
    <thead>
        <tr>
{% if show_date %}
            <th class="datetime">{{ _("Date and time") }}</th>
{% else %}
            <th class="time">{{ _("Time") }}</th>
{% endif %}
            <th class="filename">{{ _("File name") }}</th>
            <th class="status">{{ _("Status") }}</th>
        </tr>
    </thead>
    <tbody>
{% if len(printjobs) == 0 %}
        <tr>
            <td colspan="3" class="no_printjobs">{{ _("no print jobs yet") }}</td>
        </tr>
{% else %}
    {% for p_idx, p in enumerate(sorted(printjobs, key=lambda p: p.timestamp, reverse=True)) %}
        <tr>
        {% if show_date %}
            <td class="datetime">{{ translation.format_datetime(p.timestamp, timezone) }}</td>
        {% else %}
            <td class="time">{{ translation.format_time(p.timestamp, timezone) }}</td>
        {% endif %}
            <td class="filename">{{ p.filename }}</td>
            <td class="status">{{ format_status_text(p.status, translation=translation) if p.done else _("Preparing...") }}</td>
        </tr>
    {% endfor %}
{% endif %}
    </tbody>
</table>

{% endblock core %}
