{% set status = sr.get_status() if sr is defined else SubmissionResult.COMPILING  %}
<tr data-submission="{{ s_idx }}" data-status="{{ status }}">
{% if show_date %}
    <td class="datetime">{{ s.timestamp|format_datetime }}</td>
{% else %}
    <td class="time">{{ s.timestamp|format_time }}</td>
{% endif %}
    <td class="status">
{% if status == SubmissionResult.COMPILING %}
        {% trans %}Compiling...{% endtrans %}
{% elif status == SubmissionResult.COMPILATION_FAILED %}
        {% trans %}Compilation failed{% endtrans %}
        <a class="details">{% trans %}details{% endtrans %}</a>
{% elif status == SubmissionResult.EVALUATING %}
        {% trans %}Evaluating...{% endtrans %}
{% elif status == SubmissionResult.SCORING %}
        {% trans %}Scoring...{% endtrans %}
{% elif status == SubmissionResult.SCORED %}
        {% trans %}Evaluated{% endtrans %}
        <a class="details">{% trans %}details{% endtrans %}</a>
{% endif %}
    </td>
{% if score_type is defined and score_type.max_public_score > 0 %}
    {% if status == SubmissionResult.SCORED %}
    <td class="public_score {{ get_score_class(sr.public_score, score_type.max_public_score) }}">
        {{ score_type.format_score(sr.public_score, score_type.max_public_score, sr.public_score_details, task.score_precision, translation=translation) }}
    </td>
    {% else %}
    <td class="public_score undefined">
        {% trans %}N/A{% endtrans %}
    </td>
    {% endif %}
{% endif %}
{% if score_type is defined and score_type.max_public_score < score_type.max_score %}
    {% if status == SubmissionResult.SCORED and (s.token is not none or actual_phase == 3) %}
    <td class="total_score {{ get_score_class(sr.score, score_type.max_score) }}">
        {{ score_type.format_score(sr.score, score_type.max_score, sr.score_details, task.score_precision, translation=translation) }}
    </td>
    {% else %}
    <td class="total_score undefined">
        {% trans %}N/A{% endtrans %}
    </td>
    {% endif %}
{% endif %}
{% if actual_phase >= +3 %}
    <td class="considered_in_score">
      {% if s.official %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
{% endif %}
{% if submissions_download_allowed %}
    <td class="files">
        {# We replace '.%l' with the actual language only when it occurs as an extension at the end of the string and only when #}
        {# there isn't another file with that name. This allows to securily reverse the replacement and should work great in #}
        {# the common case. Yet, it still allows the marginal case of both 'foo.%l' and 'foo.c' in the submission format. #}
        {% if s.files|length == 0 %}
        <a class="btn disabled">
            {% trans %}None{% endtrans %}
        </a>
        {% elif s.files|length == 1 %}
            {% set filename = next(iterkeys(s.files)) %}
            {% if s.language is not none %}
                {% set filename = filename|replace(".%l", (s.language|to_language).source_extension) %}
            {% endif %}
        <a class="btn" href="{{ contest_url("tasks", task.name, "submissions", s_idx, "files", filename) }}">
            {% trans %}Download{% endtrans %}
        </a>
        {% else %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                {% trans %}Download{% endtrans %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for filename in s.files %}
                {% if s.language is not none %}
                    {% set temp_filename = filename|replace(".%l", (s.language|to_language).source_extension) %}
                    {% if temp_filename not in s.files %}
                        {% set filename = temp_filename %}
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{{ contest_url("tasks", task.name, "submissions", s_idx, "files", filename) }}">
                        {{ filename }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </td>
{% endif %}
{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_tasks != TOKEN_MODE_DISABLED and actual_phase == 0 %}
    <td class="token">
        {% if s.token is not none %}
        <a class="btn disabled">{% trans %}Played{% endtrans %}</a>
        {% else %}
            {# TODO If the expiration or generation time are greater than valid_phase_end they "don't exist". It's useless to show "Wait..." in those cases. #}
            {% if can_play_token and not need_to_wait %}
        <form action="{{ contest_url("tasks", task.name, "submissions", s_idx, "token") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <button type="submit" class="btn btn-warning">{% trans %}Play!{% endtrans %}</button>
        </form>
            {% elif (can_play_token and need_to_wait) or (not can_play_token and tokens_info[1] is not none) %}
        <a class="btn btn-warning disabled">{% trans %}Wait...{% endtrans %}</a>
            {% else %}
        <a class="btn disabled">{% trans %}No tokens{% endtrans %}</a>
            {% endif %}
        {% endif %}
    </td>
{% endif %}
</tr>
