

{% if details is not none %}
<div class="score_details">
{{ details|safe }}
</div>
{% endif %}

{% if sr is not none and sr.compiled() %}
<h3>{% trans %}Compilation output{% endtrans %}</h3>{# TODO: trim long outputs and add facility to see raw #}
<table class="table table-bordered" style="table-layout: fixed;">
    <tbody>
        <tr>
            <th>{% trans %}Compilation outcome:{% endtrans %}</th>
            <td>{{ sr.compilation_text|format_status_text }}</td>
        </tr>
        <tr>
            <th>{% trans %}Compilation time:{% endtrans %}</th>
            <td>
{% if sr.compilation_time is none %}
    {% trans %}N/A{% endtrans %}
{% else %}
    {{ sr.compilation_time|format_duration }}
{% endif %}
            </td>
        </tr>
            <th>{% trans %}Memory used:{% endtrans %}</th>
            <td>
{% if sr.compilation_memory is none %}
    {% trans %}N/A{% endtrans %}
{% else %}
    {{ sr.compilation_memory|format_size }}
{% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% if sr.compilation_stdout is not none %}
<h4>{% trans %}Standard output{% endtrans %}</h4>
<pre>{{ sr.compilation_stdout }}</pre>
{% endif %}
{% if sr.compilation_stderr is not none %}
<h4>{% trans %}Standard error{% endtrans %}</h4>
<pre>{{ sr.compilation_stderr }}</pre>
{% endif %}
{% endif %}
