<table class="submission_list table table-bordered table-striped">
{% set num_cols = 2 %}
    <colgroup>
{% if show_date %}
        <col class="datetime"/>
{% else %}
        <col class="time"/>
{% endif %}
        <col class="status"/>
{% if score_type is defined %}
    {% if 0 < score_type.max_public_score < score_type.max_score %}
        <col class="public_score"/>
        <col class="total_score"/>
        {% set num_cols = num_cols + 2 %}
    {% else %}
        <col class="total_score"/>
        {% set num_cols = num_cols + 1 %}
    {% endif %}
{% endif %}
{% if submissions_download_allowed %}
        <col class="files"/>
    {% set num_cols = num_cols + 1 %}
{% endif %}
{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_task != TOKEN_MODE_DISABLED and actual_phase == 0 %}
        <col class="token"/>
    {% set num_cols = num_cols + 1 %}
{% endif %}
    </colgroup>
    <thead>
        <tr>
{% if show_date %}
            <th class="datetime">{% trans %}Date and time{% endtrans %}</th>
{% else %}
            <th class="time">{% trans %}Time{% endtrans %}</th>
{% endif %}
            <th class="status">{% trans %}Status{% endtrans %}</th>
{% if score_type is defined %}
    {% if 0 < score_type.max_public_score < score_type.max_score %}
            <th class="public_score">{% trans %}Public score{% endtrans %}</th>
            <th class="total_score">{% trans %}Total score{% endtrans %}</th>
    {% else %}
            <th class="total_score">{% trans %}Score{% endtrans %}</th>
    {% endif %}
{% endif %}
{% if submissions_download_allowed %}
            <th class="files">{% trans %}Files{% endtrans %}</th>
{% endif %}
{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_task != TOKEN_MODE_DISABLED and actual_phase == 0 %}
            <th class="token">{% trans %}Token{% endtrans %}</th>
{% endif %}
        </tr>
    </thead>
    <tbody>
    {% if submission_table_submissions|length == 0 %}
        <tr>
            <td colspan="{{ num_cols }}" class="no_submissions">{% trans %}no submissions{% endtrans %}</td>
        </tr>
    {% else %}
        {% for s in submission_table_submissions|sort(attribute="timestamp")|reverse %}
            {# loop.revindex is broken: https://github.com/pallets/jinja/issues/794 #}
            {% set s_idx = submissions|length - loop.index0 %}
            {% set sr = s.get_result(s.task.active_dataset) or undefined %}
            {% include "submission_row.html" %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>
