{% extends "contest.html" %}

{% set page = "task_submissions" %}

{% block additional_js %}

$(document).on("click", "#submission_list tbody tr td.status .details", function (event) {
    var submission_id = $(this).parent().parent().attr("data-submission");
    var modal = $("#submission_detail");
    var modal_body = modal.children(".modal-body");
    modal_body.html('<div class="loading"><img src="{{ url("static", "loading.gif") }}"/>{% trans %}loading...{% endtrans %}</div>');
    modal_body.load(utils.contest_url("tasks", "{{ task.name }}", "submissions", submission_id, "details"), function() {
        $(".score_details .subtask .subtask-head").each(function () {
            $(this).prepend("<i class=\"icon-chevron-right\"></i>");
        });
        $(".score_details .subtask .subtask-head").click(function () {
            $(this).parent().toggleClass("open");
            if ($(this).parent().hasClass("open")) {
                $(this).children("i").removeClass("icon-chevron-right").addClass("icon-chevron-down");
            } else {
                $(this).children("i").removeClass("icon-chevron-down").addClass("icon-chevron-right");
            }
        });
        $(".score_details table.testcase-list").addClass("table table-bordered table-striped");
        $(".score_details table.testcase-list tbody tr:not(.undefined) td.outcome").each(function () {
            $(this).html("<span class=\"outcome\">" + $(this).text() + "</span>");
        });
    });
    modal.modal("show");
});

function get_score_class (score, max_score) {
    if (score <= 0) {
        return "score_0";
    } else if (score >= max_score) {
        return "score_100";
    } else {
        return "score_0_100";
    }
};

update_submission_row = function (submission_id, data) {
    var row = $("#submission_list tbody tr[data-submission=\"" + submission_id + "\"]");
    row.attr("data-status", data["status"]);
    row.children("td.status").html(data["status_text"]);
    if (data["status"] == {{ SubmissionResult.SCORED }}) {
        if (data["public_score"] != undefined) {
            row.children("td.public_score").addClass(get_score_class(data["public_score"], data["max_public_score"]));
            row.children("td.public_score").removeClass("undefined");
            row.children("td.public_score").html(data["public_score_message"]);
        }
        if (data["score"] != undefined) {
            // This element may not exist, if max_public_score == max_score.
            row.children("td.total_score").addClass(get_score_class(data["score"], data["max_score"]));
            row.children("td.total_score").removeClass("undefined");
            row.children("td.total_score").html(data["score_message"]);
        }
    } else if (data["status"] != {{ SubmissionResult.COMPILATION_FAILED }}) {
        schedule_update_submission_row(submission_id);
    }
};

schedule_update_submission_row = function (submission_id) {
    setTimeout(function () {
        $.get(utils.contest_url("tasks", "{{ task.name }}", "submissions", submission_id), function (data) {
            update_submission_row(submission_id, data);
        });
    }, 10000);
};

$(document).ready(function () {
    $('#submission_list tbody tr[data-status][data-status!="{{ SubmissionResult.COMPILATION_FAILED }}"][data-status!="{{ SubmissionResult.SCORED }}"]').each(function (idx, elem) {
        schedule_update_submission_row($(this).attr("data-submission"));
    });
});

{% endblock additional_js %}

{% block core %}

<div class="span9 task_submissions">

<div class="page-header">
    <h1>{% trans name=task.title, short_name=task.name %}{{ name }} ({{ short_name }}) <small>submissions</small>{% endtrans %}</h1>
</div>


<h2 style="margin-bottom: 10px">{% trans %}Submit a solution{% endtrans %}</h2>

{% set task_type = get_task_type(dataset=task.active_dataset) %}
{% if task_type.ALLOW_PARTIAL_SUBMISSION %}
  <p><strong>{% trans %}You may submit any subset of outputs in a single submission.{% endtrans %}</strong></p>
{% endif %}

{% if submissions_left is not none %}
    <div class="span5">
        <p>
        {% trans submissions_left=submissions_left %}You can submit {{ submissions_left }} more solution(s).{% endtrans %}
        </p>
    </div>
{% endif %}

<div id="submit_solution" class="row">
    <div class="span5">
        <form class="form-horizontal" enctype="multipart/form-data" action="{{ contest_url("tasks", task.name, "submit") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <fieldset>
{% for filename in task.submission_format %}
                <div class="control-group">
                    <label class="control-label" for="input{{ loop.index0 }}">{{ filename|replace(".%l", ": ") }}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge"
                               id="input{{ loop.index0 }}" name="{{ filename }}"
                               onchange="CMS.CWSUtils.filter_languages($(this).parents('form').find('select[name=language] option'),
                                                                       $(this).parents('form').find('input[type=file]'))"/>
                    </div>
                </div>
{% endfor %}
{% if task.submission_format|any("endswith", ".%l") %}
                <div class="control-group">
                    <div class="controls">
                        <select name="language">
{% for lang in contest.languages %}
                            <option value="{{ lang }}">{{ lang }}</option>
{% endfor %}
                        </select>
                    </div>
                </div>
{% endif %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>
                        <button type="reset" class="btn">{% trans %}Reset{% endtrans %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% if task.submission_format|length > 1 and not task.submission_format|any("endswith", ".%l") %}
    <div class="span4">
        <form class="form-horizontal" enctype="multipart/form-data" action="{{ contest_url("tasks", task.name, "submit") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="input_zip">{% trans %}submission.zip{% endtrans %}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge" id="input_zip" name="submission"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>
                        <button type="reset" class="btn">{% trans %}Reset{% endtrans %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
</div>


<h2 style="margin: 40px 0 10px">{% trans %}Previous submissions{% endtrans %}</h2>

{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_tasks != TOKEN_MODE_DISABLED and actual_phase == 0 %}
<div style="padding-bottom:10px">
    {% set can_play_token = actual_phase == 0 and (tokens_info[0] > 0 or tokens_info[0] == -1) %}
    {% set need_to_wait = tokens_info[2] is not none %}
    {% if can_play_token %}
        {% if tokens_info[0] == -1 %}
            {% trans %}Right now, you have infinite tokens available on this task.{% endtrans %}
        {% elif tokens_info[0] == 1 %}
            {% trans %}Right now, you have one token available on this task.{% endtrans %}
        {% else %}
            {% trans tokens=tokens_info[0] %}Right now, you have {{ tokens }} tokens available on this task.{% endtrans %}
        {% endif %}
        {% if need_to_wait %}
            {% trans expiration_time=tokens_info[2]|format_datetime_smart %}
                But you have to wait until {{ expiration_time }} to use them.
            {% endtrans %}
        {% endif %}
        {% if tokens_info[1] is not none %}
            {% trans gen_time=tokens_info[1]|format_datetime_smart %}
                You will receive a new token at {{ gen_time }}.
            {% endtrans %}
        {% else %}
            {% trans %}In the current situation, no more tokens will be generated.{% endtrans %}
        {% endif %}
    {% else %}
        {% trans %}Right now, you do not have tokens available for this task.{% endtrans %}
        {% if actual_phase == 0 and tokens_info[1] is not none %}
            {% trans gen_time=tokens_info[1]|format_datetime_smart %}
                You will receive a new token at {{ gen_time }}.
            {% endtrans %}
            {% if tokens_info[2] is not none and tokens_info[2] > tokens_info[1] %}
                {% trans expiration_time=tokens_info[2]|format_datetime_smart %}
                    But you will have to wait until {{ expiration_time }} to use it.
                {% endtrans %}
            {% endif %}
        {% else %}
            {% trans %}In the current situation, no more tokens will be generated.{% endtrans %}
        {% endif %}
    {% endif %}
</div>
{% endif %}


{% set score_type = get_score_type(dataset=task.active_dataset) %}

{% set show_date = not submissions|map(attribute="timestamp")|all("today") %}


<table id="submission_list" class="table table-bordered table-striped">
{% set num_cols = 2 %}
    <colgroup>
{% if show_date %}
        <col class="datetime"/>
{% else %}
        <col class="time"/>
{% endif %}
        <col class="status"/>
{% if score_type is defined %}
    {% if 0 < score_type.max_public_score < score_type.max_score %}
        <col class="public_score"/>
        <col class="total_score"/>
        {% set num_cols = num_cols + 2 %}
    {% else %}
        <col class="total_score"/>
        {% set num_cols = num_cols + 1 %}
    {% endif %}
{% endif %}
{% if actual_phase >= +3 %}
        <col class="considered_in_score"/>
    {% set num_cols = num_cols + 1 %}
{% endif %}
{% if submissions_download_allowed %}
        <col class="files"/>
    {% set num_cols = num_cols + 1 %}
{% endif %}
{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_tasks != TOKEN_MODE_DISABLED and actual_phase == 0 %}
        <col class="token"/>
    {% set num_cols = num_cols + 1 %}
{% endif %}
    </colgroup>
    <thead>
        <tr>
{% if show_date %}
            <th class="datetime">{% trans %}Date and time{% endtrans %}</th>
{% else %}
            <th class="time">{% trans %}Time{% endtrans %}</th>
{% endif %}
            <th class="status">{% trans %}Status{% endtrans %}</th>
{% if score_type is defined %}
    {% if 0 < score_type.max_public_score < score_type.max_score %}
            <th class="public_score">{% trans %}Public score{% endtrans %}</th>
            <th class="total_score">{% trans %}Total score{% endtrans %}</th>
    {% else %}
            <th class="total_score">{% trans %}Score{% endtrans %}</th>
    {% endif %}
{% endif %}
{% if actual_phase >= +3 %}
            <th class="considered_in_score">{% trans %}Official{% endtrans %}</th>
{% endif %}
{% if submissions_download_allowed %}
            <th class="files">{% trans %}Files{% endtrans %}</th>
{% endif %}
{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_tasks != TOKEN_MODE_DISABLED and actual_phase == 0 %}
            <th class="token">{% trans %}Token{% endtrans %}</th>
{% endif %}
        </tr>
    </thead>
    <tbody>
    {% if submissions|length == 0 %}
        <tr>
            <td colspan="{{ num_cols }}" class="no_submissions">{% trans %}no submissions yet{% endtrans %}</td>
        </tr>
    {% else %}
        {% for s in submissions|sort(attribute="timestamp")|reverse %}
            {# loop.revindex is broken: https://github.com/pallets/jinja/issues/794 #}
            {% set s_idx = submissions|length - loop.index0 %}
            {% set sr = s.get_result(s.task.active_dataset) or undefined %}
            {% include "submission_row.html" %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>

<div class="modal fade hide wide" id="submission_detail">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
        <h3>{% trans %}Submission details{% endtrans %}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans %}Close{% endtrans %}</a>
    </div>
</div>

</div>
{% endblock core %}
