{% extends "contest.html" %}
{% block core %}


{% if actual_phase == 0 or actual_phase == 3 or current_user.unrestricted %}

<div class="span9 task_description">


<div class="page-header">
    <h1>{% raw _("%(name)s (%(short_name)s) <small>description</small>") % {"name": escape(task.title), "short_name": escape(task.name)} %}</h1>
</div>


<h2>{{ _("Statement") }}</h2>

{% if task.statements|length == 0 %}
<div class="row statement no_statements">
    <div class="span9">
        {{ _("no statement available") }}
    </div>
</div>
{% elif task.statements|length == 1 %}
<div class="row statement one_statement">
    <div class="span9">
    {% for lang_code in task.statements %}
        <a href="{{ contest_url("tasks", task.name, "statements", lang_code) }}" class="btn btn-large btn-success">{{ _("Download task statement") }}</a>
    {% endfor %}
    </div>
</div>
{% else %}
<div class="statement many_statements">
    <div class="main_statements">
        <p>
            {{ _("The statement for this task is available in multiple versions, in different languages.") }}
            {{ _("You can see (and download) all of them using the list on the right.") }}
            {{ _("Some suggested translations follow.") }}
        </p>
    {% set task_primary = primary_statements %}
    {% for statement in itervalues(task.statements)|sort(attribute="language_name") %}
        {% if statement.language in task_primary %}
        <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}" class="btn btn-large btn-success">
            {% if statement.language != statement.language_name %}
                {% raw _("Statement in <b>%s</b>") % escape(statement.language_name) %}
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% endif %}
        </a>
        {% endif %}
    {% endfor %}
    {% for statement in itervalues(task.statements)|sort(attribute="language_name") %}
        {% if statement.language in user_primary and statement.language not in task_primary %}
        <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}" class="btn btn-large">
            {% if statement.language != statement.language_name %}
                {% raw _("Statement in <b>%s</b>") % escape(statement.language_name) %}
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% endif %}
        </a>
        {% endif %}
    {% endfor %}
    </div>
    <div class="all_statements well">
        <div>
            <ul>
    {% for statement in itervalues(task.statements)|sort(attribute="language_name") %}
                <li>
                    <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}">
        {% if statement.language != statement.language_name %}
            {% raw _("<b>%s</b>") % escape(statement.language_name) %}
        {% else %}
            {% raw _("%s") % escape(statement.language_name) %}
        {% endif %}
                    </a>
                </li>
    {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}


<h2>{{ _("Some details") }}</h2>

<table class="table table-bordered table-nohover" style="table-layout: fixed">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>{{ _("Type") }}</th>
            <td colspan="2">{% set task_type = get_task_type(dataset=task.active_dataset) %}{{ task_type.name }}</td>
        </tr>
{% if task.active_dataset.time_limit is not none %}
        <tr>
            <th>{{ _("Time limit") }}</th>
            <td colspan="2">{{ translation.format_duration(task.active_dataset.time_limit, length="long") }}</td>
        </tr>
{% endif %}
{% if task.active_dataset.memory_limit is not none %}
        <tr>
            <th>{{ _("Memory limit") }}</th>
            <td colspan="2">{{ translation.format_size(task.active_dataset.memory_limit * 1024 * 1024) }}</td>
        </tr>
{% endif %}
{% set compilation_commands = task_type.get_compilation_commands(task.submission_format|map(attribute="filename")|list) %}
{% if compilation_commands is not none %}
{% set compilation_commands = compilation_commands|dictselect("in", contest.languages, by="key") %}
<tr>
    <th rowspan="{{ compilation_commands|length }}">{{ _("Compilation commands") }}</th>
    {% for l, c in compilation_commands|dictsort(by="key") %}
        {% if not loop.first %}
</tr>
<tr>
        {% endif %}
    <td>{{ get_language(l).name }}</td>
    <td class="compilation_command_cell">
{% for cmd in c %}
        <code class="compilation_command">{{ cmd|join(" ") }}</code>
{% endfor %}
    </td>
    {% endfor %}
</tr>
{% endif %}

{% if tokens_contest != 0 and tokens_tasks != 0 %}
<tr>
    <th>{{ _("Tokens") }}</th>
    <td colspan="2" class="token_rules">
    {% if tokens_contest == 2 and tokens_tasks == 2 %}
        <p>
        {{ _("You have an infinite number of tokens.") }}
        </p>
    {% elif tokens_contest == 2 %}
        <p>
        {{ format_token_rules(task|extract_token_params, translation=translation) }}
        </p>
    {% elif tokens_tasks == 2 %}
        <p>
        {% raw _("You can find the rules for the %(type_pl)s on the <a href=\"%(contest_root)s\">contest overview page</a>.") % {"type_pl": _("tokens"), "contest_root": contest_url()} %}
        </p>
    {% else %}
        <p>
        {{ format_token_rules(task|extract_token_params, t_type="task", translation=translation) }}
        </p>

        <p>
        {{ _("Remember that to see the detailed result of a submission you need to use both a contest-token and a task-token.") }}
        {% raw _("You can find the rules for the %(type_pl)s on the <a href=\"%(contest_root)s\">contest overview page</a>.") % {"type_pl": _("contest-tokens"), "contest_root": contest_url()} %}
        </p>
    {% endif %}
    </td>
</tr>
{% endif %}
    </tbody>
</table>



{% if task.attachments|length > 0 %}
    <h2>{{ _("Attachments") }}</h2>
    <div id="attachments">
        <ul>
    {% for filename, attachment in task.attachments|dictsort(by="key") %}
        {% set mime_type = get_mimetype_for_file_name(filename) %}
        {% if mime_type is not none %}
            {% set type_name = get_name_for_mimetype(mime_type) %}
            {% set type_icon = get_icon_for_mimetype(mime_type) %}
        {% else %}
            {% set type_name = none %}
            {% set type_icon = none %}
        {% endif %}
        {% set file_size = handler.application.service.file_cacher.get_size(attachment.digest) %}
            <li>
                <a href="{{ contest_url("tasks", task.name, "attachments", filename) }}" class="btn">
            {% if type_icon is not none %}
                    <img src="{{ url("static", "img", "mimetypes", "%s.png" % type_icon) }}" alt="{{ mime_type }}" />
            {% else %}
                    <img src="{{ url("static", "img", "mimetypes", "unknown.png") }}" alt="{{ _("unknown") }}" />
            {% endif %}
                    <span class="first_line">
                        <span class="name">{{ filename }}</span>
                        <span class="size">{{ translation.format_size(file_size) }}</span>
                    </span>
            {% if type_name is not none %}
                    <span class="type">{{ translation.translate_mimetype(type_name) }}</span>
            {% endif %}
                </a>
            </li>
    {% endfor %}
        </ul>
    </div>
{% endif %}

</div>
{% endif %}

{% endblock core %}
