{% extends "contest.html" %}

{% set page = "task_description" %}

{% block core %}


<div class="span9 task_description">


<div class="page-header">
    <h1>{% trans name=task.title, short_name=task.name %}{{ name }} ({{ short_name }}) <small>description</small>{% endtrans %}</h1>
</div>


<h2>{% trans %}Statement{% endtrans %}</h2>

{% if task.statements|length == 0 %}
<div class="row statement no_statements">
    <div class="span9">
        {% trans %}no statement available{% endtrans %}
    </div>
</div>
{% elif task.statements|length == 1 %}
<div class="row statement one_statement">
    <div class="span9">
    {% for lang_code in task.statements %}
        <a href="{{ contest_url("tasks", task.name, "statements", lang_code) }}" class="btn btn-large btn-success">{% trans %}Download task statement{% endtrans %}</a>
    {% endfor %}
    </div>
</div>
{% else %}
<div class="statement many_statements">
    <div class="main_statements">
        <p>
            {% trans %}The statement for this task is available in multiple versions, in different languages.{% endtrans %}
            {% trans %}You can see (and download) all of them using the list on the right.{% endtrans %}
            {% trans %}Some suggested translations follow.{% endtrans %}
        </p>
    {% set task_primary = primary_statements %}
    {% for statement in itervalues(task.statements)|sort(attribute="language_name") %}
        {% if statement.language in task_primary %}
        <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}" class="btn btn-large btn-success">
            {% if statement.language != statement.language_name %}
                {% trans lang=statement.language_name %}Statement in <b>{{ lang }}</b>{% endtrans %}
            {% else %}
                {% trans lang=statement.language_name %}Statement in {{ lang }}{% endtrans %}
            {% endif %}
        </a>
        {% endif %}
    {% endfor %}
    {% for statement in itervalues(task.statements)|sort(attribute="language_name") %}
        {% if statement.language in user_primary and statement.language not in task_primary %}
        <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}" class="btn btn-large">
            {% if statement.language != statement.language_name %}
                {% trans lang=statement.language_name %}Statement in <b>{{ lang }}</b>{% endtrans %}
            {% else %}
                {% trans lang=statement.language_name %}Statement in {{ lang }}{% endtrans %}
            {% endif %}
        </a>
        {% endif %}
    {% endfor %}
    </div>
    <div class="all_statements well">
        <div>
            <ul>
    {% for statement in itervalues(task.statements)|sort(attribute="language_name") %}
                <li>
                    <a href="{{ contest_url("tasks", task.name, "statements", statement.language) }}">
        {% if statement.language != statement.language_name %}
            {% trans lang=statement.language_name %}<b>{{ lang }}</b>{% endtrans %}
        {% else %}
            {% trans lang=statement.language_name %}{{ lang }}{% endtrans %}
        {% endif %}
                    </a>
                </li>
    {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}


<h2>{% trans %}Some details{% endtrans %}</h2>

<table class="table table-bordered table-nohover" style="table-layout: fixed">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>{% trans %}Type{% endtrans %}</th>
            <td colspan="2">{% set task_type = get_task_type(dataset=task.active_dataset) %}{{ task_type.name }}</td>
        </tr>
{% if task.active_dataset.time_limit is not none %}
        <tr>
            <th>{% trans %}Time limit{% endtrans %}</th>
            <td colspan="2">{{ task.active_dataset.time_limit|format_duration(length="long") }}</td>
        </tr>
{% endif %}
{% if task.active_dataset.memory_limit is not none %}
        <tr>
            <th>{% trans %}Memory limit{% endtrans %}</th>
            <td colspan="2">{{ task.active_dataset.memory_limit|format_size }}</td>
        </tr>
{% endif %}
{% set compilation_commands = task_type.get_compilation_commands(task.submission_format|map(attribute="filename")|list) %}
{% if compilation_commands is not none %}
{% set compilation_commands = compilation_commands|dictselect("in", contest.languages, by="key") %}
<tr>
    <th rowspan="{{ compilation_commands|length }}">{% trans %}Compilation commands{% endtrans %}</th>
    {% for l, c in compilation_commands|dictsort(by="key") %}
        {% if not loop.first %}
</tr>
<tr>
        {% endif %}
    <td>{{ (l|to_language).name }}</td>
    <td class="compilation_command_cell">
{% for cmd in c %}
        <code class="compilation_command">{{ cmd|join(" ") }}</code>
{% endfor %}
    </td>
    {% endfor %}
</tr>
{% endif %}

{% if tokens_contest != TOKEN_MODE_DISABLED and tokens_tasks != TOKEN_MODE_DISABLED %}
<tr>
    <th>{% trans %}Tokens{% endtrans %}</th>
    <td colspan="2" class="token_rules">
    {% if tokens_contest == TOKEN_MODE_INFINITE and tokens_tasks == TOKEN_MODE_INFINITE %}
        <p>
        {% trans %}You have an infinite number of tokens.{% endtrans %}
        </p>
    {% elif tokens_contest == TOKEN_MODE_INFINITE %}
        <p>
        {{ task|extract_token_params|format_token_rules }}
        </p>
    {% elif tokens_tasks == TOKEN_MODE_INFINITE %}
        <p>
        {% trans type_pl=_("tokens"), contest_root=contest_url() %}You can find the rules for the {{ type_pl }} on the <a href="{{ contest_root }}">contest overview page</a>.{% endtrans %}
        </p>
    {% else %}
        <p>
        {{ task|extract_token_params|format_token_rules(t_type="task") }}
        </p>

        <p>
        {% trans %}Remember that to see the detailed result of a submission you need to use both a contest-token and a task-token.{% endtrans %}
        {% trans type_pl=_("contest-tokens"), contest_root=contest_url() %}You can find the rules for the {{ type_pl }} on the <a href="{{ contest_root }}">contest overview page</a>.{% endtrans %}
        </p>
    {% endif %}
    </td>
</tr>
{% endif %}
    </tbody>
</table>



{% if task.attachments|length > 0 %}
    <h2>{% trans %}Attachments{% endtrans %}</h2>
    <div id="attachments">
        <ul>
    {% for filename, attachment in task.attachments|dictsort(by="key") %}
        {% set mime_type = get_mimetype_for_file_name(filename) %}
        {% if mime_type is not none %}
            {% set type_name = get_name_for_mimetype(mime_type) %}
            {% set type_icon = get_icon_for_mimetype(mime_type) %}
        {% else %}
            {% set type_name = none %}
            {% set type_icon = none %}
        {% endif %}
        {% set file_size = handler.application.service.file_cacher.get_size(attachment.digest) %}
            <li>
                <a href="{{ contest_url("tasks", task.name, "attachments", filename) }}" class="btn">
            {% if type_icon is not none %}
                    <img src="{{ url("static", "img", "mimetypes", "%s.png"|format(type_icon)) }}" alt="{{ mime_type }}" />
            {% else %}
                    <img src="{{ url("static", "img", "mimetypes", "unknown.png") }}" alt="{% trans %}unknown{% endtrans %}" />
            {% endif %}
                    <span class="first_line">
                        <span class="name">{{ filename }}</span>
                        <span class="size">{{ file_size|format_size }}</span>
                    </span>
            {% if type_name is not none %}
                    <span class="type">{{ translation.translate_mimetype(type_name) }}</span>
            {% endif %}
                </a>
            </li>
    {% endfor %}
        </ul>
    </div>
{% endif %}

</div>
{% endblock core %}
