{% extends "contest.html" %}

{% set page = "test_interface" %}

{% block additional_js %}
$(document).on("click", ".user_test_list tbody tr td.status .details", function (event) {
    var $this = $(this);
    var task_id = $this.parent().parent().parent().parent().attr("data-task");
    var user_test_id = $this.parent().parent().attr("data-user-test");
    var modal = $("#user_test_detail");
    var modal_body = modal.children(".modal-body");
    modal_body.html('<div class="loading"><img src="{{ url("static", "loading.gif") }}"/>{% trans %}loading...{% endtrans %}</div>');
    modal_body.load(utils.contest_url("tasks", task_id, "tests", user_test_id, "details"));
    modal.modal("show");
});

update_user_test_row = function (task_id, user_test_id, data) {
    var row = $(".user_test_list[data-task=\"" + task_id + "\"] tbody tr[data-user-test=\"" + user_test_id + "\"]");
    row.attr("data-status", data["status"]);
    row.children("td.status").html(data["status_text"]);
    if (data["status"] == {{ UserTestResult.EVALUATED }}) {
        if (data["output"]) {
            var btn = row.children("td.output").children("a.btn");
            btn.text('{% trans %}Download{% endtrans %}');
            btn.removeClass("disabled");
            btn.attr("href", utils.contest_url("tasks", task_id, "tests", user_test_id, "output"));
        } else {
            row.children("td.output").children("a.btn").text("{% trans %}N/A{% endtrans %}");
        }
        if (data["execution_time"] != null) {
            row.children("td.execution_time").removeClass("undefined");
            row.children("td.execution_time").text(data["execution_time"]);
        }
        if (data["memory"] != null) {
            row.children("td.memory").removeClass("undefined");
            row.children("td.memory").text(data["memory"]);
        }
    } else if (data["status"] == {{ UserTestResult.COMPILATION_FAILED }}) {
        row.children("td.output").children("a.btn").text("{% trans %}N/A{% endtrans %}");
    } else {
        schedule_update_user_test_row(task_id, user_test_id);
    }
}

schedule_update_user_test_row = function (task_id, user_test_id) {
    setTimeout(function () {
        $.get(utils.contest_url("tasks", task_id, "tests", user_test_id), function (data) {
            update_user_test_row(task_id, user_test_id, data);
        });
    }, 2000);
}

$(document).ready(function () {
    $('.user_test_list tbody tr[data-status][data-status!="{{ UserTestResult.COMPILATION_FAILED }}"][data-status!="{{ UserTestResult.EVALUATED }}"]').each(function (idx, elem) {
        var $this = $(this);
        schedule_update_user_test_row($this.parent().parent().attr("data-task"), $this.attr("data-user-test"));
    });
});
{% endblock additional_js %}

{% block core %}


<div class="span9 test_interface">

<div class="page-header">
    <h1>{% trans %}Testing{% endtrans %}</h1>
</div>


<ul class="nav nav-tabs">
{% for task in contest.tasks %}
    {% set task_type = get_task_type(dataset=task.active_dataset) %}
    {% if task_type.testable %}
    <li{% if task == default_task %} class="active"{% endif %}><a href="#test_{{ task.name }}" data-toggle="tab">{{ task.name }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<div class="tab-content">
{% for task in contest.tasks %}
    {% set task_type = get_task_type(dataset=task.active_dataset) %}
    {% if task_type.testable %}
<div class="tab-pane{% if task == default_task %} active{% endif %}" id="test_{{ task.name }}">

<h2 style="margin-bottom: 10px">{% trans %}Submit a test{% endtrans %}</h2>

{% if user_tests_left[task.id] is not none %}
    <div class="span5">
        <p>
        {% trans user_tests_left=user_tests_left[task.id] %}You can submit {{ user_tests_left }} more test(s).{% endtrans %}
        </p>
    </div>
{% endif %}

<div class="submit_test row">
    <div class="span5">
        <form class="form-horizontal" enctype="multipart/form-data" action="{{ contest_url("tasks", task.name, "test") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <fieldset>
{% for filename in task.submission_format + task_type.get_user_managers() %}
                <div class="control-group">
                    <label class="control-label" for="input{{ loop.index0 }}">{{ filename|replace(".%l", "") }}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge"
                               id="input{{ loop.index0 }}" name="{{ filename }}"
                               onchange="CMS.CWSUtils.filter_languages($(this).parents('form').find('select[name=language] option'),
                                                                       $(this).parents('form').find('input[type=file]').not('#input_file'))"/>
                    </div>
                </div>
{% endfor %}
                <div class="control-group">
                    <label class="control-label" for="input_file">{% trans %}input{% endtrans %}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge" id="input_file" name="input"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <select name="language">
{% for lang in contest.languages %}
{% if task.languages == None or lang in task.languages %}
                            <option value="{{ lang }}">{{ lang }}</option>
{% endif %}
{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>
                        <button type="reset" class="btn">{% trans %}Reset{% endtrans %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% if not (task.submission_format + task_type.get_user_managers())|any("endswith", ".%l") %}
    <div class="span4">
        <form class="form-horizontal" enctype="multipart/form-data" action="{{ contest_url("tasks", task.name, "test") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="input_zip">{% trans %}submission.zip{% endtrans %}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge" id="input_zip" name="submission"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>
                        <button type="reset" class="btn">{% trans %}Reset{% endtrans %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
</div>


<h2 style="margin: 40px 0 10px">{% trans %}Previous tests{% endtrans %}</h2>

{% set show_date = not user_tests[task.id]|map(attribute="timestamp")|all("today") %}


<table class="user_test_list table table-bordered table-striped" data-task="{{ task.name }}">
    <colgroup>
{% if show_date %}
        <col class="datetime"/>
{% else %}
        <col class="time"/>
{% endif %}
        <col class="status"/>
        <col class="time"/>
        <col class="memory"/>
        <col class="input"/>
        <col class="output"/>
        <col class="files"/>
    </colgroup>
    <thead>
        <tr>
{% if show_date %}
            <th class="datetime">{% trans %}Date and time{% endtrans %}</th>
{% else %}
            <th class="time">{% trans %}Time{% endtrans %}</th>
{% endif %}
            <th class="status">{% trans %}Status{% endtrans %}</th>
            <th class="time">{% trans %}Execution time{% endtrans %}</th>
            <th class="memory">{% trans %}Memory used{% endtrans %}</th>
            <th class="input">{% trans %}Input{% endtrans %}</th>
            <th class="output">{% trans %}Output{% endtrans %}</th>
            <th class="files">{% trans %}Files{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for t in user_tests[task.id]|sort(attribute="timestamp")|reverse %}
        {# loop.revindex is broken: https://github.com/pallets/jinja/issues/794 #}
        {% set t_idx = user_tests[task.id]|length - loop.index0 %}
        {% set tr = t.get_result(t.task.active_dataset) or undefined %}
        {% include "user_test_row.html" %}
    {% else %}
        <tr>
            <td colspan="7" class="no_user_tests">{% trans %}no tests yet{% endtrans %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>




</div>
    {% endif %}
{% endfor %}
</div>

<div class="modal fade hide" id="user_test_detail">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
        <h3>{% trans %}Test details{% endtrans %}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans %}Close{% endtrans %}</a>
    </div>
</div>

</div>

{% endblock core %}
