
{% if show_date %}
    {% set col1 = "<td class=\"datetime\">%s</td>"|format(t.timestamp|format_datetime) %}
{% else %}
    {% set col1 = "<td class=\"time\">%s</td>"|format(t.timestamp|format_time) %}
{% endif %}
{% if tr is none or not tr.compiled() %}
<tr data-user-test="{{ t_idx }}" data-status="1">
    {% raw col1 %}
    <td class="status">
        {{ _("Compiling...") }}
    </td>
{% elif tr.compilation_outcome == "fail" %}
<tr data-user-test="{{ t_idx }}" data-status="2">
    {% raw col1 %}
    <td class="status">
        {{ _("Compilation failed") }}
        <a class="details">{{ _("details") }}</a>
    </td>
{% elif not tr.evaluated() %}
<tr data-user-test="{{ t_idx }}" data-status="3">
    {% raw col1 %}
    <td class="status">
        {{ _("Executing...") }}
    </td>
{% else %}
<tr data-user-test="{{ t_idx }}" data-status="4">
    {% raw col1 %}
    <td class="status">
        {{ _("Executed") }}
        <a class="details">{{ _("details") }}</a>
    </td>
{% endif %}
{% if tr is none or tr.execution_time is none %}
    <td class="time undefined">
        {{ _("N/A") }}
    </td>
{% else %}
    <td class="time">
        {{ tr.execution_time|format_duration }}
    </td>
{% endif %}
{% if tr is none or tr.execution_memory is none %}
    <td class="memory undefined">
        {{ _("N/A") }}
    </td>
{% else %}
    <td class="memory">
        {{ tr.execution_memory|format_size }}
    </td>
{% endif %}
    <td class="input">
        <a class="btn" href="{{ contest_url("tasks", task.name, "tests", t_idx, "input") }}">
            {{ _("Download") }}
        </a>
    </td>
    <td class="output">
    {% if tr is none or not tr.compiled() or (tr.compilation_outcome == 'ok' and not tr.evaluated()) %}
        <a class="btn btn-primary disabled">
            {{ _("Wait...") }}
        </a>
    {% else %}
        {% if tr.output is none %}
        <a class="btn btn-primary disabled">
            {{ _("N/A") }}
        </a>
        {% else %}
        <a class="btn btn-primary" href="{{ contest_url("tasks", task.name, "tests", t_idx, "output") }}">
            {{ _("Download") }}
        </a>
        {% endif %}
    {% endif %}
    </td>
    <td class="files">
        {# We replace '.%l' with the actual language only when it occurs as an extension at the end of the string and only when #}
        {# there isn't another file with that name. This allows to securily reverse the replacement and should work great in #}
        {# the common case. Yet, it still allows the marginal case of both 'foo.%l' and 'foo.c' in the submission format. #}
        {% set files = iterkeys(t.files)|list + iterkeys(t.managers)|list %}
        {% if files|length == 0 %}
        <a class="btn disabled">
            {{ _("None") }}
        </a>
        {% elif files|length == 1 %}
            {% set filename = next(iterkeys(t.files)) %}
            {% set real_filename = filename|replace(".%l", (t.language|to_language).source_extension) %}
        <a class="btn" href="{{ contest_url("tasks", task.name, "tests", t_idx, "files", real_filename) }}">
            {{ _("Download") }}
        </a>
        {% else %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                {{ _("Download") }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for filename in files %}
                {% if t.language is not none %}
                    {% set real_filename = filename|replace(".%l", (t.language|to_language).source_extension) %}
                {% else %}
                    {% set real_filename = filename %}
                {% endif %}
                <li>
                    <a href="{{ contest_url("tasks", task.name, "tests", t_idx, "files", filename) }}">
                        {{ real_filename }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </td>
</tr>
