{% from cms.server import format_size %}
{% if show_date %}
    {% set col1 = "<td class=\"datetime\">%s</td>" % format_datetime(t.timestamp, timezone, locale=locale) %}
{% else %}
    {% set col1 = "<td class=\"time\">%s</td>" % format_time(t.timestamp, timezone, locale=locale) %}
{% end %}
{% if tr is None or not tr.compiled() %}
<tr data-user-test="{{ t_idx }}" data-status="1">
    {% raw col1 %}
    <td class="status">
        {{ _("Compiling...") }}
    </td>
{% elif tr.compilation_outcome == "fail" %}
<tr data-user-test="{{ t_idx }}" data-status="2">
    {% raw col1 %}
    <td class="status">
        {{ _("Compilation failed") }}
        <a class="details">{{ _("details") }}</a>
    </td>
{% elif not tr.evaluated() %}
<tr data-user-test="{{ t_idx }}" data-status="3">
    {% raw col1 %}
    <td class="status">
        {{ _("Executing...") }}
    </td>
{% else %}
<tr data-user-test="{{ t_idx }}" data-status="4">
    {% raw col1 %}
    <td class="status">
        {{ _("Executed") }}
        <a class="details">{{ _("details") }}</a>
    </td>
{% end %}
{% if tr is None or tr.execution_time is None %}
    <td class="time undefined">
        {{ _("N/A") }}
    </td>
{% else %}
    <td class="time">
        {{ _("%(seconds)0.3f s") % {'seconds': tr.execution_time} }}
    </td>
{% end %}
{% if tr is None or tr.execution_memory is None %}
    <td class="memory undefined">
        {{ _("N/A") }}
    </td>
{% else %}
    <td class="memory">
        {{ format_size(tr.execution_memory) }}
    </td>
{% end %}
    <td class="input">
        <a class="btn" href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/tests/{{ t_idx }}/input">
            {{ _("Download") }}
        </a>
    </td>
    <td class="output">
    {% if tr is None or not tr.compiled() or (tr.compilation_outcome == 'ok' and not tr.evaluated()) %}
        <a class="btn btn-primary disabled">
            {{ _("Wait...") }}
        </a>
    {% else %}
        {% if tr.output is None %}
        <a class="btn btn-primary disabled">
            {{ _("N/A") }}
        </a>
        {% else %}
        <a class="btn btn-primary" href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/tests/{{ t_idx }}/output">
            {{ _("Download") }}
        </a>
        {% end %}
    {% end %}
    </td>
    <td class="files">
        {% comment We replace '%l' with the actual language only when it occurs as an extension at the end of the string and only when %}
        {% comment there isn't another file with that name. This allows to securily reverse the replacement and should work great in %}
        {% comment the common case. Yet, it still allows the marginal case of both 'foo.%l' and 'foo.c' in the submission format. %}
        {% set files = t.files.keys() + t.managers.keys() %}
        {% if len(files) == 0 %}
        <a class="btn disabled">
            {{ _("None") }}
        </a>
        {% elif len(files) == 1 %}
            {% set filename = t.files.keys()[0] %}
        <a class="btn" href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/tests/{{ t_idx }}/files/{{ encode_for_url(filename) }}">
            {{ _("Download") }}
        </a>
        {% else %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                {{ _("Download") }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for filename in files %}
                {% if t.language is not None %}
                    {% set real_filename = filename.replace("%l", t.language) %}
                {% else %}
                    {% set real_filename = filename %}
                {% end %}
                <li>
                    <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/tests/{{ t_idx }}/files/{{ encode_for_url(filename) }}">
                        {{ real_filename }}
                    </a>
                </li>
            {% end %}
            </ul>
        </div>
        {% end %}
    </td>
</tr>
