
* {
    /*Only for layout debug purposes.*/
   /*border: 1px solid black;*/
   
}

a {
    margin:0;
    padding:0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100%;
}

#global {
    width: 898px;
    margin: 0 auto 30px auto;
    min-height: 100%;
    border: 1px solid gray;
    border-bottom: 0px;
    position: relative;
}

.header {
    height:80px;
    background-color:#AAAAFF;
    text-align: center;
    font-size:40px;
    line-height: 80px;
    width:100%;
}

.sidebar {
    width: 180px;
    padding-top:10px;
    padding-left:10px;
    margin-bottom: -1px;
    margin-top: 0px;
    margin-left:0px;
    float:left;
    line-height:1.5em;

}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu_entry {
    margin: 0;
    padding: 0 0;
    font-size: 18px;
}

ul.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.submenu_entry {
    padding-left: 15px;
}

a, a:visited {
    color: blue;
}

.menu_link, .submenu_link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: blue;
}

.menu_link:hover, .submenu_link:hover {
    background-color:#FFFFFF;
}

.core {
    margin-bottom: 0px;
    margin-left:200px;
    padding: 10px;
}

#sidebar_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width:200px;
    background-color: #EEEEFF;
    z-index: -5;
}

.core h1 {
    margin: 0;
}

.footer {
    position: fixed;
    margin-left: -1px;
    clear: both;
    text-align: center;
    bottom: 0px;
    background-color: #DDDDFF;
    height:30px;
    line-height: 30px;
    width: 898px;
    border: 1px solid gray;
}

.footer_left {
    float: left;
    width: 33%;
    
}

.footer_middle {
    float: left;
    width: 33%;
}

.footer_right {
    float: right;
    width: 33%;
}

.login_error {
    display: inline-block;
    color: red;
}

.toggle {
    padding: 5px;
    font-family: monospace;
    cursor: pointer;
}

.core_title {
    text-align:center;
}

#notification {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #FFFF88;
    display: none;
    z-index: 10;
    line-height: 40px;
    border: 1px solid gray;
}

#notification_content {
    margin-left: 70px;
}

#notification_close {
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    line-height: 40px;
}
#notification_close a, #popup_question_close a {
    text-decoration: none;
    color: black;
}

#popup_question {
    position: fixed;
    top:10%;
    left:10%;
    width: 80%;
    height:80%;
    background-color: #FFFF88;
    display: none;
    z-index: 10;
    border: 1px solid gray; 
    padding: 0px;
    text-align: center;
    overflow: auto;
}

#popup_question_header {
    width: 100%;
    height: 20px;
    line-height:20px;
    border-bottom: 1px solid gray;
    text-align: center;
    font-weight:bold; 
}

#popup_question_close {
    font-family: sans-serif;
    float:left;

}

#popup_question textarea {
    width:80%;
    height:80%;
}

.announcement_item {
    border: 1px solid gray;
    background-color: #EEEEFF;
    margin: 2px;
    padding: 4px;
    display:none;
}

.announcement_date {
  display: block;
}

.announcement_text {
  margin-left: 10px;
  font-weight:bold;
}

.displayed {
    display: block;
}

.sub_table, .sub_details {
  border-collapse: collapse;
  margin-top:10px;
}

.sub_table td, .sub_table th{
    border: 1px solid gray;
    padding: 5px;
}

.sub_details td, .sub_details th {
    border: 1px solid gray;
    padding: 5px;
}

.sub_score td, .sub_score th {
    border: 0;
    padding: 5px;
}

#compilazione
{
    padding: 10px 40px;
}

#compilazione td
{
    padding: 5px 10px;
}

pre
{
    border-left: 3px solid #36393D;
    padding: 5px;
    margin-left: 10px;
    font-family: monospace;
    min-height: 1ex;
}

code
{
    font-family: monospace;
    border: 1px solid #36393D;
    padding: 2px;
    margin: 2px;
}

