body {
	height:100%;
	font-family: sans-serif;
	padding: 0px;
}

.header {
    height:80px;
    background-color:#AAAAFF;
    text-align: center;
    font-size:40px;
    line-height: 80px;
}

.loginbar {
    height:30px;

    background-color: #DDDDFF;
    text-align: right;
    line-height: 30px;
}
