# We are currently targeting the versions shipped in Ubuntu 20.04.

tornado>=4.5,<4.6  # http://www.tornadoweb.org/en/stable/releases.html
psycopg2>=2.8,<2.9  # http://initd.org/psycopg/articles/tag/release/
sqlalchemy>=1.3,<1.4  # http://docs.sqlalchemy.org/en/latest/changelog/index.html
netifaces>=0.10,<0.11  # https://bitbucket.org/al45tair/netifaces/src/
pycryptodomex>=3.6,<3.7  # https://github.com/Legrandin/pycryptodome/blob/master/Changelog.rst
psutil>=5.5,<5.6  # https://github.com/giampaolo/psutil/blob/master/HISTORY.rst
requests>=2.22,<2.23  # https://pypi.python.org/pypi/requests
# Slightly higher version for Python 3.8 support
gevent>=1.5,<1.6  # http://www.gevent.org/changelog.html
# Limit greenlet version for binary compatibility with gevent 1.5 wheels
greenlet<0.4.17
werkzeug>=0.16,<0.17  # https://github.com/pallets/werkzeug/blob/master/CHANGES
patool>=1.12,<1.13  # https://github.com/wummel/patool/blob/master/doc/changelog.txt
bcrypt>=3.1,<3.2  # https://github.com/pyca/bcrypt/
chardet>=3.0,<3.1  # https://pypi.python.org/pypi/chardet
babel>=2.6,<2.7  # http://babel.pocoo.org/en/latest/changelog.html
pyxdg>=0.26,<0.27  # https://freedesktop.org/wiki/Software/pyxdg/
Jinja2>=2.10,<2.11  # http://jinja.pocoo.org/docs/latest/changelog/

# See https://github.com/pallets/markupsafe/issues/286 but breaking change in
# MarkupSafe causes jinja to break
MarkupSafe==2.0.1

# Only for some importers:
pyyaml>=5.3,<5.4  # http://pyyaml.org/wiki/PyYAML

# Only for printing:
pycups>=1.9,<1.10  # https://pypi.python.org/pypi/pycups
PyPDF2>=1.26,<1.27  # https://github.com/mstamy2/PyPDF2/blob/master/CHANGELOG
