# We are currently targeting the versions shipped in Ubuntu 18.04.

tornado>=4.5,<4.6  # http://www.tornadoweb.org/en/stable/releases.html
# Using the binary psycopg2 package may cause segmentation faults and prints
# warnings in the logs. Tell pip to build from source instead. See:
# http://initd.org/psycopg/articles/2018/02/08/psycopg-274-released/
# http://initd.org/psycopg/docs/install.html#disabling-wheel-packages-for-psycopg-2-7
# We will be able to remove the flag when upgrading to version 2.8.
psycopg2>=2.8.4,<2.9 --no-binary psycopg2  # http://initd.org/psycopg/articles/tag/release/
sqlalchemy>=1.1,<1.2  # http://docs.sqlalchemy.org/en/latest/changelog/index.html
netifaces>=0.10,<0.11  # https://bitbucket.org/al45tair/netifaces/src/
pycryptodome>=3.9.0,<4.0.0  # https://pycryptodome.readthedocs.io/en/latest/src/changelog.html
psutil>=5.4,<5.5  # https://github.com/giampaolo/psutil/blob/master/HISTORY.rst
requests>=2.18,<2.19  # https://pypi.python.org/pypi/requests
gevent>=1.5,<1.6  # http://www.gevent.org/changelog.html
werkzeug>=0.14,<0.15  # https://github.com/pallets/werkzeug/blob/master/CHANGES
patool>=1.12,<1.13  # https://github.com/wummel/patool/blob/master/doc/changelog.txt
bcrypt>=3.1,<3.2  # https://github.com/pyca/bcrypt/
chardet>=3.0,<3.1  # https://pypi.python.org/pypi/chardet
babel>=2.4,<2.5  # http://babel.pocoo.org/en/latest/changelog.html
pyxdg>=0.25,<0.26  # https://freedesktop.org/wiki/Software/pyxdg/
Jinja2>=2.10,<2.11  # http://jinja.pocoo.org/docs/latest/changelog/

# Only for some importers:
pyyaml>=3.13,<3.14  # http://pyyaml.org/wiki/PyYAML

# Only for printing:
pycups>=1.9,<1.10  # https://pypi.python.org/pypi/pycups
PyPDF2>=1.26,<1.27  # https://github.com/mstamy2/PyPDF2/blob/master/CHANGELOG
