setuptools>=0.6
tornado>=2.0
psycopg2>=2.4
sqlalchemy>=0.7
netifaces>=0.5
pycrypto>=2.3
pyyaml>=3.10
pytz>=2011k
psutil>=0.6
BeautifulSoup>=3.2
coverage>=3.4
mock>=1.0
mechanize>=0.2
six>=1.1
requests>=1.1
gevent>=1.0
werkzeug>=0.8
