{% extends base.html %}

{% block core %}
<div class="core_title">
  <h1><a href="{{ url_root }}/task/{{ task.id }}">{{ task.title }} ({{ task.name }})</a> - Upload testcases</h1>
</div>
<form enctype="multipart/form-data" action="{{ url_root }}/add_testcases/{{ dataset.id }}" method="POST">
  <table>
    <tr>
      <td>Archive (a zip file containing files only):</td>
      <td>
        <input type="file" name="archive"/>
      </td>
    </tr>
    <tr>
      <td>Public</td>
      <td>
        <input type="checkbox" name="public">
      </td>
    </tr>
    <tr>
      <td>Overwrite existing testcases</td>
      <td>
        <input type="checkbox" name="overwrite">
      </td>
    </tr>
    <tr>
      <td>Input file names template (use * as a testcase codename, for example: input.* or *.in)</td>
      <td>
        <input type="text" name="input_template" value="input.*">
      </td>
    </tr>
    <tr>
      <td>Output file names template (use * as a testcase codename, for example: output.* or *.out)</td>
      <td>
        <input type="text" name="output_template" value="output.*">
      </td>
    </tr>
  </table>
  <input type="submit" value="Upload">
  <input type="Reset" >
</form>
{% end %}
