{% extends base.html %}

{% block js %}

function contest_response(response, error)
{
    if( error == null && response != null  && !isNaN(response))
        window.location = url_root + "/contest/" + response;
    else
    {
        utils.display_notification("error", new Date().getTime() / 1000, error, response);
    }
}

function validate_contest()
{
    var name = document.add_contest.name.value;
    var description = document.add_contest.description.value;
    var token_initial = document.add_contest.token_initial.value;
    var token_max = document.add_contest.token_max.value;
    var token_total = document.add_contest.token_total.value;
    var token_min_interval = document.add_contest.token_min_interval.value;
    var token_gen_time = document.add_contest.token_gen_time.value;
    var token_gen_number = document.add_contest.token_gen_number.value;
    var start = document.add_contest.start.value;
    var end = document.add_contest.end.value;
    var per_user_time = document.add_contest.per_user_time.value;

    if( name === undefined || name == '')
    {
        alert('No contest name specified');
        document.add_contest.name.focus();
        return false;
    }

    par = "";
    par += "&name="+encodeURIComponent(name);
    par += "&description="+encodeURIComponent(description);
    par += "&token_initial="+encodeURIComponent(token_initial);
    par += "&token_max="+encodeURIComponent(token_max);
    par += "&token_total="+encodeURIComponent(token_total);
    par += "&token_min_interval="+encodeURIComponent(token_min_interval);
    par += "&token_gen_time="+encodeURIComponent(token_gen_time);
    par += "&token_gen_number="+encodeURIComponent(token_gen_number);
    par += "&start="+encodeURIComponent(start);
    par += "&end="+encodeURIComponent(end);
    par += "&per_user_time="+encodeURIComponent(per_user_time);

    cmsutils.ajax_request(url_root + '/contest/add', par, contest_response, "POST");
    return false;
}
{% end %}

{% block core %}
<div class="core_title">
  <h1>New contest</h1>
</div>

<form enctype="multipart/form-data" action="{{ url_root }}/contest/add" method="POST" name="add_contest" onsubmit="return validate_contest();">
  <table class="sub_table">
    <tr>
      <td>Name</td>
      <td><input type="text" name="name" /></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea name="description"></textarea></td>
    </tr>
    <tr>
      <td>Initial number of tokens</td>
      <td><input type="text" name="token_initial" size="3" value="" /></td>
    </tr>
    <tr>
      <td>Maximum accumulated tokens</td>
      <td><input type="text" name="token_max" size="3" value="" /></td>
    </tr>
    <tr>
      <td>Total number of tokens</td>
      <td><input type="text" name="token_total" size="3" value="" /></td>
    </tr>
    <tr>
      <td>Minimum interval between tokens</td>
      <td><input type="text" name="token_min_interval" size="3" value="0" /></td>
    </tr>
    <tr>
      <td>Token generation period</td>
      <td><input type="text" name="token_gen_time" size="3" value="0" /></td>
    </tr>
    <tr>
      <td>Token generation number</td>
      <td><input type="text" name="token_gen_number" size="3" value="0" /></td>
    </tr>
    <tr>
      <td>Start (in UTC)</td>
      <td><input type="text" name="start" value="{{ str(timestamp) }}"></td>
    </tr>
    <tr>
      <td>End (in UTC)</td>
      <td><input type="text" name="stop" value="{{ str(timestamp) }}"></td>
    </tr>
    <tr>
      <td>Timezone (like "Europe/Rome", "America/New_York", ...)</td>
      <td><input type="text" name="timezone" value=""></td>
    </tr>
    <tr>
      <td>Maximum length of the contest for a user (seconds)</td>
      <td><input type="text" name="per_user_time" value=""></td>
    </tr>
    <tr>
      <td>Maximum number of submissions for each user (for the whole contest)</td>
      <td><input type="text" name="max_submission_number" value=""></td>
    </tr>
    <tr>
      <td>Maximum number of usertests for each user (for the whole contest)</td>
      <td><input type="text" name="max_usertest_number" value=""></td>
    </tr>
    <tr>
      <td>Minimum interval between two submissions of each user (for the whole contest, in seconds)</td>
      <td><input type="text" name="min_submission_interval" value=""></td>
    </tr>
    <tr>
      <td>Minimum interval between two usertests of each user (for the whole contest, in seconds)</td>
      <td><input type="text" name="min_usertest_interval" value=""></td>
    </tr>
  </table>
  <input type="submit"><input type="reset" value="Reset">
</form>
{% end %}

