{% extends base.html %}

{% block core %}

<h1>New user</h1>

<h2 id="title_general_info" class="toggling_on">General information</h2>
<div id="general_info">
  <form action="{{ url_root }}/add_user/{{ contest.id }}" method="POST">
    <table>
      <tr>
        <td>First name</td>
        <td><input type="text" name="first_name"/></td>
      </tr>
      <tr>
        <td>Last name</td>
        <td><input type="text" name="last_name"/></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><input type="text" name="username" /></td>
      </tr>
      <tr>
        <td>Password</td>
        <!-- FIXME: Plain text? -->
        <td><input type="text" name="password" /></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" name="email"/></td>
      </tr>
      <tr>
        <td>IP</td>
        <td><input type="text" name="ip" /></td>
      </tr>
      <tr>
        <td>Timezone (like "Europe/Rome", "America/New_York", ...)</td>
        <td><input type="text" name="timezone" value=""></td>
      </tr>
      <tr>
        <td>First login time during contest</td>
        <td><input type="text" name="starting_time" value="None"></td>
      </tr>
      <tr>
        <td>Extra time (in seconds)</td>
        <td><input type="text" name="extra_time" value="0"></td>
      </tr>
      <tr>
        <td>Hidden?</td>
        <td><input type="checkbox" name="hidden" /></td>
      </tr>
      <tr>
        <td>Primary statements (JSON-encoded dict whose keys are task names and whose values are lists of language codes)</td>
        <td><input type="text" name="primary_statements" value="{}"></td>
      </tr>
    </table>
    <input type="submit"/>
    <input type="reset" value="Reset" />
  </form>
  <div class="hr"></div>
</div>

{% end %}
