{% extends base.html %}

{% block core %}
<div class="core_title">
  <h1>Announcements</h1>
</div>

<h2 id="title_announcements" class="toggling_on">Announcements</h2>
<div id="announcements">
  <div class="notifications">
    <div class="notification communication">
      <div class="notification_msg">
        <form method="post" action="{{ url_root }}/add_announcement/{{ contest.id }}">
          <div class="notification_subject">
            <label for="new_subject">Subject</label>
            <input name="subject" id="new_subject" style="width: 100%" /></div>
          <div class="notification_text">
            <label for="new_text">Text</label>
            <textarea name="text" id="new_text" style="width: 100%" ></textarea>
          </div>
          <input type="submit" value="Add announcement" />
        </form>
      </div>
    </div>
    {% if contest.announcements != [] %}
      {% for msg in reversed(contest.announcements) %}
      <div class="notification communication">
        <div class="notification_msg">

          <div class="announcement_remove">
            <a href="{{ url_root }}/remove_announcement/{{ msg.id }}">Remove</a>
          </div>
          <div class="notification_timestamp">{{ str(msg.timestamp) }}</div>
          <div class="notification_subject">{{ msg.subject }}</div>
          <div class="notification_text">{% raw xhtml_escape(msg.text).replace('\n', '<br/>') %}</div>

        </div>
      </div>
      {% end %}
    {% else %}
      No announcements.
  </div>

  {% end %}
  <div class="hr"></div>
</div>


{% end %}
