{% import time %}
{% import json %}
{% from cms import DEFAULT_LANGUAGES, LANGUAGE_NAMES, LANGUAGES, config %}
{% from cmscommon.datetime import make_timestamp %}
{% from cmscommon.crypto import get_hex_random_key %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url_root }}/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/aws_style.css">
    <script type="text/javascript" src="{{ url_root }}/static/web_rpc.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/aws_utils.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jqplot.enhancedLegendRenderer.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shCore.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shBrushCpp.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shBrushDelphi.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/jq/jquery.jqplot.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/sh/shCore.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/sh/shThemeDefault.css"/>

    {% if contest is None %}
    <title>Admin</title>
    {% else %}
    <title>Admin: {{ contest.description }}</title>
    {% end %}

    <script type="text/javascript">
<!--
function init()
{
    {% if contest is None %}
    utils = new CMS.AWSUtils("{{ url_root }}", {{ make_timestamp(timestamp) }}, 0, 0, -1);
    utils.update_notifications();
    setInterval(function() { utils.update_notifications(); }, 15000);
    {% else %}
    utils = new CMS.AWSUtils("{{ url_root }}", {{ make_timestamp(timestamp) }}, {{ make_timestamp(contest.start) }}, {{ make_timestamp(contest.stop) }}, {{ phase }});

    utils.update_remaining_time();
    setInterval(function() { utils.update_remaining_time(); }, 1000);
    utils.update_notifications();
    setInterval(function() { utils.update_notifications(); }, 15000);
    {% end %}

    $(document).click(utils.hide_subpage);

    // delegate() ensures that the event is fired even for elements
    // that are added in the future.
    $(document).delegate('.toggling_on', 'click', utils.toggle_visibility);
    $(document).delegate('.toggling_off', 'click', utils.toggle_visibility);

    {% block js_init %}{% end %}
}

{% block js %}{% end %}

$(document).ready(init);

//-->
    </script>
  </head>
  <body class="admin">
    <div id="global">
      <div id="sidebar">
        <h1>Administration</h1>
        {% if config.secret_key == config.secret_key_default %}
        <div class="secret_notice">
          Change secret_key in cms.conf!<br/>
          For example,<br/>
          {{ get_hex_random_key() }}
        </div>
        {% end %}
        <ul class="menu">
          <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/{% if contest is not None %}{{ contest.id }}{% end %}">Overview</a></li>
          <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/resourceslist{% if contest is not None %}/{{ contest.id }}{% end %}">Resource usage</a></li>
        </ul>
        <div class="hr"></div>
        <select id="contest_selection_select" onchange="utils.switch_contest()">
          <option value=null {% if contest is None %} selected {% end %}>Select a contest</option>
          {% for i in contest_list %}

          <option
            value="{{ i.id }}"
            {% if contest is not None and contest.id == i.id %}
              selected
            {% end %}
          >
            {{ i.name }} ({{ i.id }})
          </option>
          {% end %}
        </select>
        <a href="{{ url_root }}/contest/add" alt="New contest" style="text-decoration: none;">+</a>

          {% if contest is not None %}
          <div class="sidebar_left">Contest:</div>
          <ul class="menu">
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/contest/{{ contest.id }}">General</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/ranking/{{ contest.id }}">Ranking</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/submissions/{{ contest.id }}">Submissions</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/userlist/{{ contest.id }}">Users</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/tasklist/{{ contest.id }}">Tasks</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/announcements/{{ contest.id }}">Announcements</a></li>
            <li class="menu_entry">
              <span id="unanswered_questions" class="unread"
                {% if unanswered == 0 %} style="display: none;" {% end %}>
                {{ unanswered }}
              </span>
              <a class="menu_link" href="{{ url_root }}/questions/{{ contest.id }}">Questions</a>
            </li>
          </ul>
          <div class="hr"></div>
            {% if phase != 1 %}
          <div class="footer">Time left: <span id="remaining"></span></div>
            {% end %}
          {% end %}
        <div class="cr_notice">CMS <a href="http://github.com/cms-dev/cms/">codebase</a> is released under the<br/><a href="http://www.gnu.org/licenses/agpl.txt">GNU Affero General Public License</a>.</div>
      </div>

      <div id="border"></div>
      <div id="core">
        <div id="notifications" class="notifications"></div>
        <div id="subpage" onclick="var event = arguments[0] || window.event; event.stopPropagation()">
          <div id="subpage_border"></div>
          <div id="subpage_background"></div>
          <div id="subpage_content"></div>
        </div>
        {% block core %}{% end %}
      </div>

    </div>
  </body>
</html>
