{% extends base.html %}

{% block js_init %}
utils.show_page("submissions", 1, 50);
{% end %}

{% block core %}
{% from cms.grading.scoretypes import get_score_type %}
{% set score_types = {} %}

<h1>All Submissions</h1>

<div id="submissions">

  {% if submissions == [] %}
  <p>No submissions found.</p>

  {% else %}
  {# TODO: implement a more useful pagination for a large contest #}
  <div id="page_selector_submissions"></div>
  <table class="bordered">
    <thead>
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Task</th>
        <th>Status</th>
        <th>Files</th>
        <th>Token</th>
        <th>Comment</th>
        <th>Reevaluate</th>
      </tr>
    </thead>
    <tbody id="paged_content_submissions">
      {% for s in sorted(submissions, key=lambda s: s.timestamp, reverse=True) %}
        {% set dataset = s.task.active_dataset %}
        {% set sr = s.get_result(dataset) %}
        {% if s.task.name in score_types %}
          {% set score_type = score_types[s.task.name] %}
        {% else %}
          {% set score_type = get_score_type(dataset=dataset) %}
          {% set score_types[s.task.name] = score_type %}
        {% end %}
      <tr>
        <td><a href="{{ url_root }}/submission/{{ s.id }}">{{ str(s.timestamp) }}</a></td>
        <td><a href="{{ url_root }}/user/{{ s.user.id }}">{{ s.user.username }}</a></td>
        <td><a href="{{ url_root }}/task/{{ s.task.id }}">{{ s.task.name }}</a></td>
        <td>
          {% if sr is None or sr.compilation_outcome is None %}
          Compiling...
          {% else %}
          <div id="title_evaluation_{{ s.id }}" class="toggling_off">
            {% if sr.compilation_outcome == "fail" %}
            Compilation failed
            <div id="evaluation_{{ s.id }}" style="display: none;">
            {% elif not sr.evaluated() %}
            Evaluating...
            <div id="evaluation_{{ s.id }}" style="display: none;">
            {% else %}
              {% try %}
                {% set max_score = score_type.max_score %}
              {% except %}
                {% set max_score = "[Cannot get score type - see logs]" %}
              {% end %}
            Evaluated ({{ sr.score }} / {{ max_score }})
            <div  id="evaluation_{{ s.id }}" class="score_details" style="display: none;">
              {% raw score_type.get_html_details(sr.score_details) %}
            <div id="evaluation_{{ s.id }}" style="display: none;">
              {% if sr.evaluated() %}
              <h3>Testcases</h3>
              <table class="nested bordered">
                <thead>
                  <tr>
                    <th>Outcome</th>
                    <th></th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for idx, ev in sorted((ev.codename, ev) for ev in sr.evaluations) %}
                  <tr>
                    <td>{{ ev.outcome }}</td>
                    {% if s.token is not None or ev.testcase.public %}
                    <td style="align: center;">&bullet;</td>
                    {% else %}
                    <td></td>
                    {% end %}
                    <td>{{ ev.text }}</td>
                  </tr>
                  {% end %}
                </tbody>
              </table>
              {% end %}
            {% end %}
              <h3>Compilation output</h3>{% comment TODO: trim long outputs and add facility to see raw %}
              <pre>{% if sr.compilation_text is not None %}{{ escape(sr.compilation_text) }}{% end %}</pre>
            </div>
          </div>

          {% end %}
        </td>
        <td>
          {% for filename, sub_file in s.files.items() %}
          <a href="javascript:void(0);" onclick="utils.show_file('{{ filename.replace("%l", s.language) if s.language else filename }}','{{ url_root }}/submission_file/{{ sub_file.id }}')">{{ filename.replace("%l", s.language) if s.language else filename }}<br/>
          {% end %}
        </td>
        <td>
          {% if s.token is None %}
          No
          {% else %}
          Yes
          {% end %}
        </td>
        <td>
          {{ s.short_comment }}
        </td>
        <td>
          {% set reevaluation_par_name = "submission" %}
          {% set reevaluation_par_value = s.id %}
          {% set reevaluation_par_dataset_id = None %}
          {% include reevaluation_buttons.html %}
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>
  {% end %}
</div>

{% end %}
