{% extends base.html %}

{% block js %}
function question_reply_toggle(element, invoker)
{
  var obj = document.getElementsByClassName("reply_question")[element];
  if (obj.style.display != "block")
    {
      obj.style.display = "block";
      invoker.innerHTML = "Hide reply";
    }
  else
    {
      obj.style.display = "none";
      invoker.innerHTML = "Reply";
    }
  return false;
}

function update_additional_answer(element, invoker)
{
  var obj = document.getElementsByClassName("alternative_answer")[element];
  if (invoker.selectedIndex == 5)
    obj.style.display = "block";
  else
    obj.style.display = "none";
}
{% end %}

{% block js_init %}

utils.show_page("questions", 1);

{% end %}
{% block core %}

<div class="core_title">
  <h1>Questions</h1>
</div>

{% if questions != [] %}
<div id="questions" class="notifications">
  <div id="page_selector_questions"></div>
  <div id="paged_content_questions">
  {% for msg_i, msg in enumerate(questions) %}
  <div class="notification communication {{ ("answered" if msg.reply_timestamp is not None else ("ignored" if msg.ignored else "")) }}">
    <div class="notification_msg">
      <div class="notification_timestamp"><a href="{{ url_root }}/user/{{ msg.user.id }}">{{ msg.user.username }}</a> - {{ str(msg.question_timestamp) }}</div>
      <div class="notification_subject">{{ msg.subject }}</div>
      <div class="notification_text">{% raw xhtml_escape(msg.text).replace('\n', '<br/>') %}</div>
      {% if msg.reply_timestamp is not None %}
      <div class="notification_subject">Reply: {{ msg.reply_subject }}</div>
      <div class="notification_text">{% raw xhtml_escape(msg.reply_text).replace('\n', '<br/>') %}</div>
      {% else %}
      <div class="notification_subject">Not yet replied.</div>
      {% end %}
      {% if msg.reply_timestamp is None %}
      <div class="ignore_reply">
        <form class="ignore_question_form" action="{{ url_root }}/ignore_question/{{ msg.id }}" name="ignore{{ msg.id }}" method="POST">
          <input type="hidden" name="ref" value="/questions/{{ contest.id }}"/>
          {% if not msg.ignored %}
          <input type="hidden" name="ignore" value="yes"/>
          <a href="javascript:void(0);" onclick="document.ignore{{ msg.id }}.submit();">Ignore</a>
          {% else %}
          <input type="hidden" name="ignore" value="no"/>
          <a href="javascript:void(0);" onclick="document.ignore{{ msg.id }}.submit();">Unignore</a>
          {% end %}
        </form>
      </div>
      {% end %}
      <div class="reply_question_toggle">
        <a href="javascript:void(0);" onclick="return question_reply_toggle({{ msg_i }}, this);">Reply</a>
      </div>
      <div class="reply_question" >
        <hr/>
        <form class="reply_question_form" action="{{ url_root }}/question/{{ msg.id }}" method="POST">
          <input type="hidden" name="ref" value="/questions/{{ contest.id }}"/>
          Precompiled answer:
          <select name="reply_question_quick_answer" onchange="update_additional_answer({{ msg_i }}, this);">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="answered">Answered in task description</option>
            <option value="invalid">Invalid question</option>
            <option value="nocomment">No comment</option>
            <option selected value="other">Other</option>
          </select>
          <br/>
          <div class="alternative_answer">
            Alternative answer:<br/>
            <textarea name="reply_question_text"></textarea><br/>
          </div>
          <input type="submit" value="Send"/>
        </form>
      </div>
    </div>
  </div>
  {% end %}
  </div>
</div>

{% else %}
No questions.

{% end %}


{% end %}
