{% extends base.html %}

{% block core %}
{% from cms.grading import task_score %}
<div class="core_title">
  <h1>Ranking</h1>
</div>
Download as <a href="{{ url_root }}/ranking/{{ contest.id }}/csv">csv</a>, <a href="{{ url_root }}/ranking/{{ contest.id }}/txt">text</a>.
<table class="bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>User</th>
      {% for task in contest.tasks %}
      <th><a href="{{ url_root }}/task/{{ task.id }}">{{ task.name }}</a></th>
      {% end %}
      <th>Global</th>
    </tr>
  </thead>
  <tbody>
    {% for user in sorted(contest.users, key=lambda u: u.username) %}
      {% if not user.hidden %}
    <tr>
      {% set score = 0.0 %}
      {% set partial = False %}
      <td><a href="{{ url_root }}/user/{{ user.id }}">{{ user.username }}</a></td>
      <td>{{ "%s %s" % (user.first_name, user.last_name) }}</td>
      {% for task in contest.tasks %}
        {% set t_score, t_partial = task_score(user, task) %}
        {% set t_score = round(t_score, task.score_precision) %}
        {% set score += t_score %}
        {% set partial = partial or t_partial %}
      <td>{{ t_score }}{% if t_partial %}*{% end %}</td>
      {% end %}
      <td>{{ round(score, contest.score_precision) }}{% if partial %}*{% end %}</td>
    </tr>
      {% end %}
    {% end %}
  </tbody>
</table>
{% end %}
