{% extends base.html %}

{% block core %}
{% from cms import plugin_list %}
{% from cms.grading import format_status_text %}
{% from cms.grading.scoretypes import get_score_type %}
{% set current_score_type = None %}

<div class="core_title">
  <h1>{{ task.title }} (<a href="{{ url_root }}/task/{{ task.id }}">{{ task.name }}</a>)</h1>
</div>

{% set dataset_selector_par_url = "%s/dataset" % (url_root) %}
{% include dataset_selector.html %}

<h2 id="title_submissions" class="toggling_on">Submissions</h2>
<div id="submissions">

  {% if len(submissions) == 0 %}
  <p>No submissions found.</p>

  {% else %}
  <table class="bordered">
    <thead>
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Status</th>
        <th>Files</th>
        <th>Token</th>
        <th>Reevaluate</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sorted(submissions, key=lambda s: s.timestamp, reverse=True) %}
        {% if current_score_type is None %}
          {% try %}
            {% set current_score_type = get_score_type(dataset=shown_dataset) %}
          {% except %}
          {% end %}
        {% end %}
      <tr>
        <td><a href="{{ url_root }}/submission/{{ s.id }}/{{ shown_dataset.id }}">{{ str(s.timestamp) }}</a></td>
        <td><a href="{{ url_root }}/user/{{ s.user.id }}">{{ s.user.username }}</a></td>
        <td>
          {% set sr = s.get_result(shown_dataset) %}
          {% if sr is None or sr.compilation_outcome is None %}
          Compiling...
          {% else %}
          <div id="title_evaluation_{{ s.id }}" class="toggling_off">
            {% if sr.compilation_outcome == "fail" %}
            Compilation failed
            <div  id="evaluation_{{ s.id }}" class="score_details" style="display: none;">
            {% elif not sr.evaluated() %}
            Evaluating...
            <div  id="evaluation_{{ s.id }}" class="score_details" style="display: none;">
            {% elif sr.scored() %}
              {% try %}
                {% set max_score = current_score_type.max_score %}
              {% except %}
                {% set max_score = "[Cannot get score type - see logs]" %}
              {% end %}
            Evaluated ({{ sr.score }} / {{ max_score }})
            <div class="score_details" id="evaluation_{{ s.id }}" style="display: none;">
              {% try %}
                {% raw current_score_type.get_html_details(sr.score_details) %}
              {% except %}
              [Cannot get score type - see logs]
              {% end %}
            {% else %}
            Evaluated
            <div id="evaluation_{{ s.id }}" style="display: none;">
              {% if sr.evaluated() %}
              <h3>Testcases</h3>
              <table class="nested bordered">
                <thead>
                  <tr>
                    <th>Outcome</th>
                    <th></th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for idx, ev in sorted((ev.codename, ev) for ev in sr.evaluations) %}
                  <tr>
                    <td>{{ ev.outcome }}</td>
                    {% if s.token is not None or ev.testcase.public %}
                    <td style="align: center;">&bullet;</td>
                    {% else %}
                    <td></td>
                    {% end %}
                    <td>{{ ev.text }}</td>
                  </tr>
                  {% end %}
                </tbody>
              </table>
              {% end %}
            {% end %}
              <h3>Compilation output</h3><!-- TODO: trim long outputs and add facility to see raw -->
              <pre>{% if sr.compilation_text is not None %}{{ format_status_text(sr.compilation_text) }}{% end %}</pre>
            </div>
          </div>

          {% end %}
        </td>
        <td>
          {% for filename in [x.filename for x in task.submission_format] %}
            {% if filename in s.files %}
              {% set real_filename = filename if s.language is None else filename.replace("%l", s.language) %}
          <a href="javascript:void(0);" onclick="utils.show_file('{{ real_filename }}','{{ url_root }}/submission_file/{{ s.files[filename].id }}')">
            {{ real_filename }}
          </a>
          <br/>
            {% end %}
          {% end %}
        </td>
        <td>
          {% if s.token is None %}
          No
          {% else %}
          Yes
          {% end %}
        </td>
        <td>
          {% set reevaluation_par_name = "submission" %}
          {% set reevaluation_par_value = s.id %}
          {% set reevaluation_par_dataset_id = shown_dataset.id %}
          {% include reevaluation_buttons.html %}
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>
  <p>
    Reevaluate all {{ len(submissions) }} submissions using this dataset:
    {% set reevaluation_par_name = "dataset" %}
    {% set reevaluation_par_value = shown_dataset.id %}
    {% set reevaluation_par_dataset_id = None %}
    {% include reevaluation_buttons.html %}
  </p>
  {% end %}
  <div class="hr"></div>
</div>

{% end %}
