{% extends base.html %}

{% block js_init %}

function showTaskTypeOption(dataset_id) {
    var selector = $("select[name=task_type_" + dataset_id + "]")[0];
    $(".TaskTypeOptions_" + dataset_id + ":visible").hide("fast");
    $("#TaskType" + selector.options[selector.selectedIndex].value + "Options_" + dataset_id).show("fast")
};

{% for dataset in task.datasets %}
showTaskTypeOption({{ dataset.id }});
$("select[name=task_type_{{ dataset.id }}]").change(function() {
    showTaskTypeOption({{ dataset.id }});
});
{% end %}

{% end %}

{% block core %}
{% from cms.server import format_dataset_attrs %}
{% from cms import plugin_list %}
{% set task_type_list = plugin_list("cms.grading.tasktypes", "tasktypes") %}
{% set score_type_list = plugin_list("cms.grading.scoretypes", "scoretypes") %}

<div class="core_title">
  <h1>{{ task.title }} ({{ task.name }})</h1>
</div>

<h2 id="title_submissions" class="toggling_on">Submissions</h2>
<div id="submissions">

  {% if len(submissions) == 0 %}
  <p>No submissions for this task yet.</p>
  {% else %}
    <a href="{{ url_root }}/dataset/{{ task.active_dataset_id }}">
      {% if len(submissions) == 1 %}
      1 submission
      {% else %}
      {{ len(submissions) }} submissions
      {% end %}
    </a>
  {% end %}
  <div class="hr"></div>
</div>

<!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
<form enctype="multipart/form-data" action="{{ url_root }}/task/{{ task.id }}" method="POST">
  <h2 id="title_task_information" class="toggling_on">Task information</h2>
  <div id="task_information">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" value="{{ task.name }}"/></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" value="{{ task.title }}"/></td>
      </tr>
      <tr>
        <td>Position</td>
        <td>{{ task.num }}</td>
      </tr>
      <tr>
        <td>Statement</td>
        <td>
          <a href="{{ url_root }}/add_statement/{{ task.id }}">Add statement</a><br/>
          {% if len(task.statements) == 0 %}
          No statements uploaded yet
          {% else %}
          <ul>
            {% for statement in task.statements.values() %}
            <li><a href="{{ url_root }}/file/{{ statement.digest }}/statement.pdf">Statement for language "{{ statement.language }}"</a>
              - <a href="{{ url_root }}/delete_statement/{{ statement.id }}">Delete</a></li>
            {% end %}
          </ul>
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Primary statements (JSON-encoded list of language codes)</td>
        <td><input type="text" name="primary_statements" value="{{ task.primary_statements }}"/></td>
      </tr>
      <tr>
        <td>Attachments</td>
        <td>
          <a href="{{ url_root }}/add_attachment/{{ task.id }}" >Add attachment</a><br/>
          {% if len(task.attachments) == 0 %}
            No attachments.
          {% else %}
            {% for attachment in task.attachments.values() %}
              <div class="attachment">
                <a href="{{ url_root }}/file/{{ attachment.digest }}/{{ attachment.filename }}">{{ attachment.filename }}</a>
                - <a href="{{ url_root }}/delete_attachment/{{ attachment.id }}">Delete</a>
              </div>
            {% end %}
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Submission format</td>
        <td>
          <input type="text" name="submission_format" value="{{ json.dumps([x.filename for x in task.submission_format]) }}"/>
        </td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

<!-- Datasets -->

  <h2 id="title_datasets" class="toggling_on">Datasets</h2>
  <div id="datasets">
    <p>
{% if len(task.datasets) == 0 %}
    No datasets have been created for this task.<br/>
{% end %}
    <a href="{{ url_root }}/add_dataset/{{ task.id }}/-">Create a new dataset</a><br/>
    </p>

{% for dataset in sorted(task.datasets, key=lambda d: d.description) %}

  <h3 id="title_dataset_{{ dataset.id }}" class="toggling_on">Dataset: {{ dataset.description }}{{ format_dataset_attrs(dataset) }}</h3>
  <div id="dataset_{{ dataset.id }}" class="task_dataset">

    <p>
      {% if dataset is task.active_dataset %}
      [Make Live ...]
      {% else %}
      <a href="{{ url_root }}/activate_dataset/{{ dataset.id }}">[Make Live ...]</a>
      {% end %}
      <a href="{{ url_root }}/add_dataset/{{ task.id }}/{{ dataset.id }}">[Clone]</a>
      <a href="{{ url_root }}/rename_dataset/{{ dataset.id }}">[Rename]</a>
      {% if dataset is task.active_dataset %}
      [Delete]
      {% else %}
      <a href="{{ url_root }}/delete_dataset/{{ dataset.id }}">[Delete]</a>
      {% end %}
      {% if dataset is not task.active_dataset %}
        <a href="{{ url_root }}/autojudge_dataset/{{ dataset.id }}">[{% if dataset.autojudge %}Disable{% else %}Enable{% end %} background judging]</a>
      {% end %}
      <a href="{{ url_root }}/dataset/{{ dataset.id }}">[View results]</a>
    </p>

  <!-- Task type and score type settings -->

    <h4 id="title_task_type_{{ dataset.id }}" class="toggling_on">Task and scoring parameters</h4>

    {% if dataset.task_type not in [task_type.__name__ for task_type in task_type_list] %}
    <script type="text/javascript">
      $(document).ready(function() {
      utils.display_notification("notification",
          0,
          "Task type `{{ dataset.task_type }}' not found.",
          "Please select another task type, " +
          "or make the original one available and refresh the page " +
          "without updating the task to avoid losing the parameters.");
      });
    </script>
    {% end %}

    {% if dataset.score_type not in [score_type.__name__ for score_type in score_type_list] %}
    <script type="text/javascript">
      $(document).ready(function() {
      utils.display_notification("notification",
          0,
          "Score type `{{ dataset.score_type }}' not found.",
          "Please select another score type, " +
          "or make the original one available and refresh the page " +
          "without updating the task to avoid losing the parameters.");
      });
    </script>
    {% end %}

    <div id="task_type_{{ dataset.id }}" class="task_dataset_params">
      <table>

        <tr>
          <td>Time limit</td>
          <td><input type="text" name="time_limit_{{ dataset.id }}" value="{{ dataset.time_limit if dataset.time_limit is not None else "" }}"/> second(s)</td>
        </tr>
        <tr>
          <td>Memory limit</td>
          <td><input type="text" name="memory_limit_{{ dataset.id }}" value="{{ dataset.memory_limit if dataset.memory_limit is not None else "" }}"/> MiB</td>
        </tr>

        <tr>
          <td>Task type</td>
          <td>

            <select name="task_type_{{ dataset.id }}">
              {% for task_type in task_type_list %}
              <option value="{{ task_type.__name__ }}" {% if dataset.task_type == task_type.__name__ %}selected{% end %}>{{ task_type.__name__ }}</option>
              {% end %}
            </select>
          {% set parameters = json.loads(dataset.task_type_parameters) if dataset.task_type_parameters != '' else None %}

          {% for task_type in task_type_list %}
          <table class="TaskTypeOptions TaskTypeOptions_{{ dataset.id }} bordered" id="TaskType{{ task_type.__name__ }}Options_{{ dataset.id }}" style="display: none;">
            {% for i in range(len(task_type.ACCEPTED_PARAMETERS)) %}
              {% set param_def = task_type.ACCEPTED_PARAMETERS[i] %}
              {% set parameter_value = parameters[i] if dataset.task_type == task_type.__name__ and parameters is not None and i < len(parameters) else None %}
              <tr>
                  <td>{{ param_def.name }}</td>
                  <td>
                      {% raw param_def.render("TaskTypeOptions_%d_%s_" % (dataset.id, task_type.__name__), parameter_value) %}
                  </td>
              </tr>
            {% end %}
          </table>
          {% end %}

          </td>
        </tr>
        <tr>
          <td>Managers</td>
          <td>
            <a href="{{ url_root }}/add_manager/{{ dataset.id }}">Add a manager</a></br>
            {% if len(dataset.managers) == 0 %}
              No managers.
            {% else %}
              {% for manager in dataset.managers.values() %}
                <div class="manager">
                  <a href="{{ url_root }}/file/{{ manager.digest }}/{{ manager.filename }}">{{ manager.filename }}</a>
                  - <a href="{{ url_root }}/delete_manager/{{ manager.id }}">Delete</a>
                </div>
              {% end %}
            {% end %}
          </td>
        </tr>
        <tr>
          <td>Score Type</td>
          <td>
            <select name="score_type_{{ dataset.id }}">
              {% for score_type in score_type_list %}
              <option value="{{ score_type.__name__}}" {% if dataset.score_type == score_type.__name__ %}selected{% end %}>{{ score_type.__name__ }}</option>
              {% end %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Score Parameters</td>
          <td><textarea name="score_type_parameters_{{ dataset.id }}">{{ dataset.score_type_parameters }}</textarea></td>
        </tr>
      </table>
      <div class="hr"></div>
    </div>

  <!-- Test cases for this dataset -->

  <h4 id="title_testcases_{{ dataset.id }}" class="toggling_on">Test cases</h4>
    <div id="testcases_{{ dataset.id }}" class="task_dataset_testcases">
      <a href="{{ url_root }}/add_testcase/{{ dataset.id }}">Add a testcase</a>
      <a href="{{ url_root }}/add_testcases/{{ dataset.id }}">Add testcases</a>
      <table class="bordered" style="text-align:center">
        <thead>
          <tr>
            <th>Codename</th>
            <th>Public</th>
            <th>Input</th>
            <th>Output</th>
            <th>Ops</th>
          </tr>
        </thead>
        <tbody>
          {% for codename, testcase in sorted(dataset.testcases.iteritems()) %}
          <tr>
            <td style="font-weight:bold;">{{ codename }}</td>
            <td style="font-weight:bold;">
              <input type="checkbox" name="testcase_{{ testcase.id }}_public" {% if testcase.public %}checked{% end %} />
            </td>
            <td>
              <a href="javascript:void(0);" onclick="utils.show_file('input_{{ testcase.codename }}','{{ url_root }}/file/{{ testcase.input }}/input_{{ testcase.codename }}')">Show input</a>
            </td>
            <td>
              <a href="javascript:void(0);" onclick="utils.show_file('output_{{ testcase.codename }}','{{ url_root }}/file/{{ testcase.output }}/output_{{ testcase.codename }}')">Show output</a>
            </td>
            <td>
              <a href="{{ url_root }}/delete_testcase/{{ testcase.id }}">Delete</a>
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
      <div class="hr"></div>
    </div>
  </div>
  {% end %}
  </div>

  <h2 id="title_token_options" class="toggling_on">Token Options</h2>
  <div id="token_options">
    <table>
      <tr>
        <td>Token mode</td>
        <td>
          <select name="token_mode">
            <option value="disabled" {{ "selected" if task.token_mode == "disabled" else "" }}>Disabled</option>
            <option value="finite" {{ "selected" if task.token_mode == "finite" else "" }}>Finite</option>
            <option value="infinite" {{ "selected" if task.token_mode == "infinite" else "" }}>Infinite</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>[only if finite] Maximum number of tokens a contestant can use</td>
        <td><input type="text" name="token_max_number" value="{{ task.token_max_number if task.token_max_number is not None else "" }}" /></td>
      </tr>
      <tr>
        <td>[only if finite] Minimum interval a contestant has to wait between two token uses (in seconds)</td>
        <td><input type="text" name="token_min_interval" value="{{ int(task.token_min_interval.total_seconds()) }}" /></td>
      </tr>
      <tr>
        <td>[only if finite] Initial number of tokens</td>
        <td><input type="text" name="token_gen_initial" value="{{ task.token_gen_initial }}" /></td>
      </tr>
      <tr>
        <td>[only if finite] Token generation number</td>
        <td><input type="text" name="token_gen_number" value="{{ task.token_gen_number }}" /></td>
      </tr>
      <tr>
        <td>[only if finite] Token generation period (in minutes)</td>
        <td><input type="text" name="token_gen_interval" value="{{ int(task.token_gen_interval.total_seconds() / 60) }}" /></td>
      </tr>
      <tr>
        <td>[only if finite] Maximum number of tokens</td>
        <td><input type="text" name="token_gen_max" value="{{ task.token_gen_max if task.token_gen_max is not None else "" }}" /></td>
      </tr>
      <tr>
        <td>Maximum number of submissions for each user (for this task)</td>
        <td><input type="text" name="max_submission_number" value="{{ task.max_submission_number if task.max_submission_number is not None else "" }}"></td>
      </tr>
      <tr>
        <td>Maximum number of user_tests for each user (for this task)</td>
        <td><input type="text" name="max_user_test_number" value="{{ task.max_user_test_number if task.max_user_test_number is not None else "" }}"></td>
      </tr>
      <tr>
        <td>Minimum interval between two submissions of each user (for this task, in seconds)</td>
        <td><input type="text" name="min_submission_interval" value="{{ int(task.min_submission_interval.total_seconds()) if task.min_submission_interval is not None else "" }}"></td>
      </tr>
      <tr>
        <td>Minimum interval between two user_tests of each user (for this task, in seconds)</td>
        <td><input type="text" name="min_user_test_interval" value="{{ int(task.min_user_test_interval.total_seconds()) if task.min_user_test_interval is not None else "" }}"></td>
      </tr>
      <tr>
        <td>The number of decimal places the scores will be rounded to</td>
        <td><input type="text" name="score_precision" value="{{ task.score_precision }}"></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>
  <input type="submit" value="Update" />
  <input type="reset" value="Reset" />
</form>
{% end %}
