<div class="footer">
{% if current_user == None %}
    {% if handler.get_argument("login_error","") != "" %}
        <span class="login_error">Failed to log in.</span>
    {% end %}
    <form style="display: inline-block" action="/login" method="POST">
            <input type="hidden" name="next" value="{{ handler.get_argument("next","/") }}">
            Username:
            <input type="text" name="username" size=8>
            Password:
            <input type="password" name="password" size=8>
            <input type="submit" value="Sign in">
    </form>
{% else %}
    <div class="footer_left">
    {% if phase != 1 %}
    Time remaining: <span id="remaining"></span>
    {% end %}
    </div>
    <div class="footer_middle">
        <a href="/questions" onclick="return(util.popupQuestion());">Questions</a>
        <a href="/help" onclick="popupHelp();">Help</a>
    </div>
    <div class="footer_right">
        <a href="/user">{{ current_user.real_name }}</a> - <a href="/logout">Logout</a>
    </div>
{% end %}
</div>
