{% extends base.html %}
{% block core %}
    <div class="core_title">
    <h1>{{ task.title }} ({{ task.name }}) - Submission Detail </h1>
    </div>

    {% if handler.get_argument("notokens","") == "true" %}
    <span class="error">No tokens available.</span>
    {% end %}

      <table class="sub_details">
      <tr>
          <th>Timestamp</th>
          <td>{{ datetime.datetime.fromtimestamp(submission.timestamp).strftime("%d/%m/%Y %H:%M:%S") }}</td>
      </tr>
      <tr>
          <th>Compilation<br/>outcome</th>
          <td>{{ submission.compilation_outcome }}</td>
      </tr>
      <tr>
          <th>Compilation<br/>detail</th>
          <td>{% if submission.compilation_text %}{{ submission.compilation_text.replace("\n","<br/>") }}{% end %}</td>
      </tr>
      <tr>
          <th>
          {% if submission.token_timestamp == None %}
            Partial<br/>evaluation<br/>outcome
          {% else %}
            Detailed<br/>evaluation<br/>outcome
          {% end %}
          </th>
          <td>
              {% if submission.evaluation_outcome != None %}
                  {% if submission.token_timestamp != None or task.public_testcases != [] %}
                      <table class="sub_score">
                      <tr><th>Score</th><th>Details</th></tr>
                      {% for i, (ev_o, ev_t) in enumerate(zip(submission.evaluation_outcome, submission.evaluation_text)) %}
                        {% if submission.token_timestamp!= None or i in task.public_testcases %}
                          <tr><td>{{ ev_o }}</td><td>{{ ev_t }}</td><tr/>
                        {% end %}
                      {% end %}
                      </table>
                  {% else %}
                        No specified testcases<br/> for partial feedback for this task.
                  {% end%}
              {% else %}
                  Not evaluated
              {% end %}
          </td>
      </tr>
      <tr>
          <th>Files</th>
          <td>
          {% for key,value in submission.files.items() %}
              <a href="/submission_file/{{ escape(submission.couch_id) }}/{{ escape(key) }}">{{ escape(key) }}<br/>
          {% end %}
          </td>
      </tr>
      <tr>
          <th>Detailed<br/>Feedback<br/>Requested</th>
          <td>
          {% if submission.token_timestamp==None %}
              <form class="submit_form" action="/usetoken/" method="POST">
              No
              <input type="hidden" name="id" value="{{ escape(submission.couch_id) }}">
              <input type="submit" value="Use Token">
              </form>
          {% else %}
              Yes
          {% end %}
          </td>
      </tr>
      </table>
{% end %}
