{% extends base_noauth.html %}

{% block core %}
  {% set lenvisible = len([u for u in contest.users if not u.hidden]) %}
  {% set lentasks = len(contest.tasks) %}
  {% set sums = [sum([contest.ranking_view.scores[u.username][i] for u in contest.users if not u.hidden]) for i in range(lentasks)] %}
  {% set maxs = [max([contest.ranking_view.scores[u.username][i] for u in contest.users if not u.hidden]) for i in range(lentasks)] %}
  {% set user_max = max(sum(contest.ranking_view.scores[u.username]) for u in contest.users if not u.hidden) %}
    <table id="ranking">
      <thead>
        <tr>
          <th class="name" onclick="sort_ranking(this)">Name</th>
          <th class="name" onclick="sort_ranking(this)">Username</th>
          <th class="contest" onclick="sort_ranking(this)">Total</th>
          {% for t in contest.tasks %}
          <th onclick="sort_ranking(this)">{{ t.name }}</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for u in contest.users %}
          {% set scores = contest.ranking_view.scores[u.username] %}
          {% if u.hidden %}
            {% if handler.get_argument("hidden","") == "true" %}
              <tr class="hidden">
            {% else %}
              <tr class="hidden" style="display: none">
            {% end %}
          {% else %}
            <tr>
          {% end %}
          <td class="name">{{ escape(u.real_name) }}</td>
          <td class="name">{{ u.username }}</td>
          {% if u.hidden %}
            <td class="contest fake"><span class="value">{{ "%4.1lf" % sum(scores) }}</span></td>
          {% elif user_max == 0 or sum(scores) == 0 %}
            <td class="contest av"><span class="value">{{ "%4.1lf" % sum(scores) }}</span></td>
          {% else %}
            <td class="contest a{{ 10 * int(10 * sum(scores) / user_max) }}"><span class="value">{{ "%4.1lf" % sum(scores) }}</span></td>
          {% end %}
          {% for i, t in enumerate(contest.tasks) %}
            {% if u.hidden %}
              <td class="task fake"><span class="value">{{ "%4.1lf" % scores[i] }}</span></td>
            {% elif maxs[i] == 0 or scores[i] == 0 %}
              <td class="task av"><span class="value">{{ "%4.1lf" % scores[i] }}</span></td>
            {% else %}
              <td class="task a{{ 10 * int(10 * scores[i] / maxs[i]) }}"><span class="value">{{ "%4.1lf" % scores[i] }}</span></td>
            {% end %}
          {% end %}
        </tr>
        {% end %}
      </tbody>
      <tfoot>
        <tr class="footer">
          <td class="name">Average</td>
          <td class="name"></td>
          {% if user_max == 0 or sum(sums) == 0 %}
            <td class="contest av"><span class="value">{{ "%4.1lf" % (sum(sums) / lenvisible) }}</span></td>
          {% else %}
            <td class="contest a{{ 10 * int(10 * sum(sums) / lenvisible / user_max) }}"><span class="value">{{ "%4.1lf" % (sum(sums) / lenvisible) }}</span></td>
          {% end %}
          {% for i, t in enumerate(contest.tasks) %}
            {% if maxs[i] == 0 or sums[i] == 0 %}
              <td class="task av"><span class="value">{{ "%4.1lf" % (sums[i] / lenvisible) }}</span></td>
            {% else %}
              <td class="task a{{ 10 * int(10 * sums[i] / lenvisible / maxs[i]) }}"><span class="value">{{ "%4.1lf" % (sums[i] / lenvisible) }}</span></td>
            {% end %}
          {% end %}
        </tr>
      </tfoot>
    </table>
{% end %}
