{% import cms.util.WebConfig as WebConfig %}
{% import time %}
{% import cms.util.Utils as Utils %}
{% from cms.util.Cryptographics import encrypt_number %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script type="text/javascript" src="/static/utils.js"></script>
    <script type="text/javascript" src="/static/web_async_library.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
    
    <script type="text/javascript" src="/static/sh/shCore.js"></script>
    <script type="text/javascript" src="/static/sh/shBrushCpp.js"></script>
    <script type="text/javascript" src="/static/sh/shBrushDelphi.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sh/shCore.css"/>
    <link rel="stylesheet" type="text/css" href="/static/sh/shThemeDefault.css"/>

    <title>{{ contest.description }}</title>

    <script type="text/javascript">
<!--
function init()
{
    cmsrpc = new CMSAjaxRPC();
    cmsutils = new CMSUtils();
    utils = new Utils({{ timestamp }}, {{ json_encode(contest.start) }}, {{ json_encode(contest.stop) }}, {{ phase }});

    firstDate = new Date();
    utils.get_time();
    setInterval(cmsutils.bind_func(utils, utils.get_time), 1000);
    utils.update_notifications();
    setInterval(cmsutils.bind_func(utils, utils.update_notifications), 15000);
    
    document.onclick = utils.hide_subpage
    {% block js_init %}{% end %}
}

{% block js %}{% end %}

window.onload = init;
//-->
    </script>
  </head>
  <body>

    <div id="global">
      <div id="sidebar">
        <h1>{{ contest.description }}</h1>
        <ul class="menu">
          <li class="menu_entry">
            <span id="unread_public" class="unread" style="display: none;">0</span>
            <a class="menu_link" href="/">{{ _("Overview") }}</a>
          </li>
          <li class="menu_entry">
            <a class="menu_link" href="/instructions">{{ _("Instructions") }}</a>
          </li>
          <li class="menu_entry">
            <span id="unread_private" class="unread" style="display: none;">0</span>
            <a class="menu_link" href="/communication">{{ _("Communication") }}</a>
          </li>
        </ul>
        <div class="hr"></div>
        {% if current_user is not None and phase == 0 %}
        <div class="sidebar_left">{{ _("Tasks:") }}</div>
        <div class="sidebar_right">
          <ul class="menu">
            {% for t_iter in contest.tasks %}
            <li class="menu_entry"><a class="menu_link" href="/tasks/{{t_iter.name}}">{{t_iter.name}}</a></li>
            {% end %}
          </ul>
        </div>
        <div class="hr"></div>
        {% end %}
        {% if current_user is None %}
          {% if handler.get_argument("login_error", "") != "" %}
        <div class="footer login_error">{{ _("Failed to log in.") }}</div>
          {% end %}
        <form action="/login" method="POST">
          <input type="hidden" name="next" value="{{ handler.get_argument("next", "/") }}">
          <div class="footer">
            <div class="sidebar_left">{{ _("Username:") }}</div>
            <div class="sidebar_right"><input type="text" name="username" size="12" /></div>
          </div>
          <div class="footer">
            <div class="sidebar_left">{{ _("Password:") }}</div>
            <div class="sidebar_right"><input type="password" name="password" size="12" /></div>
          </div>
          <div class="footer sidebar_right"><input type="submit" value="{{ _("Sign in") }}" /></div>
        </form>
        {% else %}
          {% if phase != 1 %}
        <div class="footer">{{ _("Time left:") }} <span id="remaining"></span></div>
          {% end %}
        <div class="footer">{{ current_user.real_name }} (<a href="/logout">{{ _("logout") }}</a>)</div>
        {% end %}
      </div>
      <div id="border"></div>
      
      <div id="core">
        <div id="notifications" class="notifications"></div>
        <div id="subcore" onclick="var event = arguments[0] || window.event; event.stopPropagation()">
          <div id="subborder"></div>
          <div id="subcontent"></div>
        </div>
        {% block core %}{% end %}
      </div>


    </div>
  </body>
</html>
