{% extends base.html %}
{% block core %}

<h1>Instructions</h1>
<h2 id="title_instruction_general" class="toggling_on" onclick="utils.toggle_visibility('instruction_general');">General</h2>
<div id="instruction_general">
  <p>A lot of instructions about the contest.</p>
  <div class="hr"></div>
</div>


<h2 id="title_instruction_comp" class="toggling_on" onclick="utils.toggle_visibility('instruction_comp');" >Compilation</h2>
<div id="instruction_comp">
  <table class="nobordered">
    <tr><td><strong>C:</strong></td><td><code>{{ " ".join(Utils.get_compilation_command("c", "task.c", "task")) }}</code></td></tr>
    <tr><td><strong>C++:</strong></td><td><code>{{ " ".join(Utils.get_compilation_command("cpp", "task.cpp", "task")) }}</code></td></tr>
    <tr><td><strong>Pascal:</strong></td><td><code>{{ " ".join(Utils.get_compilation_command("pas", "task.pas", "task")) }}</code></td></tr>
  </table>
  <div class="hr"></div>
</div>


<h2 id="title_instruction_doc" class="toggling_on" onclick="utils.toggle_visibility('instruction_doc');">Documentation</h2>
<div id="instruction_doc">
  <ul class="normal_list">
    <li><a href="/stl/index.html">Standard Template Library</a></li>
  </ul>
</div>

{% end %}
