{% extends base.html %}
{% block core %}

{% if current_user is not None %}

<h1>Contest overview</h1>

<h2 id="title_announcements" class="toggling_on" onclick="utils.toggle_visibility('announcements');">Announcements</h2>
<div id="announcements">
  {% if contest.announcements != [] %}
  <div class="notifications">
    {% for msg in contest.announcements %}
    <div class="notification communication">
      <div class="notification_msg">
        <div class="notification_timestamp">{{ Utils.format_time_or_date(msg.timestamp) }}</div>
        <div class="notification_subject">{{ msg.subject }}</div>
        <div class="notification_text">{{ msg.text }}</div>
      </div>
    </div>
    {% end %}
  </div>

  {% else %}
  No announcements.

  {% end %}
  <div class="hr"></div>
</div>

<h2 id="title_general_information" class="toggling_on" onclick="utils.toggle_visibility('general_information');">General information</h2>
<div id="general_information">

  {% if phase == 0 %}
  <p>The contest started {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.start)) }}.</p>
  <p>It will end {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.stop)) }}.</p>

  {% elif phase == -1 %}
  <p>The contest will start {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.start)) }} and will end {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.stop)) }}.</p>

  {% elif phase == 1 %}
  <p>The contest has ended.</p>
  {% end %}
</div>

{% else %}
<h1>Authentication required</h1>
Please login to continue.

{% end %}

{% end %}
