<div id="sidebar">
  <h1>{{ contest.description }}</h1>
  <div class="hr"></div>
  <ul class="menu">
    <li class="menu_entry"><a class="menu_link" href="/">Overview</a></li>
    <li class="menu_entry"><a class="menu_link" href="/instructions">Instructions</a></li>
    <li class="menu_entry"><a class="menu_link" href="/questions">Questions &amp; messages</a></li>
  </ul>
  <div class="hr"></div>
  {% if current_user != None and phase == 0 %}
  <div class="sidebar_left">Tasks:</div>
  <div class="sidebar_right">
    <ul class="menu">
      {% for t_iter in contest.tasks %}
      <li class="menu_entry"><a class="menu_link" href="/tasks/{{t_iter.name}}">{{t_iter.name}}</a></li>
      {% end %}
    </ul>
  </div>
  <div class="hr"></div>
  {% end %}
</div>
<div id="border"></div>
