{% extends base.html %}
{% block js_init %}
function submission_status_received(response, error)
{
    var submission_id = this;

    var $status = $(utils.escape_jquery_selectors("submission_status_" + submission_id));
    var $new_status = $(response);

    var $evaluation = $(utils.escape_jquery_selectors("evaluation_" + submission_id));
    var isVisible = $evaluation.length != 0 && $evaluation.is(":visible");

    if(isVisible)
    {
        // The new evaluation box retains the same visibility,
        // with no animations.
        var $title = $new_status.find(".toggling_off");
        var $item = $new_status.find(utils.escape_jquery_selectors($title[0].id.replace("title_", "#")));
        $item.show();
        $title.toggleClass("toggling_on toggling_off");
    }

    $status.replaceWith($new_status);




}

function update_submission_status()
{
    var $sub_list = $('.submission_pending');
    $sub_list.each(function(index){
        var id = this.id.replace("submission_status_", "");
        func = cmsutils.bind_func(id, submission_status_received);
        cmsutils.ajax_request("/submission_status/" + id, "", func);
    });
}

setInterval(update_submission_status, 5000);

{% end %}

{% block core %}

<h1>{{ task.title }} ({{ task.name }})</h1>

<h2 id="title_task_information" class="toggling_on">{{ _("Task information") }}</h2>
<div id="task_information">
  <div><a href="/tasks/{{ encrypt_number(task.id) }}/statement">{{ _("Download task statement") }}</a></div>

  {{ _("Time limit: %(seconds)s second(s).") % {"seconds": task.time_limit} }}</br>
  {{ _("Memory limit: %(mb)s MB.") % {"mb": task.memory_limit} }}</br>
  {% if task.attachments != {} %}
  {{ _("Attachments") }}:
  <ul>
    {% for filename, attachment in task.attachments.items() %}
    <li>
        <a href="/attachment/{{ encrypt_number(attachment.id) }}">{{ filename }}</a>
    </li>
    {% end %}
  </ul>
  {% end %}
  <div class="hr"></div>
</div>


<h2 id="title_submit_solution" class="toggling_on">{{ _("Submit a solution") }}</h2>
<div id="submit_solution">
  <table>
    <tr>
      <td width="50%">
        <form enctype="multipart/form-data" action="/submit/{{ encrypt_number(task.id) }}" method="post">
          {% for filename in [x.filename for x in task.submission_format] %}
          <p>{{ filename.replace(".%l", "") }}:<br/><input type="file" name="{{ filename }}"></input></p>
          {% end %}
          <input type="submit" value="{{ _("Submit") }}"></input>{% comment _("Submit") %}
        </form>
      </td>
      {% if len(task.submission_format) > 1 %}
      <td width="50%">
        <form enctype="multipart/form-data" action="/submit/{{ encrypt_number(task.id) }}" method="post">
          <p>submission.zip<br/><input type="file" name="submission"></input></p>
          <input type="submit" value="{{ _("Submit") }}"></input>{% comment _("Submit") %}
        </form>
      </td>
      {% end %}
    </tr>
  </table>
  <div class="hr"></div>
</div>


<h2 id="title_previous_submissions" class="toggling_on">{{ _("Previous submissions") }}</h2>
<div id="previous_submissions">
  <div class="task_tokens">
    {% set tokens_info = contest.tokens_available(current_user.username, task.name, timestamp) %}
    {% set can_play_token = (tokens_info[0] > 0 and tokens_info[2] is None) %}
    {% if tokens_info[0] > 0 and tokens_info[2] is None %}
    <p>
      {{ _("Right now, you have %(tokens)s token(s) available on this task.") % { "tokens": tokens_info[0]} }}
      {% if tokens_info[1] is not None %}
      {{ _("You will receive a new token at %(gen_time)s.") % {"gen_time": format_time_or_date(tokens_info[1])} }}
      {% else %}
      {{ _("In the current situation, no more tokens will be generated.") }}
      {% end %}
    </p>
    {% elif tokens_info[0] > 0 %}
    <p>
      {{ _("Right now, you have %(tokens)s token(s) available on this task.") % { "tokens": tokens_info[0]} }}
      {{ _("But you have to wait until %(expiration_time)s to use them.") % {"expiration_time": format_time_or_date(tokens_info[2])} }}
      {% if tokens_info[1] is not None %}
      {{ _("You will receive a new token at %(gen_time)s.") % {"gen_time": format_time_or_date(tokens_info[1])} }}
      {% else %}
      {{ _("In the current situation, no more tokens will be generated.") }}
      {% end %}
    </p>
    {% else %}
    <p>
      {{ _("Right now, you do not have tokens available for this task.") }}
      {% if tokens_info[1] is not None %}
      {{ _("You will receive a new token at %(gen_time)s.") % {"gen_time": format_time_or_date(tokens_info[1])} }}
        {% if tokens_info[2] is not None and tokens_info[2] > tokens_info[1] %}
      {{ _("But you will have to wait until %(expiration_time)s to use it.") % {"expiration_time": format_time_or_date(tokens_info[2])} }}
        {% end %}
      {% else %}
      {{ _("In the current situation, no more tokens will be generated.") }}
      {% end %}
    </p>
    {% end %}
  </div>

  {% if submissions == [] %}
  <p>{{ _("No submissions found.") }}</p>

  {% else %}
  <table class="bordered">
    <thead>
      <tr>
        <th style="width: 13%">{{ _("Time") }}</th>
        <th style="width: 60%">{{ _("Status") }}</th>
        <th style="width: 15%">{{ _("Files") }}</th>
        <th style="width: 12%">{{ _("Token used?") }}</th>
      </tr>
    </thead>
    <tbody id="submission_list">
      {% for s in sorted(submissions, key=lambda s: s.timestamp, reverse=True) %}
      <tr>
        <td>
          {{ format_time_or_date(s.timestamp) }}
        </td>
        <td>{% include submission_snippet.html %}</td>
        <td>
          {% for filename in [x.filename for x in task.submission_format] %}
            {% if filename in s.files %}
              {% set real_filename = filename if s.language is None else filename.replace("%l", s.language) %}
          <a href="#" onclick="utils.show_file('{{ real_filename }}', '/submission_file/{{ encrypt_number(s.files[filename].id) }}');">
               {{ real_filename }}
          </a>
          <br/>
            {% end %}
          {% end %}
        </td>
        <td>
          {% if s.token is None %}
          {{ _("No") }}
            {% if can_play_token %}
          <form style="display: inline;" class="submit_form" action="/usetoken" method="POST">
            <input type="hidden" name="submission_id" value="{{ encrypt_number(s.id) }}" />
            <input type="submit" value="{{ _("Use!") }}" />{% comment _("Use!") %}
          </form>
            {% end %}
          {% else %}
          {{ _("Yes") }}
          {% end %}
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>
  {% end %}
</div>

{% end %}
