{% extends base.html %}

{% block core %}
    <div class="core_title">
      <h1>{{ current_user.username}}</h1>
    </div>

    <h2 onclick="util.toggleVisibility(&quot;user_messages&quot;);">
      <span class="toggle" id="user_messages_toggle">-</span>Messages
    </h2>
    <div id="user_messages">
      {% if current_user.messages != [] %}
        {% for i, msg in enumerate(reversed(current_user.messages)) %}
      <div class="message_item displayed">
        <span class="message_date">{{ datetime.datetime.fromtimestamp(msg.timestamp).strftime("%d/%m/%Y %H:%M:%S")  }}</span>
        <span class="message_subject">{{msg.subject}}</span>
        <span class="message_text">{{msg.text}}</span>
      </div>
        {% end %}
      {% else %}
      No messages.
      {% end %}
    </div>

    <h2 onclick="util.toggleVisibility(&quot;user_questions&quot;);">
      <span class="toggle" id="user_questions_toggle">-</span>Submitted questions
    </h2>
    <div id="user_questions">
      {% if current_user.questions != [] %}
        {% for i, msg in enumerate(reversed(current_user.questions)) %}
      <div class="question_item displayed">
        <span class="question_date">{{ datetime.datetime.fromtimestamp(msg.question_timestamp).strftime("%d/%m/%Y %H:%M:%S")  }}</span>
        <span class="question_subject">{{escape(msg.subject)}}</span>
        <span class="question_text">{{escape(msg.text)}}</span>
        <hr/>
        <div class="reply_question_additional">
          {% if WebConfig.quick_answers.get(msg.short_reply, None) != None %}
          Reply: &ldquo;{{ WebConfig.quick_answers.get(msg.short_reply, "") }}&rdquo;.
          {% elif msg.long_reply != None %}
          Reply: &ldquo;{{ escape(msg.long_reply) }}&rdquo;.
          {% else %}
          Waiting for reply.
          {% end %}
        </div>
      </div>
        {% end %}
      {% else %}
      No submitted questions.
      {% end %}
    </div>

{% end %}
