{% extends base.html %}
{% block core %}

{% if current_user != None %}

<h1>Contest overview</h1>

<h2 id="title_announcements" onclick="util.toggleVisibility('announcements');">Announcements</h2>
<div id="announcements">
  {% if contest.announcements != [] %}
    {% for msg_i, msg in enumerate(reversed(contest.announcements)) %}
  <div class="announcement_item displayed">
    <span class="announcement_date">{{ datetime.datetime.fromtimestamp(msg.timestamp).strftime("%d/%m/%Y %H:%M:%S")  }}</span>
    <span class="announcement_subject">{{msg.subject}}</span>
    <span class="announcement_text">{{msg.text}}</span>
  </div>
    {% end %}

  {% else %}
  No announcements.

  {% end %}
</div>

<div class="hr"></div>

<h2 id="title_general_information" onclick="util.toggleVisibility('general_information');">General information</h2>
<div id="general_information">
  {% if phase == 0 %}

  <p>The contest started {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.start)) }}.</p>
  <p>It will end {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.stop)) }}.</p>

  {% elif phase == -1 %}

  <p>The contest will start {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.start)) }} and will end {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.stop)) }}.</p>

  {% elif phase == 1 %}
  <p>The contest has ended.</p>
  {% end %}
</div>

{% else %}

<h1>Authentication required</h1>
Please login to continue.

{% end %}

{% end %}
