{# This snippet shows a form to add/edit an admin; if admin_being_edited is set, its data will be used as defaults. #}

{% if admin_being_edited is defined %}
  {% set admin_username = admin_being_edited.username %}
  {% set admin_name = admin_being_edited.name %}
  {% set admin_permission_all = admin_being_edited.permission_all %}
  {% set admin_permission_messaging = admin_being_edited.permission_messaging %}
  {% set admin_enabled = admin_being_edited.enabled %}
{% else %}
  {% set admin_username = "" %}
  {% set admin_name = "" %}
  {% set admin_permission_all = True %}
  {% set admin_permission_messaging = False %}
  {% set admin_enabled = True %}
{% endif %}

<div>
  <table>
    <tr>
      <td>Username</td>
      <td><input type="text" name="username" value="{{ admin_username }}"/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password" value=""/></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><input type="text" name="name" value="{{ admin_name }}"/></td>
    </tr>
    {% if admin.permission_all %}
    <tr>
      <td>All permissions</td>
      <td>
        <input type="checkbox" name="permission_all" {% if admin_permission_all %}checked{% endif %} />
      </td>
    </tr>
    <tr>
      <td>Messaging permissions</td>
      <td>
        <input type="checkbox" name="permission_messaging" {% if admin_permission_messaging %}checked{% endif %} />
      </td>
    </tr>
    <tr>
      <td>Enabled</td>
      <td>
        <input type="checkbox" name="enabled" {% if admin_enabled %}checked{% endif %} />
      </td>
    </tr>
    {% endif %}
  </table>
</div>
