      <tr><td colspan=2><h2>Contest time</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="Start time of the contest for users in this group in the UTC timezone.
                                    Example: '2015-12-31 15:00:00'."></span>
          Start time (in UTC)
        </td>
        <td>
          <input type="text" name="start" value="{{ group.start }}"/>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="End time of the contest for users in this group in the UTC timezone.
                                    Example: '2015-12-31 18:00:00'."></span>
          End time (in UTC)
        </td>
        <td>
          <input type="text" name="stop" value="{{ group.stop }}"/>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Length of the contest (in seconds) for each contestant.
                                    If not specified, each contestant can submit solutions for the whole duration of the contest.
                                    If specified, only up to this length after the first log in (or up to the end of the contest, whichever comes first)."></span>
          Length of the contest
        </td>
        <td><input type="text" name="per_user_time" value="{{ group.per_user_time.total_seconds() if group.per_user_time is not none else "" }}"></td>
      </tr>
      <tr><td colspan=2><h2>Analysis mode</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="If true, analysis mode for this contest will be enabled."></span>
          Enabled
        </td>
        <td>
          <input type="checkbox" id="analysis_enabled" name="analysis_enabled" {{ "checked" if group.analysis_enabled else "" }}/>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Start time of the analysis mode in the UTC timezone.
                                    Example: '2015-12-31 15:00:00'."></span>
          Analysis mode start time (in UTC)
        </td>
        <td><input type="text" name="analysis_start" value="{{ group.analysis_start }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="End time of the analysis mode in the UTC timezone.
                                    Example: '2015-12-31 18:00:00'."></span>
          Analysis mode end time (in UTC)
        </td>
        <td><input type="text" name="analysis_stop" value="{{ group.analysis_stop }}"></td>
      </tr>
