{# This snippet shows a form to edit a hashed password for users and participations. #}

{% if hashed_password is not none %}
  {% set method, password = parse_authentication(hashed_password) %}
{% else %}
  {% set method = "plaintext" %}
  {% set password = "" %}
{% endif %}

<input type="text" name="password" value="{{ password if method == "plaintext" else "" }}" />
<select name="method">
  <option value="plaintext" {{ "selected" if method == "plaintext" else "" }}>Plain text</option>
  <option value="bcrypt" {{ "selected" if method == "bcrypt" else "" }}>Hashed (bcrypt)</option>
</select>
{% if method != "plaintext" %}
<script>
  $("[name=method]").change(function (e) {
    if (e.target.value != "{{ method }}") {
      $("[name=password]").attr("placeholder", "");
    }
    else {
      $("[name=password]").attr("placeholder", "The password is hashed, type a new one in here to change it");
    }});
  $("[name=method]").change();
</script>
{% endif %}

