{% set url = "%s/%s/%s" % (url_root, reevaluation_par_name, reevaluation_par_value) %}
{% if reevaluation_par_dataset_id is not None %}
    {% set url = "%s/%s" % (url, reevaluation_par_dataset_id) %}
{% end %}
<button onclick="cmsrpc_request('{{ url_root }}',
                 'EvaluationService', 0,
                 'invalidate_submission',
                 {'{{ reevaluation_par_name }}_id': {{ reevaluation_par_value }},
                 {% if reevaluation_par_dataset_id is not None %}
                  'dataset_id': {{ reevaluation_par_dataset_id }},
                 {% end %}
                  'level': 'compilation'},
                 function(response) { utils.redirect_if_ok('{{ url }}', response); }
                 );"
        title="Compilation" >C</button>
<button onclick="cmsrpc_request('{{ url_root }}',
                 'EvaluationService', 0,
                 'invalidate_submission',
                 {'{{ reevaluation_par_name }}_id': {{ reevaluation_par_value }},
                 {% if reevaluation_par_dataset_id is not None %}
                  'dataset_id': {{ reevaluation_par_dataset_id }},
                 {% end %}
                  'level': 'evaluation'},
                 function(response) { utils.redirect_if_ok('{{ url }}', response); }
                  );"
        title="Evaluation" >E</button>
<button onclick="cmsrpc_request('{{ url_root }}',
                 'ScoringService', 0,
                 'invalidate_submission',
                 {'{{ reevaluation_par_name }}_id': {{ reevaluation_par_value }},
                 {% if reevaluation_par_dataset_id is not None %}
                  'dataset_id': {{ reevaluation_par_dataset_id }},
                 {% end %}
                 },
                 function(response) { utils.redirect_if_ok('{{ url }}', response); }
                 );"
        title="Score" >S</button>
