{# This snippet shows a table using the list submissions as input #}
{% if submission_count == 0 %}
<p>No submissions found.</p>

{% else %}

{% if submission_count > len(submissions) %}
<div>
  Pages:
  {% for i in range(submission_pages) %}
    {% if i != submission_page %}
  <a href="{{ url(*page_url, page=i) }}">{{ i + 1 }}</a>
    {% else %}
  {{ i + 1 }}
    {% end %}
  {% end %}
</div>
{% end %}

<table class="bordered">
  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Task</th>
      <th>Status</th>
      <th>Files</th>
      <th>Token</th>
      <th>Official</th>
      <th>Comment</th>
      <th>Reevaluate</th>
    </tr>
  </thead>
  <tbody>
    {% from cms.grading.scoretypes import get_score_type %}
    {% set score_types = {} %}
    {% for s in sorted(submissions, key=lambda s: s.timestamp, reverse=True) %}
      {% include submission_row.html %}
    {% end %}
  </tbody>
</table>
{% end %}
