{% import 'macro/pages.html' as macro_pages %}
{% import 'macro/submission.html' as macro_submission %}

{# This snippet shows a table using the list submissions as input #}
{% if submission_count == 0 %}
<p>No submissions found.</p>

{% else %}

{{ macro_pages.selector(page_url, submission_page, submission_pages) }}

<table class="bordered">
  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Task</th>
      <th>Status</th>
      <th>Files</th>
      <th>Token</th>
      <th>Official</th>
      <th>Comment</th>
      <th>Reevaluate</th>
    </tr>
  </thead>
  <tbody>
    {% for s in submissions|sort(attribute="timestamp")|reverse %}
      {{ macro_submission.row(admin, url, s, shown_dataset|default(none)) }}
    {% endfor %}
  </tbody>
</table>
{% endif %}
