{# This snippet shows a row of a user_test table using the variable ut as input #}
{% from cms.grading import format_status_text %}

{% try %}
  {% set dataset = shown_dataset %}
{% except %}
  {% set dataset = ut.task.active_dataset %}
{% end %}

{% set utr = ut.get_result(dataset) %}

{# The user test result might be missing in some cases (e.g., cloned dataset); these cases are equivalent to the compiling state. #}
{% set status = UserTestResult.COMPILING %}
{% if utr is not None %}
  {% set status = utr.get_status() %}
{% end %}
<tr>
  <td><a href="{{ url("user_test", ut.id) }}">{{ str(ut.timestamp) }}</a></td>
  <td><a href="{{ url("contest", ut.participation.contest.id, "user", ut.participation.user.id, "edit") }}">{{ ut.participation.user.username }}</a></td>
  <td><a href="{{ url("task", ut.task.id) }}">{{ ut.task.name }}</a></td>
  <td>
    {% if status == UserTestResult.COMPILING %}
    Compiling...
    {% else %}
    <div id="title_evaluation_{{ ut.id }}" class="toggling_off">

      {% if status == UserTestResult.COMPILATION_FAILED %}
      Compilation failed
      <div id="evaluation_{{ ut.id }}" style="display: none;">

      {% elif status == UserTestResult.EVALUATING %}
      Evaluating...
      <div id="evaluation_{{ ut.id }}" style="display: none;">

      {% elif status == UserTestResult.EVALUATED %}
      Evaluated
      <div id="evaluation_{{ ut.id }}" style="display: none;">

      {% else %}
      [Unknown status]
      <div id="evaluation_{{ ut.id }}" style="display: none;">

      {% end %}
        <h3>Compilation output</h3>{% comment TODO: trim long outputs and add facility to see raw %}
        <pre>{% if utr.compilation_text is not None %}{{ format_status_text(utr.compilation_text) }}{% end %}</pre>
      </div>
    </div>

    {% end %}
  </td>
  <td>
    <a href="javascript:void(0);" onclick="utils.show_file('input','{{ url("file", ut.input, "input") }}')">See input</a>
  </td>
  <td>
    {% for filename, sub_file in ut.files.items() %}
      {% set real_filename = filename if ut.language is None else filename.replace(".%l", get_language(ut.language).source_extension) %}
    <a href="javascript:void(0);" onclick="utils.show_file('{{ real_filename }}','{{ url("user_test_file", sub_file.id) }}')">{{ real_filename }}</a><br/>
    {% end %}
  </td>
</tr>
