<button onclick="cmsrpc_request(
                 'EvaluationService', 0,
                 'invalidate_submission', {
{% for key, value in invalidate_arguments.items() %}
                 '{{ key }}': {{ value }},
{% end %}
                  'level': 'compilation'},
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                 );"
{% if not current_user.permission_all %}
        disabled
{% end %}
        title="Compilation" >C</button>
<button onclick="cmsrpc_request(
                 'EvaluationService', 0,
                 'invalidate_submission', {
{% for key, value in invalidate_arguments.items() %}
                 '{{ key }}': {{ value }},
{% end %}
                  'level': 'evaluation'},
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                  );"
{% if not current_user.permission_all %}
        disabled
{% end %}
        title="Evaluation" >E</button>
<button onclick="cmsrpc_request(
                 'ScoringService', 0,
                 'invalidate_submission', {
{% for key, value in invalidate_arguments.items() %}
                 '{{ key }}': {{ value }},
{% end %}
                 },
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                 );"
{% if not current_user.permission_all %}
        disabled
{% end %}
        title="Score" >S</button>
