<button onclick="cmsrpc_request('{{ url_root }}',
                 'EvaluationService', 0,
                 'invalidate_submission', {
{% for key, value in invalidate_arguments.items() %}
                 '{{ key }}': {{ value }},
{% end %}
                  'level': 'compilation'},
                 function(response) { utils.redirect_if_ok('{{ url_root }}/{{ url }}', response); }
                 );"
        title="Compilation" >C</button>
<button onclick="cmsrpc_request('{{ url_root }}',
                 'EvaluationService', 0,
                 'invalidate_submission', {
{% for key, value in invalidate_arguments.items() %}
                 '{{ key }}': {{ value }},
{% end %}
                  'level': 'evaluation'},
                 function(response) { utils.redirect_if_ok('{{ url_root }}/{{ url }}', response); }
                  );"
        title="Evaluation" >E</button>
<button onclick="cmsrpc_request('{{ url_root }}',
                 'ScoringService', 0,
                 'invalidate_submission', {
{% for key, value in invalidate_arguments.items() %}
                 '{{ key }}': {{ value }},
{% end %}
                 },
                 function(response) { utils.redirect_if_ok('{{ url_root }}/{{ url }}', response); }
                 );"
        title="Score" >S</button>
