<html>
<head>

</head>

<body onload="window.top.window.sottoponiCb(document.body.innerHTML)">
    <div class="popup-title">
        <div class="popup-close" onClick="nascondi();">X</div>
        <h3>Submission outcome</h3>
        </div>
    <div class="popup-content">
        <a href="/submissions/{{ task.name }}" target="sottoponi_target"> &lt;&lt; View submissions</a><br/>
        <a href="/submissions/details/{{ escape(submission.couch_id) }}" target="sottoponi_target">Refresh</a>
          <table>
          <tr>
              <th>Timestamp</th>
              <td>{{ datetime.datetime.fromtimestamp(submission.timestamp).strftime("%d/%m/%Y %H:%M:%S") }}</td>
          </tr>
          <tr>
              <th>Compilation outcome</th>
              <td>{{ submission.compilation_outcome }}</td>
          </tr>
          <tr>
              <th>Compilation detail</th>
              <td>
              {% if submission.compilation_text != None %}
              {{ submission.compilation_text.replace("\n","<br/>") }}
              {% else %}
              None
              {% end %}
              </td>
          </tr>
          <tr>
              <th>Evaluation outcome</th>
              <td>
                  {% if submission.evaluation_outcome != None %}
                      <table>
                      <tr><th>Score</th><th>Details</th></tr>
                      {% for ev_o, ev_t in zip(submission.evaluation_outcome, submission.evaluation_text) %}
                          <tr><td>{{ ev_o }}</td><td>{{ ev_t }}</td><tr/>
                      {% end %}
                      </table>
                  {% else %}
                      Not evaluated
                  {% end %}
              </td>
          </tr>
          <tr>
              <th>Files</th>
              <td>
              {% for key,value in submission.files.items() %}
                  <a href="/submission_file/{{ escape(submission.couch_id) }}/{{ escape(key) }}">{{ escape(key) }}<br/>
              {% end %}
              </td>
          </tr>
          <tr>
              <th>Detailed<br/>Feedback<br/>Requested</th>
              <td>
              {% if submission.token_timestamp==None %}
                  <form action="/usetoken/" method="POST" target="sottoponi_target">
                  No
                  <input type="hidden" name="id" value="{{ escape(submission.couch_id) }}">
                  <input type="submit" value="Use Token">
                  </form>
              {% else %}
                  Yes
              {% end %}
              </td>
          </tr>
          </table>
    </div>
</body>
</html>
