<html>
<head>

</head>

<body onload="window.top.window.sottoponiCb(document.body.innerHTML)">
    <div class="popup-title">
        <div class="popup-close" onClick="nascondi();">X</div>
        <h3>View Submissions</h3>
    </div>
    <div class="popup-content">
    {% if submissions == [] %}
        No submissions found.
    {% else %}
        <table border="1">
        <tr>
            <th>Date</th>
            <th>Compilation<br/>status</th>
            <th>Evaluation<br/>status</th>
            <th>Files</th>
            <th>Detailed<br/>Feedback<br/>Requested</th>
        </tr>
        {% for s in sorted(submissions, key=lambda s: s.timestamp , reverse = True) %}
            <tr>
                <td><a href="/submissions/details/{{escape(s.couch_id)}}" target="sottoponi_target">{{ datetime.datetime.fromtimestamp(s.timestamp).strftime("%d/%m/%Y %H:%M:%S") }}</a></td>
                <td>{{ s.compilation_outcome }}</td>
                <td>
                    {% if s.evaluation_outcome != None %}
                        Evaluated
                    {% else %}
                        Not evaluated
                    {% end %}
                </td>
                <td>
                {% for key,value in s.files.items() %}
                    <a href="/submission_file/{{ escape(s.couch_id) }}/{{ escape(key) }}">{{ escape(key) }}<br/>
                {% end %}
                <td>
                {% if s.token_timestamp==None %}
                    <form action="/usetoken/" method="POST" target="sottoponi_target">
                    No
                    <input type="hidden" name="id" value="{{ escape(s.couch_id) }}">
                    <input type="submit" value="Use Token">
                    </form>
                {% else %}
                    Yes
                {% end %}
            </tr>
        {% end %}
        </table>
    {% end %}
    </div>
</body>
