{% extends base.html %}

{% block core %}
{% if current_user == None %}
            Authentication required.
            <form style="display: inline-block" action="/login" method="POST">
                <input type="hidden" name="next" value="/">
                Username:
                <input type="text" name="username" size=8>
                Password:
                <input type="password" name="password" size=8>
                <input type="submit" value="Sign in">
            </form>
{% else %}

{% import time %}
  <script type="text/javascript">
<!--
    {% comment Scommentare per permettere la chiusura del popup cliccando al di fuori. %}

     //    document.onclick=controlla_chiusura;

    function controlla_chiusura(e)
    {
      var target = (e && e.target) || (event && event.srcElement);
      var esito = document.getElementById('esito');
      controlla_genitore(target) ? esito.style.display = 'none' : null;

      {% for task in contest.tasks %}
        var submit = document.getElementById('submit_{{task.name}}');
        target == submit ? esito.style.display = 'block' : null;
      {% end %}

    }

    function controlla_genitore(t)
    {
      while(t.parentNode)
      {
        if(t == document.getElementById('esito'))
          return false;
        t = t.parentNode;
      }
      return true;
    }

    function richiesta(tipo)
    {
      var xmlhttp;
      if (window.XMLHttpRequest) { xmlhttp=new XMLHttpRequest(); }
      else if (window.ActiveXObject) { xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"); }
      else { alert("Your browser does not support XMLHTTP!"); }
      xmlhttp.onreadystatechange=function()
        {
          if(xmlhttp.readyState==4)
            {
              if (tipo == "BAGNO") alert("Richiesta inoltrata, attendere l'accompagnatore.");
              else if (tipo == "DOMANDA") alert("Richiesta inoltrata, ricordati di scrivere insieme alla domanda il numero di computer e il tuo nome.");
              else if (tipo == "ALTRO") alert("Richiesta inoltrata.");
            }
        }
      var params = "ajax=True&tipo="+tipo;
      xmlhttp.open("POST", "richiesta.php", true);
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.setRequestHeader("Content-length", params.length);
      xmlhttp.setRequestHeader("Connection", "close");
      xmlhttp.send(params);
    }

    function nascondi()
    {
      var esito = document.getElementById("esito");
      esito.style.display = "none";
    }

    function sottoponiCb(messaggio, prob_accettato)
    {
      var esito = document.getElementById("esito");
      esito.style.display = "block";
      esito.innerHTML = messaggio;
      if (typeof(prob_accettato) != "undefined")
        {
          var ultima = document.getElementById("ultima_" + prob_accettato);
          ultima.innerHTML = "<a href=\"./download.php?prob=" + prob_accettato + "\">(scarica l'ultimo sorgente accettato)</a>";
        }
      return true;
    }

//-->
  </script>
  <iframe id="sottoponi_target" name="sottoponi_target" src="#"></iframe>
  <div id="esito" class="popup"></div>

  <div id="content">
   <h1>{{ contest.description }}</h1>


{% if contest.start != None and contest.start > time.time() %}
   <h2>Attendere l'inizio della gara</h2>
   <center><p>Grazie!</p></center>
   </div>

{% elif contest.stop != None and contest.stop < time.time() %}

   <h2>Gara terminata</h2>
   <center><p>Lasciare la postazione senza spegnere il computer.</p><p>Grazie!</p></center>
   </div>


{% else %}

   <h2>Problemi</h2>

   {% for i, task in enumerate(contest.tasks) %}
    {% if i < 2 %}
      {% if i % 2 == 0 %}
        <div class="lprob">
      {% else %}
        <div class="rprob">
      {% end %}
    {% else %}
      {% if i % 2 == 0 %}
        <div class="lprob" style="border-top: 0px;">
      {% else %}
        <div class="rprob" style="border-top: 0px;">
      {% end %}
    {% end %}

    <p><a href="tasks/{{task.name}}/statement">{{task.name}}</a> ({{task.name}})</p>

        <p id="ultima_{{task.name}}" class="ultima_sottoposizione">
        <a href="/submissions/{{task.name}}" target="sottoponi_target">View submissions</a></p>

            <form enctype="multipart/form-data" action="/submit/{{ task.name }}" method="post" target="sottoponi_target">
              <p>Submit a file or an archive:
              <input type="file" name="{{ task.name }}" size="20"></input>
              <p style="text-align:center"><input id="submit_{{ task.name }}" type="submit" name="{{ task.name }}" value="Submit" class="probbutton"></p>
            </form>
    </div>
  {% end %}

   <div style="clear: both" />

   <h2>Informazioni utili</h2>

   <ul>
    <li>
     Per sottoporre una soluzione, scegli un file (di
     estensione <samp>.pas</samp>, <samp>.c</samp> o <samp>.cpp</samp>)
     nella casella corrispondente al problema e premi il pulsante
     sottostante.
    </li>
    <li><a href="stl/">Documentazione STL</a></li>
    <li>Righe di compilazione:</li>
     <table id="compilazione">
      <tr><td><strong>C</strong></td><td><code>gcc -DEVAL -static -O2 -lm problema.c -o problema</code></td></tr>
      <tr><td><strong>C++</strong></td><td><code>g++ -DEVAL -static -O2 problema.cpp -o problema</code></td></tr>
      <tr><td><strong>Pascal</strong></td><td><code>fpc -dEVAL -XS -O2 problema.pas -o problema</code></td></tr>
     </table>
   </ul>

   <div id="footer">
    <span id="lfooter">Tempo rimanente: <span id="remaining">N/A</span></span>
    <span id="cfooter">
    </span>
    <span id="rfooter">{{ contest.description }}</span>
   </div>
  </div>
{% end %}
{% end %}
{% end %}
