{% import re %}
{% import time %}
{% import simplejson as json %}
{% from cms.server import format_time_or_date, format_amount_of_time %}
{% from cmscommon.Cryptographics import encrypt_number, decrypt_number %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
<!--
var url_root = "{{ url_root }}";
-->
        </script>
        <link rel="shortcut icon" href="{{ url_root }}/static/favicon.ico" />
        <script type="text/javascript" src="{{ url_root }}/static/jq/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ url_root }}/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ url_root }}/static/script_new.js"></script>
        <link rel="stylesheet" href="{{ url_root }}/static/css/bootstrap.css">
        <link rel="stylesheet" href="{{ url_root }}/static/style_new.css">


        <title>{{ contest.description }}</title>

{% if current_user is not None %}
        <script type="text/javascript">
$(document).ready(function () {
    Utils.init({{ timestamp }}, {{ json_encode(contest.start) }}, {{ json_encode(valid_phase_end) }}, {{ phase }});

    firstDate = new Date(); // FIXME very bad: global variable
    Utils.get_time();
    setInterval(Utils.get_time, 1000);
    Utils.update_notifications();
    setInterval(Utils.update_notifications, 15000);
});

{% block js %}{% end %}
        </script>
{% end%}

    </head>
    <body id="body">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">{{ contest.description }}</a>
{% if current_user is not None %}
                    <p class="navbar-text pull-right">
                        Logged in as <strong>{{ current_user.first_name }} {{ current_user.last_name }}</strong> <em>({{ current_user.username }})</em>
                        <a class="btn btn-warning" href="{{ url_root }}/logout">Logout</a>
                    </p>
{% end %}
                </div>
            </div>
        </div>
{% if current_user is None %}
    {% if handler.get_argument("login_error", "") != "" %}
        <div class="footer login_error">{{ _("Failed to log in.") }}</div>
    {% end %}
        <div class="login_container">
            <div class="login_box hero-unit">
                <h1>Welcome</h1>
                <p>Please log in</p>
                <form class="form-horizontal" action="{{ url_root }}/login" method="POST">
                    <input type="hidden" name="next" value="{{ handler.get_argument("next", "/") }}">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="input01">{{ _("Username") }}</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" name="username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input01">{{ _("Password") }}</label>
                            <div class="controls">
                                <input type="password" class="input-xlarge" name="password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary btn-large" type="submit">{{ _("Login") }}</button>
                                <button type="reset" class="btn btn-large" type="submit">{{ _("Reset") }}</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
{% else %}
        <div class="container">
            <div id="notifications" class="notifications" style="height:0"></div>
            <div class="row">
                <div class="span3">
                    <img src="{{ url_root }}/ioi2012.jpg" width="200" style="display: block; max-width: 200px; margin: auto; padding: 0 0 15px;"/>
    {% if phase != 1 %}
                    <h3 style="text-align: center; color: #333333; margin: 0 0 8px;"><span style="color: #999999;">Time left:</span> <span id="remaining">1:23:45</span></h3>
    {% end %}
    {% if phase == 0 %}
                    <div class="well" style="padding: 8px 0;">
                        <ul class="nav nav-list">

                            <li{% if request.path == '/' %} class="active"{% end %}>
                                <a href="{{ url_root }}/">Overview</a>
                            </li>
{% set unread_count = handler.get_secure_cookie("unread_count") %}
                            <li{% if request.path == '/communication' %}{% set unread_count = 0 %} class="active"{% end %}>
                                <a href="{{ url_root }}/communication">Communication
{% if unread_count is None or int(unread_count) == 0 %}
    <span id="unread_count" class="label label-warning no_unread">0 unread</span></a>
{% else %}
    <span id="unread_count" class="label label-warning">{{ unread_count }} unread</span></a>
{% end %}
                            </li>
        {% try %}
            {% set task_url = re.findall("/tasks/(.*)/(description|submissions)", request.path) %}
            {% set task_id = decrypt_number(task_url[0][0]) %}
            {% set task_page = task_url[0][1] %}
        {% except %}
            {% set task_id = None %}
        {% end %}
        {% for t_iter in contest.tasks %}
                            <li class="nav-header">
                                {{ t_iter.name }}
                            </li>
                            <li{% if task_id == t_iter.id and task_page == 'description' %} class="active"{% end %}>
                                <a href="{{ url_root }}/tasks/{{ encrypt_number(t_iter.id) }}/description">Statement</a>
                            </li>
                            <li{% if task_id == t_iter.id and task_page == 'submissions' %} class="active"{% end %}>
                                <a href="{{ url_root }}/tasks/{{ encrypt_number(t_iter.id) }}/submissions">Submissions</a>
                            </li>
        {% end %}
                            <li class="divider"></li>
                            <li{% if request.path == '/documentation' %} class="active"{% end %}>
                                <a href="{{ url_root }}/documentation">Documentation</a>
                            </li>
                        </ul>
                    </div>
    {% end %}
                </div>
    {% block core %}{% end %}
            </div>
        </div>

{% end %}
    </body>
</html>
