{% extends base.html %}
{% block core %}
<div class="span9">

{% from cms import config %}

<div class="page-header">
    <h1>{{ _("Communication") }}</h1>
</div>

{% if len (contest.announcements) > 0 %}
<h2>{{ _("Announcements") }}</h2>
<div class="announcement_list">
    {% for msg in reversed(contest.announcements) %}
    <div class="announcement">
        {% if msg.subject != '' %}
        <h4 class="subject">{{ msg.subject }}</h4>
        {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
        {% end %}
        <span class="timestamp">{{ format_datetime_smart(msg.timestamp, timezone, locale=locale) }}</span>
        {% if msg.text != '' %}
        <div class="body">{% raw xhtml_escape(msg.text).replace('\n', '<br/>') %}</div>
        {% end %}
    </div>
    {% end %}
</div>
{% end %}



{% if config.allow_questions %}

<h2>{{ _("Questions") }}</h2>
<div class="well question_submit">
    <form class="form-horizontal" action="{{ url_root }}/question" method="POST">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="input_subject">{{ _("Subject") }}</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="question_subject" id="input_subject"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_text">{{ _("Text") }}</label>
                <div class="controls">
                    <textarea id="input_text" class="input-xlarge" name="question_text" rows="5"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" type="submit">{{ _("Ask question") }}</button>
                    <button type="reset" class="btn" type="submit">{{ _("Reset") }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


{% if len (current_user.questions) > 0 %}
<div class="question_list">
    {% for msg in reversed(current_user.questions) %}
    <div class="question">
        {% if msg.subject != '' %}
        <h4 class="subject">{{ msg.subject }}</h4>
        {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
        {% end %}
        <span class="timestamp">{{ format_datetime_smart(msg.question_timestamp, timezone, locale=locale) }}</span>
        {% if msg.text != '' %}
        <div class="body">{% raw xhtml_escape(msg.text).replace('\n', '<br/>') %}</div>
        {% end %}
    </div>
        {% if msg.reply_timestamp is not None %}
    <div class="answer">
            {% if msg.reply_subject != '' %}
        <h4 class="subject">{{ msg.reply_subject }}</h4>
            {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
            {% end %}
        <span class="timestamp">{{ format_datetime_smart(msg.reply_timestamp, timezone, locale=locale) }}</span>
            {% if msg.reply_text != '' %}
        <div class="body">{% raw xhtml_escape(msg.reply_text).replace('\n', '<br/>') %}</div>
            {% end %}
    </div>
        {% else %}
    <div class="no_answer">
        {{ _("no answer yet") }}
    </div>
        {% end %}
    {% end %}
</div>
{% end %}

{% end %}


{% if len (current_user.messages) > 0 %}
<h2>{{ _("Messages") }}</h2>
<div class="message_list">
    {% for msg in reversed(current_user.messages) %}
    <div class="message">
        {% if msg.subject != '' %}
        <h4 class="subject">{{ msg.subject }}</h4>
        {% else %}
        <h4 class="subject empty">{{ _("(no subject)") }}</h4>
        {% end %}
        <span class="timestamp">{{ format_datetime_smart(msg.timestamp, timezone, locale=locale) }}</span>
        {% if msg.text != '' %}
        <div class="body">{% raw xhtml_escape(msg.text).replace('\n', '<br/>') %}</div>
        {% end %}
    </div>
    {% end %}
</div>
{% end %}


</div>
{% end %}
