{% extends base.html %}
{% block core %}

{% from cms.server import format_token_rules, format_datetime_smart %}
{% from cms.grading.tasktypes import get_task_type %}

<div class="span9">

<div class="page-header">
    <h1>{{ _("Overview") }}</h1>
</div>

<h2>{{ _("General information") }}</h2>
<div class="row">
{% if contest.per_user_time is not None %}
    <div class="span5">
{% else %}
    <div class="span9">
{% end %}
        <p>
{% if phase == -1 %}
        {{ _("The contest hasn't started yet.") }}
        </p>
        <p>
        {{ _("The contest will start at %(start_time)s and will end at %(stop_time)s.") % {"start_time": format_datetime_smart(contest.start, timezone, locale=locale), "stop_time": format_datetime_smart(contest.stop, timezone, locale=locale)} }}
{% elif phase == 0 %}
        {{ _("The contest is currently running.") }}
        </p>
        <p>
        {{ _("The contest started at %(start_time)s and will end at %(stop_time)s.") % {"start_time": format_datetime_smart(contest.start, timezone, locale=locale), "stop_time": format_datetime_smart(contest.stop, timezone, locale=locale)} }}
{% elif phase == +1 %}
        {{ _("The contest has already ended.") }}
        </p>
        <p>
        {{ _("The contest started at %(start_time)s and ended at %(stop_time)s.") % {"start_time": format_datetime_smart(contest.start, timezone, locale=locale), "stop_time": format_datetime_smart(contest.stop, timezone, locale=locale)} }}
{% end %}
        </p>


{% if tokens_contest != 0 and tokens_tasks != 0 %}
    {% if tokens_contest == 2 and tokens_tasks == 2 %}
        <p>
        {{ _("You have an infinite number of tokens.") }}
        </p>

        <p>
        {{ _("You can see the detailed result of a submission by using a token on it.") }}
        {{ _("Your score for each task will be the maximum among the tokened submissions and the last one.") }}
        </p>
    {% elif tokens_contest == 2 %}
        <p>
        {{ _("You have a distinct set of tokens for each task.") }}
        {{ _("You can find the rules for the %(type_pl)s on each task's description page.") % {"type_pl": _("tokens")} }}
        </p>

        <p>
        {{ _("You can see the detailed result of a submission by using a token on it.") }}
        {{ _("Your score for each task will be the maximum among the tokened submissions and the last one.") }}
        </p>
    {% elif tokens_tasks == 2 %}
        <p>
        {{ _("You have a set of tokens shared among all tasks.") }}
        {% set tokens = {k[6:]: v for k, v in contest.__dict__.iteritems() if k.startswith("token_")} %}
        {{ format_token_rules(tokens, locale=locale) }}
        </p>

        <p>
        {{ _("You can see the detailed result of a submission by using a token on it.") }}
        {{ _("Your score for each task will be the maximum among the tokened submissions and the last one.") }}
        </p>
    {% else %}
        <p>
        {% raw _("You have two types of tokens: a set of <em>contest-tokens</em> shared among all tasks and a distinct set of <em>task-tokens</em> for each task.") %}
        {% set tokens = {k[6:]: v for k, v in contest.__dict__.iteritems() if k.startswith("token_")} %}
        {{ format_token_rules(tokens, t_type="contest", locale=locale) }}
        {{ _("You can find the rules for the %(type_pl)s on each task's description page.") % {"type_pl": _("task-tokens")} }}
        </p>

        <p>
        {{ _("You can see the detailed result of a submission by using two tokens on it, one of each type.") }}
        {{ _("Your score for each task will be the maximum among the tokened submissions and the last one.") }}
        </p>
    {% end %}
{% end %}

{% if contest.max_submission_number is not None %}
    <p>
    {{ _("You can submit at most %(submissions)s solutions during this contest.") % {"submissions": contest.max_submission_number} }}
    </p>
{% end %}

{% if contest.max_user_test_number is not None %}
    <p>
    {{ _("You can submit at most %(user_tests)s user tests during this contest.") % {"user_tests": contest.max_user_test_number} }}
    </p>
{% end %}

    </div>
{% if contest.per_user_time is not None %}
    <div class="span4">
        <div class="well per_user_time">
            <p>
        {% comment TODO would be very nice to write something like "just for 3 consecutive hours"... %}
        {{ _("Every user is allowed to compete (i.e. submit solutions) for a uninterrupted time frame of %(per_user_time)s.") % {"per_user_time": format_amount_of_time(contest.per_user_time.total_seconds(), precision=-1, locale=locale)} }}
            </p>

            <p>
    {% if actual_phase == -2 %}
        {{ _("As soon as the contest starts you can choose to start your time frame.") }}
        {{ _("Once you start, you can submit solutions until the end of the time frame or until the end of the contest, whatever comes first.") }}
    {% elif actual_phase == -1 %}
        {{ _("By clicking on the button below you can start your time frame.") }}
        {{ _("Once you start, you can submit solutions until the end of the time frame or until the end of the contest, whatever comes first.") }}
    {% elif actual_phase == 0 %}
        {{ _("You started your time frame at %(start_time)s.") % {"start_time": format_datetime_smart(current_user.starting_time, timezone, locale=locale)} }}
        {{ _("You can submit solutions until the end of the time frame or until the end of the contest, whatever comes first.") }}
    {% elif actual_phase == +1 %}
        {{ _("You started your time frame at %(start_time)s and you already finished it.") % {"start_time": format_datetime_smart(current_user.starting_time, timezone, locale=locale)} }}
        {{ _("There's nothing you can do now.") }}
    {% elif actual_phase == +2 %}
        {% if current_user.starting_time is None %}
            {{ _("You never started your time frame. Now it's too late.") }}
        {% else %}
            {{ _("You started your time frame at %(start_time)s and you already finished it.") % {"start_time": format_datetime_smart(current_user.starting_time, timezone, locale=locale)} }}
        {% end %}
        {{ _("There's nothing you can do now.") }}
    {% end %}
            </p>

    {% if actual_phase == -1 %}
        <form action="{{ url_root }}/start" method="POST" style="margin: 0">
            <input type="hidden" name="next" value="{{ url_root + request.path }}">
            <button type="submit" class="btn btn-danger btn-large" style="width:100%;-moz-box-sizing:border-box;box-sizing:border-box;" type="submit">{{ _("Start!") }}</button>
        </form>
    {% end %}

        </div>
    </div>
{% end %}
</div>



{% if actual_phase == 0 %}
<h2>{{ _("Task overview") }}</h2>

<table class="table table-bordered table-striped">
    <!-- <colgroup>
        <col class="task"/>
        <col class="time_limit"/>
        <col class="memory_limit"/>
        <col class="n_inputs"/>
        <col class="task_type"/>
        <col class="files"/>
    </colgroup> -->
    <thead>
        <tr>
            <th>{{ _("Task") }}</th>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Time limit") }}</th>
            <th>{{ _("Memory limit") }}</th>
            <th>{{ _("Type") }}</th>
            <th>{{ _("Files") }}</th>
{% if tokens_contest != 0 and tokens_tasks != 0 %}
            <th>{{ _("Tokens") }}</th>
{% end %}
        </tr>
    </thead>
    <tbody>
{% set extensions = "[%s]" %  ("|".join(LANGUAGE_TO_SOURCE_EXT_MAP[lang][1:] for lang in contest.languages)) %}
{% for t_iter in contest.tasks %}
        <tr>
            <th>{{ t_iter.name }}</th>
            <td>{{ t_iter.title }}</td>
            <td>
    {% if t_iter.active_dataset.time_limit is not None %}
        {% if t_iter.active_dataset.time_limit == 1.0 %}
            {{ _("%(seconds)g second") % {"seconds": t_iter.active_dataset.time_limit} }}
        {% else %}
            {{ _("%(seconds)g seconds") % {"seconds": t_iter.active_dataset.time_limit} }}
        {% end %}
    {% else %}
        {{ _("N/A") }}
    {% end %}
            </td>
            <td>
    {% if t_iter.active_dataset.memory_limit is not None %}
        {{ _("%(mb)d MiB") % {"mb": t_iter.active_dataset.memory_limit} }}
    {% else %}
        {{ _("N/A") }}
    {% end %}
            </td>
            <td>{{ get_task_type(dataset=t_iter.active_dataset).name }}</td>
            <td>{{ " ".join(a.filename.replace("%l", extensions) for a in t_iter.submission_format) }}</td>
    {% if tokens_contest != 0 and tokens_tasks != 0 %}
            <td>
        {% if t_iter.token_mode in ("finite", "infinite") %}
            {{ _("Yes") }}
        {% else %}
            {{ _("No") }}
        {% end %}
            </td>
    {% end %}
        </tr>
{% end %}
    </tbody>
</table>

{% end %}

</div>
{% end %}
