{% if s.scored() %}
    {% if s.token is None %}
<h3>{{ _("Public testcases") }}</h3>
    {% else %}
<h3>{{ _("Detailed feedback") }}</h3>
    {% end %}
<table class="table table-bordered table-striped">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 80%"/>
    </colgroup>
    <thead>
        <tr>
            <th>{{ _("Outcome") }}</th>
            <th>{{ _("Details") }}</th>
{% set n_cols = 2 %}
{% if task.time_limit is not None %}
            <th>{{ _("Time") }}</th>
    {% set n_cols = n_cols + 1 %}
{% end %}
{% if task.memory_limit is not None %}
            <th>{{ _("Memory") }}</th>
    {% set n_cols = n_cols + 1 %}
{% end %}
        </tr>
    </thead>
    <tbody>
    {% for ev in s.evaluations %}
        <tr>
        {% if s.task.testcases[ev.num].public or s.token is not None %}
            <td>{{ ev.outcome }}</td>
            <td>{{ ev.text }}</td>
            {% if task.time_limit is not None %}
            <td>
                {% if ev.execution_time is not None %}
                {{ "%(seconds)0.3f s" % {'seconds': ev.execution_time} }}
                {% else %}
                N/A
                {% end %}
            </td>
            {% end %}
            {% if task.memory_limit is not None %}
            <td>
                {% if ev.memory_used is not None %}
                {{ "%(mb)0.2f MiB" % {'mb': ev.memory_used / 1024.0 / 1024.0} }}
                {% else %}
                N/A
                {% end %}
            </td>
            {% end %}
        {% else %}
            <td colspan="{{ n_cols }}">N/A</td>
        {% end %}
        </tr>
    {% end %}
    </tbody>
</table>
{% end %}

<h3>{{ _("Compilation output") }}</h3>{% comment TODO: trim long outputs and add facility to see raw %}
<pre>{% if s.compilation_text is not None %}{{ s.compilation_text }}{% end %}</pre>
