{% if show_date %}
    {% set col1 = "<td class=\"datetime\">%s</td>" % format_datetime(s.timestamp, timezone, locale=locale) %}
{% else %}
    {% set col1 = "<td class=\"time\">%s</td>" % format_time(s.timestamp, timezone, locale=locale) %}
{% end %}
{% if sr is None or not sr.compiled() %}
<tr data-submission="{{ s_idx }}" data-status="1">
    {% raw col1 %}
    <td class="status">
        {{ _("Compiling...") }}
    </td>
    {% if score_type is not None and score_type.max_public_score != 0 %}
    <td class="public_score undefined">{{ _("N/A") }}</td>
    {% end %}
    <td class="total_score undefined">{{ _("N/A") }}</td>
{% elif sr.compilation_outcome == "fail" %}
<tr data-submission="{{ s_idx }}" data-status="2">
    {% raw col1 %}
    <td class="status">
        {{ _("Compilation failed") }}
        <a class="details">{{ _("details") }}</a>
    </td>
    {% if score_type is not None and score_type.max_public_score != 0 %}
    <td class="public_score undefined">{{ _("N/A") }}</td>
    {% end %}
    <td class="total_score undefined">{{ _("N/A") }}</td>
{% elif not sr.evaluated() %}
<tr data-submission="{{ s_idx }}" data-status="3">
    {% raw col1 %}
    <td class="status">
        {{ _("Evaluating...") }}
    </td>
    {% if score_type is not None and score_type.max_public_score != 0 %}
    <td class="public_score undefined">{{ _("N/A") }}</td>
    {% end %}
    <td class="total_score undefined">{{ _("N/A") }}</td>
{% elif not sr.scored() %}
<tr data-submission="{{ s_idx }}" data-status="4">
    {% raw col1 %}
    <td class="status">
        {{ _("Scoring...") }}
    </td>
    {% if score_type is not None and score_type.max_public_score != 0 %}
    <td class="public_score undefined">{{ _("N/A") }}</td>
    {% end %}
    <td class="total_score undefined">{{ _("N/A") }}</td>
{% else %}
<tr data-submission="{{ s_idx }}" data-status="5">
    {% raw col1 %}
    <td class="status">
        {{ _("Evaluated") }}
        <a class="details">{{ _("details") }}</a>
    </td>

    {% if score_type is not None and score_type.max_public_score != 0 %}
    <td class="public_score {{ get_score_class(sr.public_score, score_type.max_public_score) }}">
            {{ "%g" % round(sr.public_score, task.score_precision) }} / {{ "%g" % round(score_type.max_public_score, task.score_precision) }}
    </td>
    {% end %}

    {% if s.token is not None %}
        {% if score_type is not None and score_type.max_score != 0 %}
    <td class="total_score {{ get_score_class(sr.score, score_type.max_score) }}">
            {{ "%g" % round(sr.score, task.score_precision) }} / {{ "%g" % round(score_type.max_score, task.score_precision) }}
    </td>
        {% else %}
    <td class="total_score">
            {{ "%g" % round(sr.score, task.score_precision) }}
    </td>
        {% end %}
    {% else %}
    <td class="total_score undefined">
        {{ _("N/A") }}
    </td>
    {% end %}
{% end %}
    <td class="files">
        {% comment We replace '%l' with the actual language only when it occurs as an extension at the end of the string and only when %}
        {% comment there isn't another file with that name. This allows to securily reverse the replacement and should work great in %}
        {% comment the common case. Yet, it still allows the marginal case of both 'foo.%l' and 'foo.c' in the submission format. %}
        {% if len(s.files) == 0 %}
        <a class="btn disabled">
            {{ _("None") }}
        </a>
        {% elif len(s.files) == 1 %}
            {% set filename = s.files.keys()[0] %}
            {% if s.language is not None %}
                {% set filename = re.sub("\.%l$", ".%s" % s.language, filename) %}
            {% end %}
        <a class="btn" href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/submissions/{{ s_idx }}/files/{{ encode_for_url(filename) }}">
            {{ _("Download") }}
        </a>
        {% else %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                {{ _("Download") }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for filename in s.files %}
                {% if s.language is not None %}
                    {% set temp_filename = re.sub("\.%l$", ".%s" % s.language, filename) %}
                    {% if temp_filename not in s.files %}
                        {% set filename = temp_filename %}
                    {% end %}
                {% end %}
                <li>
                    <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/submissions/{{ s_idx }}/files/{{ encode_for_url(filename) }}">
                        {{ filename }}
                    </a>
                </li>
            {% end %}
            </ul>
        </div>
        {% end %}
    </td>
{% if tokens_contest != 0 and tokens_tasks != 0 %}
    <td class="token">
        {% if s.token is not None %}
        <a class="btn disabled">{{ _("Played") }}</a>
        {% else %}
            {% comment TODO If the expiration or generation time are greater than valid_phase_end they "don't exist". It's useless to show "Wait..." in those cases. %}
            {% if can_play_token and not need_to_wait %}
        <form action="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/submissions/{{ s_idx }}/token" method="POST">
            <button type="submit" class="btn btn-warning">{{ _("Play!") }}</button>
        </form>
            {% elif (can_play_token and need_to_wait) or (not can_play_token and tokens_info[1] is not None) %}
        <a class="btn btn-warning disabled">{{ _("Wait...") }}</a>
            {% else %}
        <a class="btn disabled">{{ _("No tokens") }}</a>
            {% end %}
        {% end %}
    </td>
{% end %}
</tr>
