{% extends base.html %}
{% block core %}

{% from cms.server import format_token_rules, format_size %}
{% from cms.grading.tasktypes import get_task_type %}
{% import json %}

{% if actual_phase == 0 %}

<div class="span9 task_description">


<div class="page-header">
    <h1>Statement <small>for {{ task.title }} ({{ task.name }})</small></h1>
</div>


<h2>Statement</h2>

{% if len(task.statements) == 0 %}
<div class="row statement no_statements">
    <div class="span9">
        no statement available
    </div>
</div>
{% elif len(task.statements) == 1 %}
<div class="row statement one_statement">
    <div class="span9">
    {% for lang_code in task.statements %}
        <a href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/statements/{{ quote(lang_code, safe='') }}" class="btn btn-large btn-success">{{ _("Download task statement") }}</a>
    {% end %}
    </div>
</div>
{% else %}
<div class="statement many_statements">
    <div class="main_statements">
        <p>
            The statement for this task is available in multiple versions, in different languages. You can see (and download) all of them using the list on the right.
            Some suggested translations follow.
        </p>
    {% set task_primary = json.loads(task.primary_statements) %}
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
        {% if statement.language in task_primary %}
        <a href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/statements/{{ quote(statement.language, safe='') }}" class="btn btn-large btn-success">
            {% if statement.language != statement.language_name %}
                {% raw _("Statement in <b>%s</b>") % escape(statement.language_name) %}
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% end %}
        </a>
        {% end %}
    {% end %}
    {% set user_primary = json.loads(current_user.primary_statements)[task.name] %}
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
        {% if statement.language in user_primary and statement.language not in task_primary %}
        <a href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/statements/{{ quote(statement.language, safe='') }}" class="btn btn-large">
            {% if statement.language != statement.language_name %}
                {% raw _("Statement in <b>%s</b>") % escape(statement.language_name) %}
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% end %}
        </a>
        {% end %}
    {% end %}
    </div>
    <div class="all_statements well">
        <div>
            <ul>
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
                <li>
                    <a href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/statements/{{ quote(statement.language, safe='') }}">
        {% if statement.language != statement.language_name %}
            {% raw _("<b>%s</b>") % escape(statement.language_name) %}
        {% else %}
            {% raw _("%s") % escape(statement.language_name) %}
        {% end %}
                    </a>
                </li>
    {% end %}
            </ul>
        </div>
    </div>
</div>
{% end %}


<h2>Some details</h2>

<table class="table table-bordered table-nohover" style="table-layout: fixed">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>{{ _("Type") }}</th>
            <td colspan="2">{% set task_type = get_task_type(task=task) %}{{ task_type.name }}</td>
        </tr>
{% if task.time_limit is not None %}
        <tr>
            <th>{{ _("Time limit") }}</th>
            <td colspan="2">
    {% if task.time_limit == 1.0 %}
        {{ _("%(seconds)g second") % {"seconds": task.time_limit} }}
    {% else %}
        {{ _("%(seconds)g seconds") % {"seconds": task.time_limit} }}
    {% end %}
            </td>
        </tr>
{% end %}
{% if task.memory_limit is not None %}
        <tr>
            <th>{{ _("Memory limit") }}</th>
            <td colspan="2">{{ _("%(mb)d MiB") % {"mb": task.memory_limit} }}</td>
        </tr>
{% end %}
{% set compilation_commands = task_type.get_compilation_commands([x.filename for x in task.submission_format]) %}
{% if compilation_commands is not None %}
<tr>
    <th rowspan="{{ len(compilation_commands) }}">Compilation commands</th>
    {% for i, (l, c) in enumerate(sorted(compilation_commands.iteritems())) %}
        {% if i > 0 %}
</tr>
<tr>
        {% end %}
    <td>{{ {"c": "C", "cpp": "C++", "pas": "Pascal"}[l] }}</td>
    <td class="compilation_command_cell">
{% for cmd in c %}
        <code class="compilation_command">{{ cmd }}</code>
{% end %}
    </td>
    {% end %}
</tr>
{% end %}

{% if tokens_contest != 0 and tokens_tasks != 0 %}
    {% set contest_token_min_interval = int(contest.token_min_interval.total_seconds()) %}
    {% set task_token_min_interval = int(task.token_min_interval.total_seconds()) %}
<tr>
    <th>{{ _("Tokens") }}</th>
    <td colspan="2" class="token_rules">
    {% if tokens_contest >= 2 and tokens_tasks >= 2 %}
        <p>
        {{ _("You have an infinite set of tokens.") }}
        </p>

        {% if tokens_contest == 2 or tokens_tasks == 2 %}
        <p>
            {% comment Note that if task_min_interval <= contest_min_interval it "doesn't count" %}
            {% if contest_token_min_interval != 0 and task_token_min_interval > contest_token_min_interval %}
                {% if task_token_min_interval == 1 %}
                    {{ _("You can use at most one token every second for this task ") }}
                {% else %}
                    {{ _("You can use at most one token every %(min_interval)d seconds for this task ") % {"min_interval": task_token_min_interval} }}
                {% end %}
                {% if contest_token_min_interval == 1 %}
                    {{ _("and at most one token every second among all tasks.") }}
                {% else %}
                    {{ _("and at most one token every %(min_interval)d seconds among all tasks.") % {"min_interval": contest_token_min_interval} }}
                {% end %}
            {% elif contest_token_min_interval != 0 %}
                {% if contest_token_min_interval == 1 %}
                    {{ _("You can use at most one token every second among all tasks.") }}
                {% else %}
                    {{ _("You can use at most one token every %(min_interval)d seconds among all tasks.") % {"min_interval": contest_token_min_interval} }}
                {% end %}
            {% elif task_token_min_interval > contest_token_min_interval %}
                {% if task_token_min_interval == 1 %}
                    {{ _("You can use at most one token every second for this task.") }}
                {% else %}
                    {{ _("You can use at most one token every %(min_interval)d seconds for this task.") % {"min_interval": task_token_min_interval} }}
                {% end %}
            {% else %}
                    {{ _("On this task you don't have additional rules.") }}
            {% end %}
        </p>
        {% end %}
    {% elif tokens_contest >= 2 %}
        <p>
        {% set tokens = {"initial": task.token_initial, "max": task.token_max, "total": task.token_total, "min_interval": task.token_min_interval, "gen_time": task.token_gen_time, "gen_number": task.token_gen_number} %}
        {{ format_token_rules(tokens) }}
        </p>

        {% if tokens_contest == 2 %}
        <p>
            {% if contest_token_min_interval == 1 %}
        {{ _("In addition to these rules, you can use at most one token every second among all tasks.") }}
            {% else %}
        {{ _("In addition to these rules, you can use at most one token every %(min_interval)d seconds among all tasks.") % {"min_interval": contest_token_min_interval} }}
            {% end %}
        </p>
        {% end %}
    {% elif tokens_tasks >= 2 %}
        <p>
        {% raw _("You can find the rules for the tokens on the <a href=\"%(url_root)s/\">contest overview page</a>.") % {"url_root": url_root} %}
        </p>

        {% if tokens_tasks == 2 %}
        <p>
            {% if task_token_min_interval > contest_token_min_interval %}
                {% if task_token_min_interval == 1 %}
        {{ _("In addition to those rules, you can use at most one token every second on this task.") }}
                {% else %}
        {{ _("In addition to those rules, you can use at most one token every %(min_interval)d seconds on this task.") % {"min_interval": task_token_min_interval} }}
                {% end %}
            {% else %}
        {{ _("On this task you don't have additional rules.") }}
            {% end %}
        </p>
        {% end %}
    {% else %}
        <p>
        {{ _("Remeber that to see the detailed result of a submission you need to use both a contest-token and a task-token.") }}
        </p>

        <p>
        {% set tokens = {"initial": task.token_initial, "max": task.token_max, "total": task.token_total, "min_interval": task.token_min_interval, "gen_time": task.token_gen_time, "gen_number": task.token_gen_number} %}
        {{ format_token_rules(tokens, t_type="task") }}
        {% raw _("You can find the rules for the contest-tokens on the <a href=\"%(url_root)s/\">contest overview page</a>.") % {"url_root": url_root} %}
        </p>
    {% end %}
    </td>
</tr>
{% end %}
    </tbody>
</table>



{% if task.attachments != {} %}
    <h2>{{ _("Attachments") }}</h2>
    <div id="attachments">
        <ul>
    {% from cmscommon import MimeTypes %}
    {% for filename, attachment in sorted(task.attachments.items()) %}
        {% set mime_type = MimeTypes.get_type_for_file_name(filename) %}
        {% if mime_type is not None %}
            {% set type_name = MimeTypes.get_name_for_type(mime_type) %}
            {% set type_icon = MimeTypes.get_icon_for_type(mime_type) %}
        {% else %}
            {% set type_name = None %}
            {% set type_icon = None %}
        {% end %}
        {% set file_size = handler.application.service.file_cacher.get_size(attachment.digest) %}
            <li>
                <a href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/attachments/{{ quote(filename, safe='') }}" class="btn">
            {% if type_icon is not None %}
                    <img src="{{ url_root }}/static/img/mimetypes/{{ type_icon }}.png"/>
            {% else %}
                    <img src="{{ url_root }}/static/img/mimetypes/unknown.png"/>
            {% end %}
                    <span class="first_line">
                        <span class="name">{{ filename }}</span>
                        <span class="size">{{ format_size(file_size) }}</span>
                    </span>
            {% if type_icon is not None %}
                    <span class="type">{{ _(type_name) }}</span>
            {% end %}
                </a>
            </li>
    {% end %}
        </ul>
    </div>
{% end %}

</div>
{% end %}

{% end %}
