{% extends base.html %}
{% block core %}

{% from cms.server import format_token_rules, format_size %}
{% from cms.grading.tasktypes import get_task_type %}
{% import json %}

{% if actual_phase == 0 %}

<div class="span9 task_description">


<div class="page-header">
    <h1>{% raw _("%(name)s (%(short_name)s) <small>description</small>") % {"name": task.title, "short_name": task.name} %}</h1>
</div>


<h2>{{ _("Statement") }}</h2>

{% if len(task.statements) == 0 %}
<div class="row statement no_statements">
    <div class="span9">
        {{ _("no statement available") }}
    </div>
</div>
{% elif len(task.statements) == 1 %}
<div class="row statement one_statement">
    <div class="span9">
    {% for lang_code in task.statements %}
        <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(lang_code) }}" class="btn btn-large btn-success">{{ _("Download task statement") }}</a>
    {% end %}
    </div>
</div>
{% else %}
<div class="statement many_statements">
    <div class="main_statements">
        <p>
            {{ _("The statement for this task is available in multiple versions, in different languages.") }}
            {{ _("You can see (and download) all of them using the list on the right.") }}
            {{ _("Some suggested translations follow.") }}
        </p>
    {% set task_primary = json.loads(task.primary_statements) %}
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
        {% if statement.language in task_primary %}
        <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(statement.language) }}" class="btn btn-large btn-success">
            {% if statement.language != statement.language_name %}
                {% raw _("Statement in <b>%s</b>") % escape(statement.language_name) %}
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% end %}
        </a>
        {% end %}
    {% end %}
    {% set user_primary = json.loads(current_user.primary_statements).get(task.name, []) %}
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
        {% if statement.language in user_primary and statement.language not in task_primary %}
        <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(statement.language) }}" class="btn btn-large">
            {% if statement.language != statement.language_name %}
                {% raw _("Statement in <b>%s</b>") % escape(statement.language_name) %}
            {% else %}
                {% raw _("Statement in %s") % escape(statement.language_name) %}
            {% end %}
        </a>
        {% end %}
    {% end %}
    </div>
    <div class="all_statements well">
        <div>
            <ul>
    {% for statement in sorted(task.statements.itervalues(), key=lambda x: x.language_name) %}
                <li>
                    <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/statements/{{ encode_for_url(statement.language) }}">
        {% if statement.language != statement.language_name %}
            {% raw _("<b>%s</b>") % escape(statement.language_name) %}
        {% else %}
            {% raw _("%s") % escape(statement.language_name) %}
        {% end %}
                    </a>
                </li>
    {% end %}
            </ul>
        </div>
    </div>
</div>
{% end %}


<h2>{{ _("Some details") }}</h2>

<table class="table table-bordered table-nohover" style="table-layout: fixed">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 20%"/>
        <col style="width: 60%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>{{ _("Type") }}</th>
            <td colspan="2">{% set task_type = get_task_type(dataset=task.active_dataset) %}{{ task_type.name }}</td>
        </tr>
{% if task.active_dataset.time_limit is not None %}
        <tr>
            <th>{{ _("Time limit") }}</th>
            <td colspan="2">
    {% if task.active_dataset.time_limit == 1.0 %}
        {{ _("%(seconds)g second") % {"seconds": task.active_dataset.time_limit} }}
    {% else %}
        {{ _("%(seconds)g seconds") % {"seconds": task.active_dataset.time_limit} }}
    {% end %}
            </td>
        </tr>
{% end %}
{% if task.active_dataset.memory_limit is not None %}
        <tr>
            <th>{{ _("Memory limit") }}</th>
            <td colspan="2">{{ _("%(mb)d MiB") % {"mb": task.active_dataset.memory_limit} }}</td>
        </tr>
{% end %}
{% set compilation_commands = task_type.get_compilation_commands([x.filename for x in task.submission_format]) %}
{% if compilation_commands is not None %}
{% set compilation_commands = {lang: compilation_commands[lang] for lang in contest.languages} %}
<tr>
    <th rowspan="{{ len(compilation_commands) }}">{{ _("Compilation commands") }}</th>
    {% for i, (l, c) in enumerate(sorted(compilation_commands.iteritems())) %}
        {% if i > 0 %}
</tr>
<tr>
        {% end %}
    <td>{{ LANGUAGE_NAMES[l] }}</td>
    <td class="compilation_command_cell">
{% for cmd in c %}
        <code class="compilation_command">{{ " ".join(cmd) }}</code>
{% end %}
    </td>
    {% end %}
</tr>
{% end %}

{% if tokens_contest != 0 and tokens_tasks != 0 %}
<tr>
    <th>{{ _("Tokens") }}</th>
    <td colspan="2" class="token_rules">
    {% if tokens_contest == 2 and tokens_tasks == 2 %}
        <p>
        {{ _("You have an infinite number of tokens.") }}
        </p>
    {% elif tokens_contest == 2 %}
        <p>
        {% set tokens = {k[6:]: v for k, v in task.__dict__.iteritems() if k.startswith("token_")} %}
        {{ format_token_rules(tokens, locale=locale) }}
        </p>
    {% elif tokens_tasks == 2 %}
        <p>
        {% raw _("You can find the rules for the %(type_pl)s on the <a href=\"%(url_root)s/\">contest overview page</a>.") % {"type_pl": _("tokens"), "url_root": url_root} %}
        </p>
    {% else %}
        <p>
        {% set tokens = {k[6:]: v for k, v in task.__dict__.iteritems() if k.startswith("token_")} %}
        {{ format_token_rules(tokens, t_type="task", locale=locale) }}
        </p>

        <p>
        {{ _("Remeber that to see the detailed result of a submission you need to use both a contest-token and a task-token.") }}
        {% raw _("You can find the rules for the %(type_pl)s on the <a href=\"%(url_root)s/\">contest overview page</a>.") % {"type_pl": _("contest-tokens"), "url_root": url_root} %}
        </p>
    {% end %}
    </td>
</tr>
{% end %}
    </tbody>
</table>



{% if task.attachments != {} %}
    <h2>{{ _("Attachments") }}</h2>
    <div id="attachments">
        <ul>
    {% from cmscommon import mimetypes %}
    {% for filename, attachment in sorted(task.attachments.items()) %}
        {% set mime_type = mimetypes.get_type_for_file_name(filename) %}
        {% if mime_type is not None %}
            {% set type_name = mimetypes.get_name_for_type(mime_type) %}
            {% set type_icon = mimetypes.get_icon_for_type(mime_type) %}
        {% else %}
            {% set type_name = None %}
            {% set type_icon = None %}
        {% end %}
        {% set file_size = handler.application.service.file_cacher.get_size(attachment.digest) %}
            <li>
                <a href="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/attachments/{{ encode_for_url(filename) }}" class="btn">
            {% if type_icon is not None %}
                    <img src="{{ url_root }}/static/img/mimetypes/{{ type_icon }}.png"/>
            {% else %}
                    <img src="{{ url_root }}/static/img/mimetypes/unknown.png"/>
            {% end %}
                    <span class="first_line">
                        <span class="name">{{ filename }}</span>
                        <span class="size">{{ format_size(file_size) }}</span>
                    </span>
            {% if type_icon is not None %}
                    <span class="type">{{ _(type_name) }}</span>
            {% end %}
                </a>
            </li>
    {% end %}
        </ul>
    </div>
{% end %}

</div>
{% end %}

{% end %}
