{% extends base.html %}

{% block js %}

$(document).on("click", ".user_test_list tbody tr td.status .details", function (event) {
    var $this = $(this);
    var task_id = $this.parent().parent().parent().parent().attr("data-task");
    var user_test_id = $this.parent().parent().attr("data-user-test");
    var modal = $("#user_test_detail");
    var modal_body = modal.children(".modal-body");
    modal_body.html('<div class="loading"><img src="{{ url_root }}/static/loading.gif"/>{{ _("loading...") }}</div>');
    modal_body.load("{{ url_root }}/tasks/" + encodeURIComponent(task_id) + "/tests/" + user_test_id + "/details");
    modal.modal("show");
});

update_user_test_row = function (task_id, user_test_id, data) {
    var row = $(".user_test_list[data-task=\"" + task_id + "\"] tbody tr[data-user-test=\"" + user_test_id + "\"]");
    row.attr("data-status", data["status"]);
    row.children("td.status").html(data["status_text"]);
    if (data["status"] == 4) {
        if (data["output"]) {
            var btn = row.children("td.output").children("a.btn");
            btn.text('{{ _("Download") }}');
            btn.removeClass("disabled");
            btn.attr("href", "{{ url_root }}/tasks/" + encodeURIComponent(task_id) + "/tests/" + user_test_id + "/output");
        } else {
            row.children("td.output").children("a.btn").text("{{ _("N/A") }}");
        }
        if (data["time"] != null) {
            row.children("td.time").removeClass("undefined");
            row.children("td.time").text(data["time"]);
        }
        if (data["memory"] != null) {
            row.children("td.memory").removeClass("undefined");
            row.children("td.memory").text(data["memory"]);
        }
    } else if (data["status"] == 2) {
        row.children("td.output").children("a.btn").text("{{ _("N/A") }}");
    } else {
        schedule_update_user_test_row(task_id, user_test_id);
    }
}

schedule_update_user_test_row = function (task_id, user_test_id) {
    setTimeout(function () {
        $.get("{{ url_root }}/tasks/" + encodeURIComponent(task_id) + "/tests/" + user_test_id, function (data) {
            update_user_test_row(task_id, user_test_id, data);
        });
    }, 2000);
}

$(document).ready(function () {
    $('.user_test_list tbody tr[data-status][data-status!="2"][data-status!="4"]').each(function (idx, elem) {
        var $this = $(this);
        schedule_update_user_test_row($this.parent().parent().attr("data-task"), $this.attr("data-user-test"));
    });
});

{% end %}

{% block core %}

{% from cms.grading.tasktypes import get_task_type %}

{% if actual_phase == 0 %}

<div class="span9 test_interface">

<div class="page-header">
    <h1>{{ _("Testing") }}</h1>
</div>


<ul class="nav nav-tabs">
{% for i, task in enumerate(contest.tasks) %}
    {% set task_type = get_task_type(dataset=task.active_dataset) %}
    {% if task_type.testable %}
    <li{% if task == default_task %} class="active"{% end %}><a href="#test_{{ task.name }}" data-toggle="tab">{{ task.name }}</a></li>
    {% end %}
{% end %}
</ul>

<div class="tab-content">
{% for i, task in enumerate(contest.tasks) %}
    {% set task_type = get_task_type(dataset=task.active_dataset) %}
    {% if task_type.testable %}
<div class="tab-pane{% if task == default_task %} active{% end %}" id="test_{{ task.name }}">

<h2 style="margin-bottom: 10px">{{ _("Submit a test") }}</h2>

<div class="submit_test row">
    <div class="span5">
        <form class="form-horizontal" enctype="multipart/form-data" action="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/test" method="POST">
            <fieldset>
{% for idx, filename in enumerate([x.filename for x in task.submission_format] + task_type.get_user_managers(task.submission_format)) %}
                <div class="control-group">
                    <label class="control-label" for="input{{ idx }}">{{ filename.replace(".%l", "") }}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge" id="input{{ idx }}" name="{{ filename }}"/>
                    </div>
                </div>
{% end %}
                <div class="control-group">
                    <label class="control-label" for="input_file">{{ _("input") }}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge" id="input_file" name="input"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">{{ _("Submit") }}</button>
                        <button type="reset" class="btn">{{ _("Reset") }}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span4">
        <form class="form-horizontal" enctype="multipart/form-data" action="{{ url_root }}/tasks/{{ encode_for_url(task.name) }}/test" method="POST">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="input_zip">{{ _("submission.zip") }}</label>
                    <div class="controls">
                        <input type="file" class="input-xlarge" id="input_zip" name="submission"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">{{ _("Submit") }}</button>
                        <button type="reset" class="btn">{{ _("Reset") }}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<h2 style="margin: 40px 0 10px">{{ _("Previous tests") }}</h2>

{% from cmscommon.datetime import utc %}
{% set show_date = any(t.timestamp.replace(tzinfo=utc).astimezone(timezone).date() != datetime.datetime.utcnow().replace(tzinfo=utc).astimezone(timezone).date() for t in user_tests[task.id]) %}


<table class="user_test_list table table-bordered table-striped" data-task="{{ task.name }}">
    <colgroup>
{% if show_date %}
        <col class="datetime"/>
{% else %}
        <col class="time"/>
{% end %}
        <col class="status"/>
        <col class="time"/>
        <col class="memory"/>
        <col class="input"/>
        <col class="output"/>
        <col class="files"/>
    </colgroup>
    <thead>
        <tr>
{% if show_date %}
            <th class="datetime">{{ _("Date and time") }}</th>
{% else %}
            <th class="time">{{ _("Time") }}</th>
{% end %}
            <th class="status">{{ _("Status") }}</th>
            <th class="time">{{ _("Execution time") }}</th>
            <th class="memory">{{ _("Memory used") }}</th>
            <th class="input">{{ _("Input") }}</th>
            <th class="output">{{ _("Output") }}</th>
            <th class="files">{{ _("Files") }}</th>
        </tr>
    </thead>
    <tbody>
    {% if len(user_tests[task.id]) == 0 %}
        <tr>
            <td colspan="7" class="no_user_tests">{{ _("no tests yet") }}</td>
        </tr>
    {% else %}
        {% for t_idx, t in enumerate(sorted(user_tests[task.id], key=lambda t: t.timestamp, reverse=True)) %}
            {% set t_idx = len(user_tests[task.id]) - t_idx %}
            {% set tr = t.get_result(t.task.active_dataset) %}
            {% include user_test_row.html %}
        {% end %}
    {% end %}
    </tbody>
</table>




</div>
    {% end %}
{% end %}
</div>

<div class="modal fade hide" id="user_test_detail">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&#xD7;</button>
        <h3>{{ _("Test details") }}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{ _("Close") }}</a>
    </div>
</div>

</div>
{% end %}

{% end %}
