{% if show_date %}
    {% set col1 = "<td class=\"datetime\">%s</td>" % format_datetime(t.timestamp, timezone) %}
{% else %}
    {% set col1 = "<td class=\"time\">%s</td>" % format_time(t.timestamp, timezone) %}
{% end %}
{% if not t.compiled() %}
<tr data-usertest="{{ t_idx }}" data-status="1">
    {% raw col1 %}
    <td class="status">
        Compiling...
    </td>
{% elif t.compilation_outcome == "fail" %}
<tr data-usertest="{{ t_idx }}" data-status="2">
    {% raw col1 %}
    <td class="status">
        Compilation failed
        <a class="details">details</a>
    </td>
{% elif not t.evaluated() %}
<tr data-usertest="{{ t_idx }}" data-status="3">
    {% raw col1 %}
    <td class="status">
        Executing...
    </td>
{% else %}
<tr data-usertest="{{ t_idx }}" data-status="4">
    {% raw col1 %}
    <td class="status">
        Executed
        <a class="details">details</a>
    </td>
{% end %}
{% if t.execution_time is None %}
    <td class="time undefined">
        N/A
    </td>
{% else %}
    <td class="time">
        {{ "%(seconds)0.3f s" % {'seconds': t.execution_time} }}
    </td>
{% end %}
{% if t.memory_used is None %}
    <td class="memory undefined">
        N/A
    </td>
{% else %}
    <td class="memory">
        {{ "%(mb)0.2f MiB" % {'mb': t.memory_used / 1024. / 1024.} }}
    </td>
{% end %}
    <td class="input">
        <a class="btn" href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/tests/{{ t_idx }}/input">
            {{ _("Download") }}
        </a>
    </td>
    <td class="output">
    {% if not t.compiled() or (t.compilation_outcome == 'ok' and not t.evaluated()) %}
        <a class="btn btn-primary disabled">
            {{ _("Wait...") }}
        </a>
    {% else %}
        {% if t.output is None %}
        <a class="btn btn-primary disabled">
            {{ _("N/A") }}
        </a>
        {% else %}
        <a class="btn btn-primary" href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/tests/{{ t_idx }}/output">
            {{ _("Download") }}
        </a>
        {% end %}
    {% end %}
    </td>
    <td class="files">
        {% comment We replace '%l' with the actual language only when it occurs as an extension at the end of the string and only when %}
        {% comment there isn't another file with that name. This allows to securily reverse the replacement and should work great in %}
        {% comment the common case. Yet, it still allows the marginal case of both 'foo.%l' and 'foo.c' in the submission format. %}
        {% set files = t.files.keys() + t.managers.keys() %}
        {% if len(files) == 0 %}
        <a class="btn disabled">
            {{ _("None") }}
        </a>
        {% elif len(files) == 1 %}
            {% set filename = t.files.keys()[0] %}
        <a class="btn" href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/tests/{{ t_idx }}/files/{{ quote(filename, safe='') }}">
            {{ _("Download") }}
        </a>
        {% else %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                {{ _("Download") }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for filename in files %}
                {% if t.language is not None %}
                    {% set real_filename = filename.replace("%l", t.language) %}
                {% else %}
                    {% set real_filename = filename %}
                {% end %}
                <li>
                    <a href="{{ url_root }}/tasks/{{ quote(task.name, safe='') }}/tests/{{ t_idx }}/files/{{ quote(filename, safe='') }}">
                        {{ real_filename }}
                    </a>
                </li>
            {% end %}
            </ul>
        </div>
        {% end %}
    </td>
</tr>
