{% if tr is not None and tr.evaluated() %}
<h3>{{ _("Evaluation outcome") }}</h3>{% comment TODO: trim long outputs and add facility to see raw %}
<pre>{% if tr.evaluation_text is not None %}{{ tr.evaluation_text }}{% else %}Everything OK.{% end %}</pre>
{% end %}

{% if tr is not None and tr.compiled() %}
<h3>{{ _("Compilation output") }}</h3>{% comment TODO: trim long outputs and add facility to see raw %}
<pre>{% if tr.compilation_text is not None %}{{ tr.compilation_text }}{% end %}</pre>
{% end %}
