{% extends "base.html" %}

{% block core %}

<div class="core_title">
  <h1>New task</h1>
</div>

<!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
<form enctype="multipart/form-data" action="{{ url("tasks", "add") }}" method="post" >
  {{ xsrf_form_html|safe }}
  <span class="info" title="A short name for the task, preferably using only letters, numbers and underscores."></span>
  Name:
  <input type="text" name="name">

  <input type="submit">
</form>

{% endblock core %}

