{% extends "base.html" %}

{% block core %}
<div class="core_title">
  <h1>Announcements</h1>
</div>

<h2 id="title_announcements" class="toggling_on">Announcements</h2>
<div id="announcements">
  <div class="notifications">
{% if admin.permission_all or admin.permission_messaging %}
    <div class="notification communication">
      <div class="notification_msg">
        <form method="post" action="{{ url("contest", contest.id, "announcements", "add") }}">
          {{ xsrf_form_html|safe }}
          <div class="notification_subject">
            <label for="new_subject">Subject</label>
            <input type="text" name="subject" id="new_subject" style="width: 100%" list="task_names_list" autocomplete="off">
            <datalist id="task_names_list">
              {% for task in contest.tasks %}
              <option value="{{ task.name }}">
              {% endfor %}
            </datalist>
          </div>
          <div class="notification_text">
            <label for="new_text">Text</label>
            <textarea name="text" id="new_text" style="width: 100%" ></textarea>
          </div>
          <input type="submit"
                 value="Add announcement" />
        </form>
      </div>
    </div>
{% endif %}
    {% if contest.announcements != [] %}
      {% for msg in contest.announcements|reverse %}
      <div class="notification communication">
        <div class="notification_msg">

          <div class="announcement_remove">
            <a onclick="CMS.AWSUtils.ajax_delete('{{ url("contest", contest.id, "announcement", msg.id) }}'); ">Remove</a>
          </div>
          <div class="notification_timestamp">{{ msg.timestamp }}</div>
          <div class="notification_subject">{{ msg.subject }}</div>
          <div class="notification_text preserve_line_breaks">{{ msg.text }}</div>
          <hr>
          <div class="notification_admin_owner">
            By: {{ msg.admin.name if msg.admin is not none else "<unknown>" }}
          </div>

        </div>
      </div>
      {% endfor %}
    {% else %}
      No announcements.
    {% endif %}
  </div>

  <div class="hr"></div>
</div>


{% endblock core %}
