<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url("static", "favicon.ico") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url("static", "reset.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url("static", "aws_style.css") }}">
    <script src="{{ url("static", "web_rpc.js") }}"></script>
    <script src="{{ url("static", "aws_utils.js") }}"></script>
    <script src="{{ url("static", "jq", "jquery-3.6.0.min.js") }}"></script>
    <script src="{{ url("static", "jq", "jquery.jqplot.min.js") }}"></script>
    <script src="{{ url("static", "jq", "jqplot.dateAxisRenderer.min.js") }}"></script>
    <script src="{{ url("static", "jq", "jqplot.enhancedLegendRenderer.min.js") }}"></script>
    <script src="{{ url("static", "sh", "shCore.js") }}"></script>
    <script src="{{ url("static", "sh", "shBrushCpp.js") }}"></script>
    <script src="{{ url("static", "sh", "shBrushDelphi.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url("static", "jq", "jquery.jqplot.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url("static", "sh", "shCore.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url("static", "sh", "shThemeDefault.css") }}"/>

    {% if contest is none %}
    <title>Admin</title>
    {% else %}
    <title>Admin: {{ contest.description }}</title>
    {% endif %}

    <script>
<!--
function init()
{
    {% if contest is none %}
    utils = new CMS.AWSUtils("{{ url() }}", {{ timestamp|make_timestamp }}, 0, 0, 0, 0, -1);
    utils.update_notifications();
    setInterval(function() { utils.update_notifications(); }, 15000);
    {% else %}
    utils = new CMS.AWSUtils("{{ url() }}", {{ timestamp|make_timestamp }},
        {{ contest.start|make_timestamp }}, {{ contest.stop|make_timestamp }},
        {{ contest.analysis_start|make_timestamp }}, {{ contest.analysis_stop|make_timestamp }},
        {{ phase }});

    {% if phase < 3 %}
    utils.update_remaining_time();
    var timer = setInterval(function() { utils.update_remaining_time(timer); }, 1000);
    {% endif %}
    utils.update_notifications();
    setInterval(function() { utils.update_notifications(); }, 15000);
    {% endif %}

    $(document).click(utils.hide_subpage);

    // delegate() ensures that the event is fired even for elements
    // that are added in the future.
    $(document).delegate('.toggling_on', 'click', utils.toggle_visibility);
    $(document).delegate('.toggling_off', 'click', utils.toggle_visibility);

    {% block js_init %}{% endblock js_init %}
}

{% block js %}{% endblock js %}

$(document).ready(init);

//-->
    </script>
  </head>
  <body class="admin">
    <div id="global">
      <div id="sidebar">
{% if admin is undefined %}
        <div id="sidebar_header">
          <h1 class="parent">Administration</h1>
        </div>
{% else %}
        <div id="sidebar_header">
          <div class="login_notice">
            Hello, <a href="{{ url("admins") }}">{{ admin.name }}</a>.
              <form class="inline" action="{{ url("logout") }}" method="POST">{{ xsrf_form_html|safe }}<input type="submit" value="Logout"></form>
          </div>
          {% if contest is none %}
          <h1 class="parent">Administration</h1>
          {% else %}
          <h1 class="parent"><a href="{{ url() }}">Administration</a></h1>
          <h1 class="child">{{ contest.name }}</h1>
          {% endif %}
        </div>
        {% if config.secret_key == config.secret_key_default %}
        <div class="secret_notice">
          Change secret_key in cms.conf!<br/>
          For example,<br/>
          {{ get_hex_random_key() }}
        </div>
        {% endif %}
        <ul class="menu">
        {% if contest is none %}
          <li class="menu_entry"><a class="menu_link" href="{{ url() }}">Overview</a></li>
          <li class="menu_entry"><a class="menu_link" href="{{ url("resourceslist") }}">Resource usage</a></li>
        {% else %}
          <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "overview") }}">Overview</a></li>
          <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "resourceslist") }}">Resource usage</a></li>
        {% endif %}
        </ul>
        <div class="hr"></div>

        {% if contest is none %}
        <h1><a class="menu_link" href="{{ url("contests") }}">Contests</a></h1>
        <ul class="menu">
          {% if contest_list|length < 1 %}
          <li class="menu_entry">
            (no contests available)
          </li>
          {% endif %}

          {% for c in contest_list[:5] %}
          <li class="menu_entry">
            <a class="menu_link bold" href="{{ url("contest", c.id) }}" title="{{ c.description }}">
              {{ c.name }}
            </a>
          </li>
          {% endfor %}

          {% if contest_list|length > 5 %}
          <li>
            <a class="menu_link" href="{{ url("contests") }}">
              (show more...)
            </a>
          </li>
          {% endif %}

{% if admin.permission_all %}
          <li class="menu_entry">
            <a class="menu_link" href="{{ url("contests", "add") }}">
              (create new contest...)
            </a>
          </li>
{% endif %}
        </ul>

        <h1><a class="menu_link" href="{{ url("tasks") }}">Tasks</a></h1>
        <ul class="menu">
          {% if task_list|length < 1 %}
          <li class="menu_entry">
            (no tasks available)
          </li>
          {% endif %}

          {% for t in task_list[:5] %}
          <li class="menu_entry">
            <a class="menu_link bold" href="{{ url("task", t.id) }}" title="{{ t.title }}">
              {{ t.name }}
            </a>
          </li>
          {% endfor %}

          {% if task_list|length > 5 %}
          <li>
            <a class="menu_link" href="{{ url("tasks") }}">
              (show more...)
            </a>
          </li>
          {% endif %}

{% if admin.permission_all %}
          <li class="menu_entry">
            <a class="menu_link" href="{{ url("tasks", "add") }}">
              (create new task...)
            </a>
          </li>
{% endif %}
        </ul>

        <h1><a class="menu_link" href="{{ url("users") }}">Users</a></h1>
        <ul class="menu">
          {% if user_list|length == 0 %}
            <li class="menu_entry">
              (no user available)
            </li>
          {% else %}
            <li>
              <a class="menu_link" href="{{ url("users") }}">
                {% if user_list|length == 1 %}
                  (show the only user...)
                {% else %}
                  (show the {{ user_list|length }} users...)
                {% endif %}
              </a>
            </li>
          {% endif %}

{% if admin.permission_all %}
          <li class="menu_entry">
            <a class="menu_link" href="{{ url("users", "add") }}">
              (create new user...)
            </a>
          </li>
{% endif %}
        </ul>

        <h1><a class="menu_link" href="{{ url("teams") }}">Teams</a></h1>
        <ul class="menu">
          {% if team_list|length == 0 %}
            <li class="menu_entry">
              (no team available)
            </li>
          {% else %}
            <li>
              <a class="menu_link" href="{{ url("teams") }}">
                {% if team_list|length == 1 %}
                  (show the only team...)
                {% else %}
                  (show the {{ team_list|length }} teams...)
                {% endif %}
              </a>
            </li>
          {% endif %}

{% if admin.permission_all %}
          <li class="menu_entry">
            <a class="menu_link" href="{{ url("teams", "add") }}">
              (create new team...)
            </a>
          </li>
{% endif %}
        </ul>
        {% else %}
          <ul class="menu">
            <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id) }}">General</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "ranking") }}">Ranking</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "submissions") }}">Submissions</a></li>
            {% if contest.allow_user_tests %}<li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "user_tests") }}">User tests</a></li>{% endif %}
            <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "users") }}">Users</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "tasks") }}">Tasks</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url("contest", contest.id, "announcements") }}">Announcements</a></li>
            <li class="menu_entry">
              <span id="unanswered_questions" class="unread"
                {% if unanswered == 0 %} style="display: none;" {% endif %}>
                {{ unanswered }}
              </span>
              <a class="menu_link" href="{{ url("contest", contest.id, "questions") }}">Questions</a>
            </li>
          </ul>
          <div class="hr"></div>
          <div class="footer">
            <span id="remaining_text"></span>
            <span id="remaining_value"></span>
          </div>
        {% endif %}
{% endif %}
        <div class="cr_notice">CMS <a href="http://github.com/cms-dev/cms/">codebase</a> is released under the<br/><a href="http://www.gnu.org/licenses/agpl.txt">GNU Affero General Public License</a>.</div>
      </div>

      <div id="border"></div>
      <div id="core">
        <div id="notifications" class="notifications"></div>
        <div id="subpage" onclick="var event = arguments[0] || window.event; event.stopPropagation()">
          <div id="subpage_border"></div>
          <div id="subpage_background"></div>
          <div id="subpage_content"></div>
        </div>
        {% block core %}{% endblock core %}
      </div>

    </div>
  </body>
</html>
