{% extends base.html %}

{% block core %}
<div class="core_title">
  <h1>Users list</h1>
</div>

{% include fragments/overload_warning.html %}

<form action="{{ url("contest", contest.id, "users", "add") }}" method="POST">
  {% module xsrf_form_html() %}
  Add a new user:
  <select name="user_id">
    <option value="null" selected>Select a new user</option>
    {% for u in unassigned_users %}
    <option value="{{ u.id }}">
      {{ u.username }}
    </option>
    {% end %}
  </select>
  <input type="submit"
{% if not current_user.permission_all %}
         disabled
{% end %}
         value="Add user" />
</form>

<form action="{{ url("contest", contest.id, "users") }}" method="POST">
  {% module xsrf_form_html() %}
  Edit selected user:
  <input type="submit"
         name="operation"
         value="Remove from contest"
{% if not current_user.permission_all %}
         disabled
{% end %}
         />
  <table class="bordered">
    <thead>
      <tr>
        <th></th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      {% for p in sorted(contest.participations, cmp = lambda x, y: cmp(x.user.username, y.user.username)) %}
      <tr>
        <td>
          <input type="radio" name="user_id" value="{{ p.user.id }}"/>
        </td>
        <td><a href="{{ url("contest", contest.id, "user", p.user.id, "edit") }}">{{ p.user.username }}</a></td>
        <td>{{ p.user.first_name }}</td>
        <td>{{ p.user.last_name }}</td>
      </tr>
      {% end %}
    </tbody>
  </table>
</form>

{% end %}
