{% import "macro/reevaluation_buttons.html" as macro_reevaluation_buttons %}

{% extends "base.html" %}

{% block core %}
<h1>All Submissions</h1>

<div id="submissions">

  <p>
    Reevaluate all {{ submission_count }} submissions in this contest (for all datasets)
    {{ macro_reevaluation_buttons.reevaluation_buttons(
           admin.permission_all,
           url("contest", contest.id, "submissions"),
           contest_id=contest.id) }}
  </p>

  {% set page_url = url["contest"][contest.id]["submissions"] %}
  {% include "fragments/submission_rows.html" %}
</div>

{% endblock core %}
