{% import "macro/reevaluation_buttons.html" as macro_reevaluation_buttons %}

{% extends "base.html" %}
{% import 'macro/submission.html' as macro_submission %}

{% block core %}
<h1>All Submissions</h1>

<div id="submissions">

  <p>
    Reevaluate all {{ submission_count }} submissions in this contest (for all datasets)
    {{ macro_reevaluation_buttons.reevaluation_buttons(
           admin.permission_all,
           url("contest", contest.id, "submissions"),
           contest_id=contest.id) }}
  </p>

  {{ macro_submission.rows(
         admin,
         url,
         url["contest"][contest.id]["submissions"],
         submissions,
         submission_page,
         submission_pages) }}
</div>

{% endblock core %}
