{% extends "base.html" %}

{% block js %}

function update_submissions_status(response)
{
    var table = $("#submissions_status_table > tbody");
    var msg = utils.standard_response(response);
    if (msg != "")
    {
        table.html('<tr><td style="text-align: center;" colspan="2">'+ msg + '</td></tr>');
        return;
    }

    var strings = []
    strings.push('<tr><td>Scored</td><td>' + response['data']['scored'] + '</td></tr>');
    if (response['data']['scoring'] != 0)
        strings.push('<tr><td>Scoring...</td><td>' + response['data']['scoring'] + '</td></tr>');
    if (response['data']['compilation_fail'] != 0)
        strings.push('<tr><td>Compilation failed</td><td>' + response['data']['compilation_fail'] + '</td></tr>');
    if (response['data']['compiling'] != 0)
        strings.push('<tr><td>Compiling...</td><td>' + response['data']['compiling'] + '</td></tr>');
    if (response['data']['evaluating'] != 0)
        strings.push('<tr><td>Evaluating...</td><td>' + response['data']['evaluating'] + '</td></tr>');
    if (response['data']['max_compilations'] != 0)
        strings.push('<tr><td>Cannot compile (please check)</td><td>' + response['data']['max_compilations'] + '</td></tr>');
    if (response['data']['max_evaluations'] != 0)
        strings.push('<tr><td>Cannot evaluate (please check)</td><td>' + response['data']['max_evaluations'] + '</td></tr>');

    table.html(strings.join(""));
};

function update_queue_status(response)
{
    var table = $("#queue_status_table > tbody");
    var msg = utils.standard_response(response);
    if (msg != "")
    {
        table.html('<tr><td style="text-align: center;" colspan="4">'+ msg + '</td></tr>');
        return;
    }

    var l = response['data'].length;
    if (l == 0)
    {
        table.html('<tr><td colspan="100">Queue empty.</td></tr>');
        return;
    }

    var strings = [];
    for (var i = 0; i < l; i++)
    {
        var job = utils.repr_job(response['data'][i]['item']);
        var date = utils.repr_time_ago(response['data'][i]['timestamp']);
        strings.push('<tr><td style="text-align: center;">' + (i + 1) + '</td>');
        strings.push('<td>' + job + '</td>');
        strings.push('<td style="text-align: center;">' + response['data'][i]['priority'] + '</td>');
        strings.push('<td>' + date + '</td></tr>');
    }

    table.html(strings.join(""));
};

function enable_worker(shard) {
    if (confirm("Do you really want to enable worker " + shard + "?")) {
        cmsrpc_request("EvaluationService", 0,
                       "enable_worker",
                       {"shard":shard},
                       function() {
                          cmsrpc_request("EvaluationService", 0,
                                         "workers_status",
                                         {},
                                         update_workers_status);
                       });
    }
}

function disable_worker(shard) {
    if (confirm("Do you really want to disable worker " + shard + "?")) {
        cmsrpc_request("EvaluationService", 0,
                       "disable_worker",
                       {"shard":shard},
                       function() {
                          cmsrpc_request("EvaluationService", 0,
                                         "workers_status",
                                         {},
                                         update_workers_status);
                       });
    }
}

function update_workers_status(response)
{
    var table = $("#workers_status_table > tbody");
    var msg = utils.standard_response(response);
    if (msg != "")
    {
        table.html('<tr><td style="text-align: center;" colspan="5">'+ msg + '</td></tr>');
        return;
    }

    var l = response['data'].length;
    if (l == 0)
    {
        table.html('<tr><td colspan="5">No workers found.</td>');
        return;
    }

    var strings = [];
    let connected_count = 0;
    for (var i in response['data'])
    {
        var job = "";
        if ($.isArray(response['data'][i]['operations'])) {
            job = utils.repr_job(response['data'][i]['operations'][0]);
            if (response['data'][i]['operations'].length > 1) {
                job += ' and ' + (response['data'][i]['operations'].length - 1) + ' more';
            }
        } else {
            job = utils.repr_job(response['data'][i]['operations']);
        }
        var start_time = utils.repr_time_ago(response['data'][i]['start_time']);
        var connected = "No";
        if (response['data'][i]['connected'] == true) {
            connected = "Yes";
            connected_count += 1;
        }
        strings.push('<tr><td style="text-align: center;">' + i + '</td>');
        strings.push('<td style="text-align: center;">' + connected + '</td>');
        strings.push('<td>' + job + '</td>');
        strings.push('<td>' + start_time + '</td>');
        if (response['data'][i]['operations'] == "disabled") {
            strings.push('<td><button onclick="javascript:enable_worker(' + i + '); return true;"' +
{% if not admin.permission_all %}
                         ' disabled' +
{% endif %}
                         '>Enable</button></td>');
        } else {
            strings.push('<td><button onclick="javascript:disable_worker(' + i + '); return true;"' +
{% if not admin.permission_all %}
                         ' disabled' +
{% endif %}
                         '>Disable</button></td>');
        }
        strings.push('</tr>');
    }

    $("#title_workers_status").text(`Workers status (${connected_count}/${Object.keys(response.data).length})`);
    table.html(strings.join(""));
};

function link_submissions(s)
{
    return s.replace(/submission ([0-9]+)/g,
                     function (match, n, offset, string) {
                         return 'submission <a href="' + utils.url("submission", n) + '">' + n + '</a>';
                     });
}

function escape_html(s)
{
    return $("<div>").text(s).html();
}

function update_logs(response)
{
    var table = $("#logs_table > tbody");
    var msg = utils.standard_response(response);
    if (msg != "")
    {
        table.html('<tr><td style="text-align: center;" colspan="5">'+ msg + '</td></tr>');
        return;
    }

    var l = response['data'].length;
    if (l == 0)
    {
        table.html('<tr><td colspan="5">No log entries.</td>');
        return;
    }

    var new_table = $('<tbody>');
    response['data'] = response['data'].reverse();
    for (i in response['data'])
    {
        var message = link_submissions(escape_html(response['data'][i]['message']));
        var coord = response['data'][i]['coord'];
        var operation = link_submissions(escape_html(response['data'][i]['operation']));
        var severity = response['data'][i]['severity'];
        var timestamp = utils.format_time_or_date(response['data'][i]['timestamp']);

        var row = $('<tr>');
        row.append($('<td>').text(timestamp));
        row.append($('<td>').text(severity));
        row.append($('<td>').text(coord));
        // We inject it as HTML rather than text because we escaped it before
        // and because we need to preserve the links to the submission pages.
        row.append($('<td>').html(operation));
        row.append($('<td>').append($('<pre>').html(message)));
        new_table.append(row);
    }
    table.replaceWith(new_table);
}

function update_statuses()
{

    {% if contest is not none %}
    if (!update_statuses.submissions_request
            || update_statuses.submissions_request.state() != "pending") {
        update_statuses.submissions_request =
            cmsrpc_request("AdminWebServer", 0,
                           "submissions_status",
                           {"contest_id": {{ contest.id }}},
                           update_submissions_status);
    }
    {% endif %}
    if (!update_statuses.queue_request
            || update_statuses.queue_request.state() != "pending") {
        update_statuses.queue_request =
            cmsrpc_request("EvaluationService", 0,
                           "queue_status",
                           {},
                           update_queue_status);
    }
    cmsrpc_request("EvaluationService", 0,
                   "workers_status",
                   {},
                   update_workers_status);
    cmsrpc_request("LogService", 0,
                   "last_messages",
                   {},
                   update_logs);
}

{% endblock js %}

{% block js_init %}

setInterval(update_statuses, 5000);
update_statuses();

{% endblock js_init %}

{% block core %}

<h1>Overview</h1>
<span id="update_time"></span>

{% if contest is not none %}
<h2 id="title_submissions_status" class="toggling_on">Submissions status</h2>
<div id="submissions_status">
  <table id="submissions_status_table" class="sub_table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="text-align: center;" colspan="2"><img src="{{ url("static", "loading.gif") }}" alt="loading..." /></td></tr>
    </tbody>
  </table>
  <div class="hr"></div>
</div>
{% endif %}

<h2 id="title_queue_status" class="toggling_on">Queue status</h2>
<div id="queue_status">
  <table id="queue_status_table" class="sub_table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Job</th>
        <th>Priority</th>
        <th>Since</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="text-align: center;" colspan="4"><img src="{{ url("static", "loading.gif") }}" alt="loading..." /></td></tr>
    </tbody>
  </table>
  <div class="hr"></div>
</div>

<h2 id="title_workers_status" class="toggling_on">Workers status</h2>
<div id="workers_status">
  <table id="workers_status_table" class="sub_table">
    <thead>
      <tr>
        <th style="width:5%">Shard</th>
        <th style="width:15%">Connected</th>
        <th style="width:50%">Current job</th>
        <th style="width:20%">Since</th>
        <th style="width:10%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="text-align: center;" colspan="5"><img src="{{ url("static", "loading.gif") }}" alt="loading..." /></td></tr>
    </tbody>
  </table>
  <div class="hr"></div>
</div>

<h2 id="title_logs" class="toggling_on">Logs</h2>
<div id="logs">

  <table id="logs_table" class="sub_table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Severity</th>
        <th>Service</th>
        <th>Operation</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <tr><td style="text-align: center;" colspan="5"><img src="{{ url("static", "loading.gif") }}" alt="loading..." /></td></tr>
    </tbody>
  </table>
  <div class="hr"></div>
</div>
{% endblock core %}
