{% import "macro/reevaluation_buttons.html" as macro_reevaluation_buttons %}

{% extends "base.html" %}
{% import 'macro/submission.html' as macro_submission %}

{% block js %}
function question_reply_toggle(element, invoker)
{
  var obj = document.getElementsByClassName("reply_question")[element];
  if (obj.style.display != "block")
    {
      obj.style.display = "block";
      invoker.innerHTML = "Hide reply";
    }
  else
    {
      obj.style.display = "none";
      invoker.innerHTML = "Reply";
    }
  return false;
}

function update_additional_answer(element, invoker)
{
  var obj = document.getElementsByClassName("alternative_answer")[element];
  if (invoker.selectedIndex == 5)
    obj.style.display = "block";
  else
    obj.style.display = "none";
}
{% endblock js %}

{% block core %}
<h1>
  Participation of <a href="{{ url("user", selected_user.id) }}">{{ selected_user.username }}</a> in <a href="{{ url("contest", contest.id) }}">{{ contest.name }}</a>
</h1>

<h2 id="title_submissions" class="toggling_on">Submissions</h2>
<div id="submissions">
  <p>
    Reevaluate all {{ submission_count }} submissions for this user in this contest (for all datasets)
    {{ macro_reevaluation_buttons.reevaluation_buttons(
           admin.permission_all,
           url("contest", contest.id, "user", participation.user_id, "edit"),
           participation_id=participation.id) }}
  </p>

  {{ macro_submission.rows(
         admin,
         url,
         url["contest"][contest.id]["user"][selected_user.id]["edit"],
         submissions,
         submission_page,
         submission_pages) }}

  <div class="hr"></div>
</div>


<h2 id="title_participation_info" class="toggling_on">Participation information</h2>
<div id="participation_info">
  <!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
  <form enctype="multipart/form-data" action="{{ url("contest", contest.id, "user", selected_user.id, "edit") }}" method="POST">
    {{ xsrf_form_html|safe }}
    <table>
      <tr>
        <td>
          <span class="info" title="Code of the team of the contestant in this contest. Only used in the external ranking."></span>
          Team
        </td>
        <td>
          <input list="teams" name="team" value="{{ participation.team.code if participation.team is not none else "" }}"/>
          <datalist id="teams">
            {% for t in teams %}
            <option value="{{ t.code }}">
            {% endfor %}
          </datalist>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Contestant password for this contest. If empty, the contestant's main password is used.
                                     Caution: stored in plain text."></span>
          Password
        </td>
        <td>
          {% set hashed_password = participation.password %}
          {% include "fragments/hashed_password_form.html" %}
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Whether the contestant's results will be visible in the external ranking."></span>
          Hidden participation
        </td>
        <td><input type="checkbox" name="hidden" {% if participation.hidden %}checked{% endif %}/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Whether the contestant is unrestricted by maximum number of submissions, user tests,
                                    and minimum interval between submissions, user tests, and contest time."></span>
          Unrestricted participation
        </td>
        <td><input type="checkbox" name="unrestricted" {% if participation.unrestricted %}checked{% endif %}/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="A comma-separated list of IP addresses (or subnets) of the contestant for this contest.
                                    Used for IP-based login restrictions and/or for autologin (in this case, it must be a single address)."></span>
          IP address or subnet
        </td>
        <td><input type="text" name="ip" value="{{ participation.ip|map("string")|join(", ") if participation.ip is not none else "" }}"/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Time of first login during this contest, used for USACO-style contests.
                                    Example: '2015-12-31 15:00:00'."></span>
          Time of first login (in UTC)
        </td>
        <td><input type="text" name="starting_time" value="{{ participation.starting_time if participation.starting_time is not none else "" }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="To be set (in seconds) to acknowledge that the contestant lost that amount of time at the beginning of the contest.
                                    If this is non-zero, all the events (token generation, end of contest) for this contestant will be shifted of the appropriate amount."></span>
          Delay
        </td>
        <td><input type="text" name="delay_time" value="{{ participation.delay_time.total_seconds()|int }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="To be set (in seconds) to acknowledge that the contestant lost that amount of time during the contest.
                                    If this is non-zero, the end of the contest will be shifted of the appropriate amount for this contestant."></span>
          Extra time
        </td>
        <td><input type="text" name="extra_time" value="{{ participation.extra_time.total_seconds()|int }}"></td>
      </tr>
    </table>
    <input type="submit" value="Update" />
    <input type="reset" value="Reset" />
  </form>
  <div class="hr"></div>
</div>


<h2 id="title_questions" class="toggling_on">Questions</h2>
<div id="questions">
  {% if participation.questions != [] %}
  <div class="notifications">
    {% for msg in participation.questions %}
    <div class="notification communication">
      <div class="notification_msg">
        <div class="notification_timestamp">{{ msg.question_timestamp }}</div>
        <div class="notification_subject">{{ msg.subject }}</div>
        <div class="notification_text preserve_line_breaks">{{ msg.text }}</div>
        {% if msg.reply_timestamp is not none %}
        <div class="notification_subject">Reply. {{ msg.reply_subject }}</div>
        <div class="notification_text preserve_line_breaks">{{ msg.reply_text }}</div>
        {% else %}
        <div class="notification_subject">Not yet replied.</div>
        {% endif %}
        <div class="reply_question_toggle">
          <a href="javascript:void(0);" onclick="return question_reply_toggle({{ loop.index0 }}, this);">Reply</a>
        </div>
        <div class="reply_question" >
          <hr/>
          <form class="reply_question_form" action="{{ url("contest", contest.id, "question", msg.id, "reply") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <input type="hidden" name="ref" value="/contest/{{ contest.id }}/user/{{ selected_user.id }}/edit"/>
            Precompiled answer:
            <select name="reply_question_quick_answer" onchange="update_additional_answer({{ loop.index0 }}, this);">
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="answered">Answered in task description</option>
              <option value="invalid">Invalid question</option>
              <option value="nocomment">No comment</option>
              <option selected value="other">Other</option>
            </select>
            <br/>
            <div class="alternative_answer">
              Alternative answer:<br/>
              <textarea name="reply_question_text"></textarea><br/>
            </div>
            <input type="submit" value="Send"/>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% else %}
  No questions.

  {% endif %}
  <div class="hr"></div>
</div>


<h2 id="title_messages" class="toggling_on">Messages</h2>
<div id="messages">

  <div class="notifications">
      <div class="notification communication">
        <form id="send_message_form" action="{{ url("contest", contest.id, "user", selected_user.id, "message") }}" method="POST">
          {{ xsrf_form_html|safe }}
          <div class="notification_msg">
            <div class="notification_subject">
              Subject:
              <input id="send_message_subject" type="text" name="message_subject" style="width: 100%" />
            </div>
            <div class="notification_text">
              Text:
              <textarea name="message_text" style="width: 100%" ></textarea>
            </div>
          <input type="submit" value="Send"/>
          </div>
        </form>
      </div>

    {% if participation.messages != [] %}

      {% for msg in participation.messages|reverse %}
      <div class="notification communication">
        <div class="notification_msg">
          <div class="notification_timestamp">{{ msg.timestamp }}</div>
          <div class="notification_subject">{{ msg.subject }}</div>
          <div class="notification_text preserve_line_breaks">{{ msg.text }}</div>
          <hr>
          <div class="notification_admin_owner">
            By: {{ msg.admin.name if msg.admin is not none else "<unknown>" }}
          </div>
        </div>
      </div>
      {% endfor %}

    {% else %}
      No messages.
    {% endif %}
  </div>
  <div class="hr"></div>
</div>


{% endblock core %}
