{% extends "base.html" %}

{% block core %}
<div class="core_title">
  <h1>Ranking</h1>
</div>
Download as <a href="{{ url("contest", contest.id, "ranking", "csv") }}">csv</a>, <a href="{{ url("contest", contest.id, "ranking", "txt") }}">text</a>.
<table id="ranking-table" class="bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>User</th>
      {% if show_teams %}
      <th>Team</th>
      {% endif %}
      {% for task in contest.tasks %}
      <th data-sort-settings="numeric reversed"><a href="{{ url("task", task.id) }}">{{ task.name }}</a></th>
      {% endfor %}
      <th data-sort-settings="numeric reversed">Global</th>
    </tr>
  </thead>
  <tbody>
    {# This template assumes participations have two fields in addition to those in the DB: #}
    {# - scores: a list of pairs (score, is score partial) for each task; #}
    {# - total_score: the total score for the contest. #}
    {% for p in contest.participations %}
      {% if not p.hidden %}
    <tr>
      <td><a href="{{ url("contest", contest.id, "user", p.user.id, "edit") }}">{{ p.user.username }}</a></td>
      <td>{{ "%s %s"|format(p.user.first_name, p.user.last_name) }}</td>
      {% if show_teams %}
        {% if p.team %}
        <td><a href="{{ url("team", p.team_id) }}">{{ p.team.name }}</a></td>
        {% else %}
        <td></td>
        {% endif %}
      {% endif %}
      {% for t_score, t_partial in p.scores %}
      <td {%- if t_partial %} class="partial" {%- endif -%}>{{ t_score }}</td>
      {% endfor %}
      {% set total_score, partial = p.total_score %}
      <td {%- if partial %} class="partial" {%- endif -%}>{{ total_score }}</td>
    </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<script>
  $(document).ready(function() {
    CMS.AWSUtils.init_table_sort($("#ranking-table"), true, -1);
  })
</script>
{% endblock core %}
