{% extends base.html %}

{% block core %}
<div class="core_title">
  <h1>Remove Contest</h1>
</div>


<form action="{{ url_root }}/contests/{{ thiscontest.id }}/delete" method="POST">
  Are you sure you want to delete contest {{ thiscontest.name }}? <br>
  This will remove {{ len(thiscontest.participations) }} participant(s) and {{ submission_count }} submission(s). <br>
  <input type="submit"
         name="asking"
         value="Yes"
         />
  <input type="submit"
         name="asking"
         value="No"
         />
</form>

{% end %}
