{% import "macro/reevaluation_buttons.html" as macro_reevaluation_buttons %}

{% extends "base.html" %}

{% block core %}
{% set st = get_score_type(dataset=shown_dataset) %}
{% set sr = s.get_result(shown_dataset) %}
{% set status = SubmissionResult.COMPILING %}
{% if sr is not none %}
  {% set status = sr.get_status() %}
{% endif %}
<div class="core_title">
  <h1>Submission {{ s.id }} (Task: <a href="{{ url("task", s.task.id) }}">{{ s.task.name }}</a>)</h1>
</div>

{% set dataset_selector_par_url = url("submission", s.id) %}
{% include "fragments/dataset_selector.html" %}

<h2 id="title_details" class="toggling_on">Submission details</h2>
<div id="details">

  <table class="bordered">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Submission time</td>
        <td>{{ s.timestamp }}</td>
      </tr>
      <tr>
        <td>Id</td>
        <td>{{ s.id }}</td>
      </tr>
      <tr>
        <td>Task</td>
        <td><a href="{{ url("task", s.task.id) }}">{{ s.task.name }}</a></td>
      </tr>
      <tr>
        <td>User</td>
        <td><a href="{{ url("contest", s.participation.contest.id, "user", s.participation.user.id, "edit") }}">{{ s.participation.user.username }}</a></td>
      </tr>
      <tr>
        <td>Files</td>
        <td>
          {% for filename in s.task.submission_format %}
            {% if filename in s.files %}
              {% set real_filename = filename if s.language is none else filename|replace(".%l", (s.language|to_language).source_extension) %}
          <a href="javascript:void(0);" onclick="utils.show_file('{{ real_filename }}','{{ url("submission_file", s.files[filename].id) }}')">
            {{ real_filename }}
          </a>
          <br/>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Language</td>
        <td>
          {% if s.language is none %}
          N/A
          {% else %}
          {{ s.language }}
          {% endif %}
      </tr>
      <tr>
        <td>Token</td>
        <td>
          {% if s.token is none %}
          No
          {% else %}
          Yes
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Official</td>
        <td>
            <form action="{{ url("submission", s.id, shown_dataset.id, "official") }}" name="official_status_form" method="POST">
            {{ xsrf_form_html|safe }}
            {% if s.official %}
              <input type="hidden" name="official" value="no"/>
              Yes
              <input
              {% if not admin.permission_all %}
                  disabled
              {% endif %}
               type="submit" value="Make unofficial" />
            {% else %}
              <input type="hidden" name="official" value="yes"/>
              No
              <input
              {% if not admin.permission_all %}
                  disabled
              {% endif %}
               type="submit" value="Make official" />
            {% endif %}
            </form>
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td id="submission_status">
          {% if status == SubmissionResult.COMPILING %}
            Compiling...
          {% elif status == SubmissionResult.COMPILATION_FAILED %}
            Compilation failed
          {% elif status == SubmissionResult.EVALUATING %}
            Evaluating...
          {% elif status == SubmissionResult.SCORING %}
            Scoring...
          {% elif status == SubmissionResult.SCORED %}
            {% if st is defined %}
              {% set max_score = st.max_score %}
            {% else %}
              {% set max_score = "[Cannot get score type - see logs]" %}
            {% endif %}
            Scored ({{ sr.score }} / {{ max_score }})
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
      {% if status == SubmissionResult.SCORED and st is defined %}
      <tr>
        <td>Score as seen by user</td>
        <td>
          {% if s.token is not none %}
            {{ st.format_score(sr.score, st.max_score, sr.score_details, s.task.score_precision) }}
          {% else %}
            {{ st.format_score(sr.public_score, st.max_public_score, sr.public_score_details, s.task.score_precision) }}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% if sr is not none and sr.scored_at is not none %}
      <tr>
        <td>Latency as seen by user</td>
        <td>
          {{ (sr.scored_at - s.timestamp).total_seconds()|round|int }} s
        </td>
      </tr>
      <tr>
        <td>Failures during compilation</td>
        <td>{{ sr.compilation_tries }}</td>
      </tr>
      <tr>
        <td>Compilation shard</td>
        <td>{{ sr.compilation_shard }}</td>
      </tr>
      <tr>
        <td>Compilation sandbox</td>
        <td>{{ sr.compilation_sandbox }}</td>
      </tr>
      <tr>
        <td>Failures during evaluation</td>
        <td>{{ sr.evaluation_tries }}</td>
      </tr>
        {% set t, m = sr.get_max_evaluation_resources() %}
      <tr>
        <td>Max execution time</td>
        <td>{% if t is not none %}{{ t }} s{% else %}N/A{% endif %}</td>
      </tr>
      <tr>
        <td>Max memory used</td>
        <td>{% if m is not none %}{{ m // (1024 * 1024) }} MiB{% else %}N/A{% endif %}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Reevaluate</td>
        <td>
          {{ macro_reevaluation_buttons.reevaluation_buttons(
                 admin.permission_all,
                 url("submission", s.id, shown_dataset.id),
                 submission_id=s.id,
                 dataset_id=shown_dataset.id) }}
        </td>
      </tr>
    </tbody>
  </table>

</div>

<h2 id="title_comment" class="toggling_on">Comment</h2>

<div id="comment">
  <form enctype="multipart/form-data" action="{{ url("submission", s.id, shown_dataset.id, "comment") }}" method="POST">
    {{ xsrf_form_html|safe }}
    <textarea name="comment" cols="40" rows="3">{{ s.comment }}</textarea><br/>
    <input
{% if not admin.permission_all %}
       disabled
{% endif %}
       type="submit"/>
    <input type="reset" value="Reset" />
  </form>
</div>

  {% if sr is not none and sr.scored() %}

<h2 id="title_evaluation_user" class="toggling_on">Evaluation (as seen by the user)</h2>
<div id="evaluation_user">

  <div class="score_details" id="evaluation_{{ s.id }}">
    {% if s.tokened() %}
      {{ st.get_html_details(sr.score_details, s.task.feedback_level)|safe }}
    {% else %}
      {{ st.get_html_details(sr.public_score_details, s.task.feedback_level)|safe }}
    {% endif %}
  </div>
</div>

  {% endif %}

  {% if sr is not none and sr.evaluated() %}

<h2 id="title_evaluation_admin" class="toggling_on">Evaluation (as seen by the admin)</h2>
<div id="evaluation_admin">

  <table class="bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Codename</th>
        <th>Outcome</th>
        <th>Visible</th>
        <th>Details</th>
        <th>Shard</th>
        <th>Resources</th>
        <th>Sandbox</th>
      </tr>
    </thead>
    <tbody>
      {% if sr.evaluations %}
        {% for ev in sr.evaluations|sort(attribute="codename") %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ ev.codename }}</td>
          <td id="eval_outcome_{{ ev.codename }}">{{ ev.outcome }}</td>
          <td style="text-align: center">
            <input type="checkbox" disabled{{ " checked" if s.token is not none or ev.testcase.public else "" }}>
          </td>
          <td id="eval_text_{{ ev.codename }}">{{ ev.text|format_status_text }}</td>
          <td>{{ ev.evaluation_shard }}</td>
          <td>
            {% if ev.execution_time is not none %}
            ({{ ev.execution_time }} s)
            {% endif %}
            {% if ev.execution_wall_clock_time is not none %}
            ({{ ev.execution_wall_clock_time }} s)
            {% endif %}
            {% if ev.execution_memory is not none %}
            ({{ ev.execution_memory // (1024 * 1024) }} MiB)
            {% endif %}
          </td>
          <td>{{ ev.evaluation_sandbox }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

</div>


  {% endif %}

  {% if sr is not none and sr.compiled() %}

<h2 id="title_compilation" class="toggling_on">Compilation</h2>
<div id="compilation">

  <h3>Outcome</h3>
  <pre>{% if sr.compilation_text|length > 0 %}{{ sr.compilation_text|format_status_text }}{% endif %}</pre>

  <h3>Standard output</h3>
  <pre>{% if sr.compilation_stdout is not none %}{{ sr.compilation_stdout }}{% endif %}</pre>

  <h3>Standard error</h3>
  <pre>{% if sr.compilation_stderr is not none %}{{ sr.compilation_stderr }}{% endif %}</pre>

</div>

  {% endif %}

{% endblock core %}
