{% extends base.html %}

{% block js_init %}

function showTaskTypeOption(dataset_id) {
    var selector = $("select[name=task_type_" + dataset_id + "]")[0];
    $(".TaskTypeOptions_" + dataset_id + ":visible").hide("fast");
    $("#TaskType" + selector.options[selector.selectedIndex].value + "Options_" + dataset_id).show("fast")
};

{% for dataset in task.datasets %}
showTaskTypeOption({{ dataset.id }});
$("select[name=task_type_{{ dataset.id }}]").change(function() {
    showTaskTypeOption({{ dataset.id }});
});
{% end %}

{% end %}

{% block core %}
{% from cms.server import format_dataset_attrs %}
{% from cms import plugin_list, SCORE_MODE_MAX_TOKENED_LAST, SCORE_MODE_MAX %}
{% set task_type_list = plugin_list("cms.grading.tasktypes", "tasktypes") %}
{% set score_type_list = plugin_list("cms.grading.scoretypes", "scoretypes") %}

<div class="core_title">
  <h1>{{ task.title }} ({{ task.name }})</h1>
</div>

<h2 id="title_submissions" class="toggling_on">Submissions</h2>
<div id="submissions">

  {% if len(submissions) == 0 %}
  <p>No submissions for this task yet.</p>
  {% else %}
    <a href="{{ url_root }}/dataset/{{ task.active_dataset_id }}">
      {% if len(submissions) == 1 %}
      1 submission
      {% else %}
      {{ len(submissions) }} submissions
      {% end %}
    </a>
  {% end %}
  <div class="hr"></div>
</div>

<!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
<form enctype="multipart/form-data" action="{{ url_root }}/task/{{ task.id }}" method="POST">
  <h2 id="title_task_configuration" class="toggling_on">Task configuration</h2>
  <div id="task_configuration">
    <table>
      <tr><td colspan=2><h2>Task information</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="A short name for the task, preferably using only letters, numbers and underscores."></span>
          Name
        </td>
        <td><input type="text" name="name" value="{{ task.name }}"/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The title of the task as seen by the contestants."></span>
          Title
        </td>
        <td><input type="text" name="title" value="{{ task.title }}"/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The index of the task within the contest, if the task is associated with a contest."></span>
          Position
        </td>
        <td>{{ task.num }}</td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The statements of this task, by language code."></span>
          Statements
{% if current_user.permission_all %}
          [<a href="{{ url_root }}/task/{{ task.id }}/statements/add">add</a>]
{% end %}
        </td>
        <td>
          {% if len(task.statements) == 0 %}
          No statements uploaded yet
          {% else %}
          <ul>
            {% for statement in task.statements.values() %}
            <li><a href="{{ url_root }}/file/{{ statement.digest }}/statement.pdf">Statement for language "{{ statement.language }}"</a>
              - <a onclick="CMS.AWSUtils.ajax_delete('{{ url_root }}/task/{{ task.id }}/statement/{{ statement.id }}'); ">Delete</a></li>
            {% end %}
          </ul>
          {% end %}
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="A JSON-encoded list of language codes that are considered primaries with respect to the statements.
                                    Example: '[&quot;en&quot;, &quot;ja&quot;]'."></span>
          Primary statements
        </td>
        <td><input type="text" name="primary_statements" value="{{ task.primary_statements }}"/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Attachments for this task. Contestant can view and download attachments from the task page."></span>
          Attachments
{% if current_user.permission_all %}
          [<a href="{{ url_root }}/task/{{ task.id }}/attachments/add">add</a>]
{% end %}
        </td>
        <td>
          {% if len(task.attachments) == 0 %}
            No attachments.
          {% else %}
            {% for attachment in task.attachments.values() %}
              <div class="attachment">
                <a href="{{ url_root }}/file/{{ attachment.digest }}/{{ attachment.filename }}">{{ attachment.filename }}</a>
                - <a onclick="CMS.AWSUtils.ajax_delete('{{ url_root }}/task/{{ task.id }}/attachment/{{ attachment.id }}'); ">Delete</a></li>
              </div>
            {% end %}
          {% end %}
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="A JSON encoded list of file names (with the language extensions changed to %l) that needs to be submitted.
                                    The task type dictates the submission format. Consult the task type documentation to know the requirements."></span>
          Submission format
        </td>
        <td>
          <input type="text" name="submission_format" value="{{ json.dumps([x.filename for x in task.submission_format]) }}"/>
        </td>
      </tr>
      <tr><td colspan=2><h2>Tokens parameters (<a href="http://cms.readthedocs.org/en/{{ rtd_version }}/Configuring%20a%20contest.html#feedback-to-contestants" target="_blank">documentation</a>)</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="Select 'disabled' to remove tokens completely for this task, 'infinite' for allowing any number of tokens for this task, or 'finite' to specify the amount with the following parameters.
                                    If you prefer to control tokens at the task level, select 'infinite' here."></span>
          Token mode
        </td>
        <td>
          <select name="token_mode">
            <option value="disabled" {{ "selected" if task.token_mode == "disabled" else "" }}>Disabled</option>
            <option value="finite" {{ "selected" if task.token_mode == "finite" else "" }}>Finite</option>
            <option value="infinite" {{ "selected" if task.token_mode == "infinite" else "" }}>Infinite</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The maximum number of tokens a contestant can use in this task.
                                    It is used only if tokens are finite."></span>
          Maximum number of tokens
        </td>
        <td><input type="text" name="token_max_number" value="{{ task.token_max_number if task.token_max_number is not None else "" }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The minimum amount of time (in seconds) that a contestant needs to wait for this task after using a token before being able to use another.
                                    It is used only if tokens are finite."></span>
          Minimum interval between tokens
        </td>
        <td><input type="text" name="token_min_interval" value="{{ int(task.token_min_interval.total_seconds()) }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The number of tokens that a contestant has available for this task when their contest time starts.
                                    It is used only if tokens are finite."></span>
          Initial number of tokens
        </td>
        <td><input type="text" name="token_gen_initial" value="{{ task.token_gen_initial }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The number of tokens that are generated periodically for this task.
                                    It is used only if tokens are finite."></span>
          Token generation number
        </td>
        <td><input type="text" name="token_gen_number" value="{{ task.token_gen_number }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The amount of time (in minutes) between two token generation events for this task.
                                    It is used only if tokens are finite."></span>
          Token generation period
        </td>
        <td><input type="text" name="token_gen_interval" value="{{ int(task.token_gen_interval.total_seconds() / 60) }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Maximum number of tokens for this task available to a contestant at any given time during the contest.
                                    It is used only if tokens are finite."></span>
          Maximum accumulated tokens
        </td>
        <td><input type="text" name="token_gen_max" value="{{ task.token_gen_max if task.token_gen_max is not None else "" }}" /></td>
      </tr>

      <tr><td colspan=2><h2>Limits</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="Maximum number of submissions each contestant can submit for this task, for the whole contest.
                                    Leave empty for no limits."></span>
          Maximum number of submissions
        </td>
        <td><input type="text" name="max_submission_number" value="{{ task.max_submission_number if task.max_submission_number is not None else "" }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Maximum number of user tests each contestant can submit for this task, for the whole contest.
                                    Leave empty for no limits."></span>
          Maximum number of user tests
        </td>
        <td><input type="text" name="max_user_test_number" value="{{ task.max_user_test_number if task.max_user_test_number is not None else "" }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The minimum amount of time (in seconds) for this task that a contestant needs to wait after a submission before being able to submit another.
                                    Leave empty for no limits."></span>
          Minimum interval between submissions
        </td>
        <td><input type="text" name="min_submission_interval" value="{{ int(task.min_submission_interval.total_seconds()) if task.min_submission_interval is not None else "" }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The minimum amount of time (in seconds) for this task that a contestant needs to wait after a user test before being able to send another.
                                    Leave empty for no limits."></span>
          Minimum interval between user tests
        </td>
        <td><input type="text" name="min_user_test_interval" value="{{ int(task.min_user_test_interval.total_seconds()) if task.min_user_test_interval is not None else "" }}"></td>
      </tr>

      <tr><td colspan=2><h2>Score options</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="The number of decimal places the scores will be rounded to.
                                    Example: '2' to allow 98.76."></span>
          Score decimal places
        </td>
        <td><input type="text" name="score_precision" value="{{ task.score_precision }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="How the score for the task is computed from the score of each submission."></span>
          Score mode
        </td>
        <td>
          <select name="score_mode">
            <option value="{{ SCORE_MODE_MAX_TOKENED_LAST }}" {{ "selected" if task.score_mode == SCORE_MODE_MAX_TOKENED_LAST else "" }}>Use best among tokened and last submissions (IOI 2010-2012)</option>
            <option value="{{ SCORE_MODE_MAX }}" {{ "selected" if task.score_mode == SCORE_MODE_MAX else "" }}>Use best among all submissions (IOI 2013-)</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

<!-- Datasets -->

  <h2 id="title_datasets" class="toggling_on">Datasets</h2>
  <div id="datasets">
    <p>
{% if len(task.datasets) == 0 %}
    No datasets have been created for this task.<br/>
{% end %}
{% if current_user.permission_all %}
    <a href="{{ url_root }}/task/{{ task.id }}/add_dataset">Create a new dataset</a><br/>
{% end %}
    </p>

{% for dataset in sorted(task.datasets, key=lambda d: d.description) %}

  <h3 id="title_dataset_{{ dataset.id }}" class="toggling_on">Dataset: {{ dataset.description }}{{ format_dataset_attrs(dataset) }}</h3>
  <div id="dataset_{{ dataset.id }}" class="task_dataset">

    <p>
{% if current_user.permission_all %}
      {% if dataset is task.active_dataset %}
      [Make Live ...]
      {% else %}
      <a href="{{ url_root }}/dataset/{{ dataset.id }}/activate">[Make Live ...]</a>
      {% end %}
      <a href="{{ url_root }}/dataset/{{ dataset.id }}/clone">[Clone]</a>
      <a href="{{ url_root }}/dataset/{{ dataset.id }}/rename">[Rename]</a>
      {% if dataset is task.active_dataset %}
      [Delete]
      {% else %}
      <a href="{{ url_root }}/dataset/{{ dataset.id }}/delete">[Delete]</a>
      {% end %}
      {% if dataset is not task.active_dataset %}
        <a href="{{ url_root }}/dataset/{{ dataset.id }}/autojudge">[{% if dataset.autojudge %}Disable{% else %}Enable{% end %} background judging]</a>
      {% end %}
{% end %}
      <a href="{{ url_root }}/dataset/{{ dataset.id }}">[View results]</a>
    </p>

  <!-- Task type and score type settings -->

    <h4 id="title_task_type_{{ dataset.id }}" class="toggling_on">Dataset configuration</h4>

    {% if dataset.task_type not in [task_type.__name__ for task_type in task_type_list] %}
    <script type="text/javascript">
      $(document).ready(function() {
      utils.display_notification("notification",
          0,
          "Task type `{{ dataset.task_type }}' not found.",
          "Please select another task type, " +
          "or make the original one available and refresh the page " +
          "without updating the task to avoid losing the parameters.");
      });
    </script>
    {% end %}

    {% if dataset.score_type not in [score_type.__name__ for score_type in score_type_list] %}
    <script type="text/javascript">
      $(document).ready(function() {
      utils.display_notification("notification",
          0,
          "Score type `{{ dataset.score_type }}' not found.",
          "Please select another score type, " +
          "or make the original one available and refresh the page " +
          "without updating the task to avoid losing the parameters.");
      });
    </script>
    {% end %}

    <div id="task_type_{{ dataset.id }}" class="task_dataset_params">
      <table>

        <tr><td colspan=2><h3>Limits</h3></td></tr>
        <tr>
          <td>
            <span class="info" title="Total maximum time for each evaluation, in seconds."></span>
            Time limit
          </td>
          <td><input type="text" name="time_limit_{{ dataset.id }}" value="{{ dataset.time_limit if dataset.time_limit is not None else "" }}"/> second(s)</td>
        </tr>
        <tr>
          <td>
            <span class="info" title="Total maximum memory usage for each evaluation, in MiB (2^20 bytes)."></span>
            Memory limit
          </td>
          <td><input type="text" name="memory_limit_{{ dataset.id }}" value="{{ dataset.memory_limit if dataset.memory_limit is not None else "" }}"/> MiB</td>
        </tr>

        <tr><td colspan=2><h3>Task type settings (<a href="http://cms.readthedocs.org/en/{{ rtd_version }}/Task%20types.html" target="_blank">documentation</a>)</h3></td></tr>
        <tr>
          <td>
            <span class="info" title="Please see the task type documentation."></span>
            Task type
          </td>
          <td>

            <select name="task_type_{{ dataset.id }}">
              {% for task_type in task_type_list %}
              <option value="{{ task_type.__name__ }}" {% if dataset.task_type == task_type.__name__ %}selected{% end %}>{{ task_type.__name__ }}</option>
              {% end %}
            </select>
          {% set parameters = json.loads(dataset.task_type_parameters) if dataset.task_type_parameters != '' else None %}

          {% for task_type in task_type_list %}
          <table class="TaskTypeOptions TaskTypeOptions_{{ dataset.id }} bordered" id="TaskType{{ task_type.__name__ }}Options_{{ dataset.id }}" style="display: none;">
            {% for i in range(len(task_type.ACCEPTED_PARAMETERS)) %}
              {% set param_def = task_type.ACCEPTED_PARAMETERS[i] %}
              {% set parameter_value = parameters[i] if dataset.task_type == task_type.__name__ and parameters is not None and i < len(parameters) else None %}
              <tr>
                <td>{{ param_def.name }}</td>
                <td>
                  {% raw param_def.render("TaskTypeOptions_%d_%s_" % (dataset.id, task_type.__name__), parameter_value) %}
                </td>
              </tr>
            {% end %}
          </table>
          {% end %}

          </td>
        </tr>
        <tr>
          <td>
            <span class="info" title="Managers for this task. Managers are sources, headers, libraries or binaries used during the evaluation."></span>
            Managers
{% if current_user.permission_all %}
            [<a href="{{ url_root }}/dataset/{{ dataset.id }}/managers/add">add</a>]
{% end %}
          </td>
          <td>
            {% if len(dataset.managers) == 0 %}
              No managers.
            {% else %}
              {% for manager in dataset.managers.values() %}
                <div class="manager">
                  <a href="{{ url_root }}/file/{{ manager.digest }}/{{ manager.filename }}">{{ manager.filename }}</a>
                  - <a href="{{ url_root }}/dataset/{{ dataset.id }}/manager/{{ manager.id }}/delete">Delete</a>
                </div>
              {% end %}
            {% end %}
          </td>
        </tr>

        <tr><td colspan=2><h3>Score type settings (<a href="http://cms.readthedocs.org/en/{{ rtd_version }}/Score%20types.html" target="_blank">documentation</a>)</h3></td></tr>
        <tr>
          <td>
            <span class="info" title="Please see the score type documentation."></span>
            Score Type
          </td>
          <td>
            <select name="score_type_{{ dataset.id }}">
              {% for score_type in score_type_list %}
              <option value="{{ score_type.__name__}}" {% if dataset.score_type == score_type.__name__ %}selected{% end %}>{{ score_type.__name__ }}</option>
              {% end %}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <span class="info" title="Please see the score type documentation."></span>
            Score Parameters
          </td>
          <td><textarea name="score_type_parameters_{{ dataset.id }}">{{ dataset.score_type_parameters }}</textarea></td>
        </tr>
      </table>
      <div class="hr"></div>
    </div>

  <!-- Test cases for this dataset -->

  <h4 id="title_testcases_{{ dataset.id }}" class="toggling_on">Test cases</h4>
    <div id="testcases_{{ dataset.id }}" class="task_dataset_testcases">
{% if current_user.permission_all %}
      <a href="{{ url_root }}/dataset/{{ dataset.id }}/testcases/add">Add a testcase</a>
      <a href="{{ url_root }}/dataset/{{ dataset.id }}/testcases/add_multiple">Add multiple testcases</a>
{% end %}
      <a href="{{ url_root }}/dataset/{{ dataset.id }}/testcases/download">Download all testcases</a>
      <table class="bordered" style="text-align:center">
        <thead>
          <tr>
            <th>#</th>
            <th>Codename</th>
            <th>Public</th>
            <th>Input</th>
            <th>Output</th>
            <th>Ops</th>
          </tr>
        </thead>
        <tbody>
          {% set idx = 0 %}
          {% for codename, testcase in sorted(dataset.testcases.iteritems()) %}
            {% set idx = idx + 1 %}
          <tr>
            <td style="font-weight:bold;">{{ idx }}</td>
            <td>{{ codename }}</td>
            <td style="font-weight:bold;">
              <input type="checkbox" name="testcase_{{ testcase.id }}_public" {% if testcase.public %}checked{% end %} />
            </td>
            <td>
              <a href="javascript:void(0);" onclick="utils.show_file('input_{{ testcase.codename }}','{{ url_root }}/file/{{ testcase.input }}/input_{{ testcase.codename }}')">Show input</a>
            </td>
            <td>
              <a href="javascript:void(0);" onclick="utils.show_file('output_{{ testcase.codename }}','{{ url_root }}/file/{{ testcase.output }}/output_{{ testcase.codename }}')">Show output</a>
            </td>
            <td>
              <a href="{{ url_root }}/dataset/{{ dataset.id }}/testcase/{{ testcase.id }}/delete">Delete</a>
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
      <div class="hr"></div>
    </div>
  </div>
  {% end %}
  </div>

  <input type="submit"
{% if not current_user.permission_all %}
         disabled
{% end %}
         value="Update" />
  <input type="reset" value="Reset" />
</form>
{% end %}
