{% extends "base.html" %}

{% block js_init %}

function showTaskTypeOption(dataset_id) {
    var selector = $("select[name=task_type_" + dataset_id + "]")[0];
    $(".TaskTypeOptions_" + dataset_id + ":visible").hide("fast");
    $("#TaskType" + selector.options[selector.selectedIndex].value + "Options_" + dataset_id).show("fast")
};

{% for dataset in task.datasets %}
showTaskTypeOption({{ dataset.id }});
$("select[name=task_type_{{ dataset.id }}]").change(function() {
    showTaskTypeOption({{ dataset.id }});
});
{% endfor %}

function updateLanguageVisibility() {
    if($("#limit-languages").is(':checked')) {
        $("#language-list").show();
    } else {
        $("#language-list").hide();
    }
}

$("#limit-languages").change(updateLanguageVisibility);
$(document).ready(updateLanguageVisibility);

{% endblock js_init %}

{% block core %}

<div class="core_title">
  <h1>{{ task.title }} ({{ task.name }})</h1>
</div>

<h2 id="title_submissions" class="toggling_on">Submissions</h2>
<div id="submissions">

  {% if submissions|length == 0 %}
  <p>No submissions for this task yet.</p>
  {% else %}
    <a href="{{ url("dataset", task.active_dataset_id) }}">
      {% if submissions|length == 1 %}
      1 submission
      {% else %}
      {{ submissions|length }} submissions
      {% endif %}
    </a>
  {% endif %}
  <div class="hr"></div>
</div>

<!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
<form enctype="multipart/form-data" action="{{ url("task", task.id) }}" method="POST" style="display:inline;">
  {{ xsrf_form_html|safe }}
  <h2 id="title_task_configuration" class="toggling_on">Task configuration</h2>
  <div id="task_configuration">
    <table>
      <tr><td colspan=2><h2>Task information</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="A short name for the task, preferably using only letters, numbers and underscores."></span>
          Name
        </td>
        <td><input type="text" name="name" value="{{ task.name }}"/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The title of the task as seen by the contestants."></span>
          Title
        </td>
        <td><input type="text" name="title" value="{{ task.title }}"/></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The index of the task within the contest, if the task is associated with a contest."></span>
          Position
        </td>
        <td>{{ task.num }}</td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The statements of this task, by language code. Primary statements are shown prominently to contestants."></span>
          Statements
{% if admin.permission_all %}
          [<a href="{{ url("task", task.id, "statements", "add") }}">add</a>]
{% endif %}
        </td>
        <td>
          {% if task.statements|length == 0 %}
          No statements uploaded yet
          {% else %}
          <table>
            <tbody>
            {% for statement in task.statements.values() %}
              <tr>
                <td><a href="{{ url("file", statement.digest, "statement.pdf") }}">Statement for language "{{ statement.language }}"</a></td>
                <td>
                  <label>
                    <input type="checkbox" name="primary_statement_{{ statement.language }}" {% if statement.language in primary_statements %}checked{% endif %} />
                    Primary?
                  </label>
                </td>
                <td><a onclick="CMS.AWSUtils.ajax_delete('{{ url("task", task.id, "statement", statement.id) }}'); ">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Attachments for this task. Contestant can view and download attachments from the task page."></span>
          Attachments
{% if admin.permission_all %}
          [<a href="{{ url("task", task.id, "attachments", "add") }}">add</a>]
{% endif %}
        </td>
        <td>
          {% if task.attachments|length == 0 %}
            No attachments.
          {% else %}
            {% for attachment in task.attachments.values() %}
              <div class="attachment">
                <a href="{{ url("file", attachment.digest, attachment.filename) }}">{{ attachment.filename }}</a>
                - <a onclick="CMS.AWSUtils.ajax_delete('{{ url("task", task.id, "attachment", attachment.id) }}'); ">Delete</a>
              </div>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="A comma-separated list with the names of the files that need to be submitted (with the language extensions changed to %l).
                                    The task type dictates the submission format. Consult the task type documentation to know the requirements."></span>
          Submission format
        </td>
        <td>
          <input type="text" name="submission_format" value="{{ task.submission_format|join(", ") }}"/>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="With 'restricted' contestants only see limited technical information about each testcase; with 'full' they see more details, but malicious contestants might use this data to get some information about the test data."></span>
          Feedback level
        </td>
        <td>
          <select name="feedback_level">
            <option value={{ FEEDBACK_LEVEL_RESTRICTED }} {{ "selected" if task.feedback_level == FEEDBACK_LEVEL_RESTRICTED else "" }}>Restricted</option>
            <option value={{ FEEDBACK_LEVEL_FULL }} {{ "selected" if task.feedback_level == FEEDBACK_LEVEL_FULL else "" }}>Full</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Whether this task should accept only a subset of all allowed programming languages."></span>
          <label for="limit-languages">Restrict programming languages</label>
        </td>
        <td>
          <input type="checkbox" id="limit-languages" name="limit_languages" {{ "checked" if task.languages != None else "" }}/>
        </td>
      </tr>
      <tr id="language-list">
        <td>
          <span class="info" title="Programming languages that contestants can use to solve this task. Only relevant if Restrict programming languages is checked."></span>
          Allowed programming languages
        </td>
        <td class="wrapping-options">
          {% for lang in LANGUAGES %}
            {% if task.contest == None or lang.name in task.contest.languages %}
              <label><input type="checkbox" name="languages" value="{{ lang.name }}" {{ "checked" if task.languages == None or lang.name in task.languages else "" }}>{{ lang.name }}</label>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr><td colspan=2><h2>Tokens parameters (<a href="http://cms.readthedocs.org/en/{{ rtd_version }}/Configuring%20a%20contest.html#feedback-to-contestants" target="_blank">documentation</a>)</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="Select 'disabled' to remove tokens completely for this task, 'infinite' for allowing any number of tokens for this task, or 'finite' to specify the amount with the following parameters.
                                    If you prefer to control tokens at the task level, select 'infinite' here."></span>
          Token mode
        </td>
        <td>
          <select name="token_mode">
            <option value="{{ TOKEN_MODE_DISABLED }}" {{ "selected" if task.token_mode == TOKEN_MODE_DISABLED else "" }}>Disabled</option>
            <option value="{{ TOKEN_MODE_FINITE }}" {{ "selected" if task.token_mode == TOKEN_MODE_FINITE else "" }}>Finite</option>
            <option value="{{ TOKEN_MODE_INFINITE }}" {{ "selected" if task.token_mode == TOKEN_MODE_INFINITE else "" }}>Infinite</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The maximum number of tokens a contestant can use in this task.
                                    It is used only if tokens are finite."></span>
          Maximum number of tokens
        </td>
        <td><input type="text" name="token_max_number" value="{{ task.token_max_number if task.token_max_number is not none else "" }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The minimum amount of time (in seconds) that a contestant needs to wait for this task after using a token before being able to use another.
                                    It is used only if tokens are finite."></span>
          Minimum interval between tokens
        </td>
        <td><input type="text" name="token_min_interval" value="{{ task.token_min_interval.total_seconds()|int }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The number of tokens that a contestant has available for this task when their contest time starts.
                                    It is used only if tokens are finite."></span>
          Initial number of tokens
        </td>
        <td><input type="text" name="token_gen_initial" value="{{ task.token_gen_initial }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The number of tokens that are generated periodically for this task.
                                    It is used only if tokens are finite."></span>
          Token generation number
        </td>
        <td><input type="text" name="token_gen_number" value="{{ task.token_gen_number }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The amount of time (in minutes) between two token generation events for this task.
                                    It is used only if tokens are finite."></span>
          Token generation period
        </td>
        <td><input type="text" name="token_gen_interval" value="{{ task.token_gen_interval.total_seconds()|int // 60 }}" /></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Maximum number of tokens for this task available to a contestant at any given time during the contest.
                                    It is used only if tokens are finite."></span>
          Maximum accumulated tokens
        </td>
        <td><input type="text" name="token_gen_max" value="{{ task.token_gen_max if task.token_gen_max is not none else "" }}" /></td>
      </tr>

      <tr><td colspan=2><h2>Limits</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="Maximum number of submissions each contestant can submit for this task, for the whole contest.
                                    Leave empty for no limits."></span>
          Maximum number of submissions
        </td>
        <td><input type="text" name="max_submission_number" value="{{ task.max_submission_number if task.max_submission_number is not none else "" }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="Maximum number of user tests each contestant can submit for this task, for the whole contest.
                                    Leave empty for no limits."></span>
          Maximum number of user tests
        </td>
        <td><input type="text" name="max_user_test_number" value="{{ task.max_user_test_number if task.max_user_test_number is not none else "" }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The minimum amount of time (in seconds) for this task that a contestant needs to wait after a submission before being able to submit another.
                                    Leave empty for no limits."></span>
          Minimum interval between submissions
        </td>
        <td><input type="text" name="min_submission_interval" value="{{ task.min_submission_interval.total_seconds()|int if task.min_submission_interval is not none else "" }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="The minimum amount of time (in seconds) for this task that a contestant needs to wait after a user test before being able to send another.
                                    Leave empty for no limits."></span>
          Minimum interval between user tests
        </td>
        <td><input type="text" name="min_user_test_interval" value="{{ task.min_user_test_interval.total_seconds()|int if task.min_user_test_interval is not none else "" }}"></td>
      </tr>

      <tr><td colspan=2><h2>Score options</h2></td></tr>
      <tr>
        <td>
          <span class="info" title="The number of decimal places the scores will be rounded to.
                                    Example: '2' to allow 98.76."></span>
          Score decimal places
        </td>
        <td><input type="text" name="score_precision" value="{{ task.score_precision }}"></td>
      </tr>
      <tr>
        <td>
          <span class="info" title="How the score for the task is computed from the score of each submission."></span>
          Score mode
        </td>
        <td>
          <select name="score_mode">
            <option value="{{ SCORE_MODE_MAX_TOKENED_LAST }}" {{ "selected" if task.score_mode == SCORE_MODE_MAX_TOKENED_LAST else "" }}>Use best among tokened and last submissions (IOI 2010-2012)</option>
            <option value="{{ SCORE_MODE_MAX }}" {{ "selected" if task.score_mode == SCORE_MODE_MAX else "" }}>Use best among all submissions (IOI 2013-2016)</option>
            <option value="{{ SCORE_MODE_MAX_SUBTASK }}" {{ "selected" if task.score_mode == SCORE_MODE_MAX_SUBTASK else "" }}>Use the sum over each subtask of the best result for that subtask across all submissions (IOI 2017-)</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

<!-- Datasets -->

  <h2 id="title_datasets" class="toggling_on">Datasets</h2>
  <div id="datasets">
    <p>
{% if task.datasets|length == 0 %}
    No datasets have been created for this task.<br/>
{% endif %}
{% if admin.permission_all %}
    <a href="{{ url("task", task.id, "add_dataset") }}">Create a new dataset</a><br/>
{% endif %}
    </p>

{% for dataset in task.datasets|sort(attribute="description") %}

  <h3 id="title_dataset_{{ dataset.id }}" class="toggling_on">Dataset: {{ dataset.description }}{{ dataset|format_dataset_attrs }}</h3>
  <div id="dataset_{{ dataset.id }}" class="task_dataset">

    <p>
{% if admin.permission_all %}
      {% if dataset is sameas (task.active_dataset) %}
      [Make Live ...]
      {% else %}
      <a href="{{ url("dataset", dataset.id, "activate") }}">[Make Live ...]</a>
      {% endif %}
      <a href="{{ url("dataset", dataset.id, "clone") }}">[Clone]</a>
      <a href="{{ url("dataset", dataset.id, "rename") }}">[Rename]</a>
      {% if dataset is sameas (task.active_dataset) %}
      [Delete]
      {% else %}
      <a href="{{ url("dataset", dataset.id, "delete") }}">[Delete]</a>
      {% endif %}
      {% if dataset is not sameas (task.active_dataset) %}
        <a onclick="CMS.AWSUtils.ajax_post('{{ url("dataset", dataset.id, "autojudge") }}');">[{% if dataset.autojudge %}Disable{% else %}Enable{% endif %} background judging]</a>
      {% endif %}
{% endif %}
      <a href="{{ url("dataset", dataset.id) }}">[View results]</a>
    </p>

  <!-- Task type and score type settings -->

    <h4 id="title_task_type_{{ dataset.id }}" class="toggling_on">Dataset configuration</h4>

    {% if dataset.task_type not in TASK_TYPES %}
    <script type="text/javascript">
      $(document).ready(function() {
      utils.display_notification("notification",
          0,
          "Task type `{{ dataset.task_type }}' not found.",
          "Please select another task type, " +
          "or make the original one available and refresh the page " +
          "without updating the task to avoid losing the parameters.");
      });
    </script>
    {% endif %}

    {% if dataset.score_type not in SCORE_TYPES %}
    <script type="text/javascript">
      $(document).ready(function() {
      utils.display_notification("notification",
          0,
          "Score type `{{ dataset.score_type }}' not found.",
          "Please select another score type, " +
          "or make the original one available and refresh the page " +
          "without updating the task to avoid losing the parameters.");
      });
    </script>
    {% endif %}

    <div id="task_type_{{ dataset.id }}" class="task_dataset_params">
      <table>

        <tr><td colspan=2><h3>Limits</h3></td></tr>
        <tr>
          <td>
            <span class="info" title="Total maximum time for each evaluation, in seconds."></span>
            Time limit
          </td>
          <td><input type="text" name="time_limit_{{ dataset.id }}" value="{{ dataset.time_limit if dataset.time_limit is not none else "" }}"/> second(s)</td>
        </tr>
        <tr>
          <td>
            <span class="info" title="Total maximum memory usage for each evaluation, in MiB (2^20 bytes)."></span>
            Memory limit
          </td>
          <td><input type="text" name="memory_limit_{{ dataset.id }}" value="{{ dataset.memory_limit // (1024 * 1024) if dataset.memory_limit is not none else "" }}"/> MiB</td>
        </tr>

        <tr><td colspan=2><h3>Task type settings (<a href="http://cms.readthedocs.org/en/{{ rtd_version }}/Task%20types.html" target="_blank">documentation</a>)</h3></td></tr>
        <tr>
          <td>
            <span class="info" title="Please see the task type documentation."></span>
            Task type
          </td>
          <td>

            <select name="task_type_{{ dataset.id }}">
              {% for task_type_name, task_type in TASK_TYPES.items() %}
              <option value="{{ task_type_name }}" {% if dataset.task_type == task_type_name %}selected{% endif %}>{{ task_type_name }}</option>
              {% endfor %}
            </select>
          {% set parameters = dataset.task_type_parameters %}

          {% for task_type_name, task_type in TASK_TYPES.items() %}
          <table class="TaskTypeOptions TaskTypeOptions_{{ dataset.id }} bordered" id="TaskType{{ task_type_name }}Options_{{ dataset.id }}" style="display: none;">
            {% for i in range(task_type.ACCEPTED_PARAMETERS|length) %}
              {% set param_def = task_type.ACCEPTED_PARAMETERS[i] %}
              {% set parameter_value = parameters[i] if dataset.task_type == task_type_name and parameters is not none and i < parameters|length else none %}
              <tr>
                <td>{{ param_def.name }}</td>
                <td>
                  {{ param_def.render("TaskTypeOptions_%d_%s_"|format(dataset.id, task_type_name), parameter_value)|safe }}
                </td>
              </tr>
            {% endfor %}
          </table>
          {% endfor %}

          </td>
        </tr>
        <tr>
          <td>
            <span class="info" title="Managers for this task. Managers are sources, headers, libraries or binaries used during the evaluation."></span>
            Managers
{% if admin.permission_all %}
            [<a href="{{ url("dataset", dataset.id, "managers", "add") }}">add</a>]
{% endif %}
          </td>
          <td>
            {% if dataset.managers|length == 0 %}
              No managers.
            {% else %}
              {% for manager in dataset.managers.values() %}
                <div class="manager">
                  <a href="{{ url("file", manager.digest, manager.filename) }}">{{ manager.filename }}</a>
                  - <a onclick="CMS.AWSUtils.ajax_delete('{{ url("dataset", dataset.id, "manager", manager.id, "delete") }}');">Delete</a>
                </div>
              {% endfor %}
            {% endif %}
          </td>
        </tr>

        <tr><td colspan=2><h3>Score type settings (<a href="http://cms.readthedocs.org/en/{{ rtd_version }}/Score%20types.html" target="_blank">documentation</a>)</h3></td></tr>
        <tr>
          <td>
            <span class="info" title="Please see the score type documentation."></span>
            Score Type
          </td>
          <td>
            <select name="score_type_{{ dataset.id }}">
              {% for score_type_name, score_type in SCORE_TYPES.items() %}
              <option value="{{ score_type_name }}" {% if dataset.score_type == score_type_name %}selected{% endif %}>{{ score_type_name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <span class="info" title="Please see the score type documentation."></span>
            Score Parameters
          </td>
          <td><textarea name="score_type_parameters_{{ dataset.id }}">{{ dataset.score_type_parameters|tojson|forceescape }}</textarea></td>
        </tr>
      </table>
      <div class="hr"></div>
    </div>

  <!-- Test cases for this dataset -->

  <h4 id="title_testcases_{{ dataset.id }}" class="toggling_on">Test cases</h4>
    <div id="testcases_{{ dataset.id }}" class="task_dataset_testcases">
{% if admin.permission_all %}
      <a href="{{ url("dataset", dataset.id, "testcases", "add") }}">Add a testcase</a>
      <a href="{{ url("dataset", dataset.id, "testcases", "add_multiple") }}">Add multiple testcases</a>
{% endif %}
      <a href="{{ url("dataset", dataset.id, "testcases", "download") }}">Download all testcases</a>
      <table class="bordered" style="text-align:center">
        <thead>
          <tr>
            <th>#</th>
            <th>Codename</th>
            <th>Public</th>
            <th>Input</th>
            <th>Output</th>
            <th>Ops</th>
          </tr>
        </thead>
        <tbody>
          {% for codename, testcase in dataset.testcases|dictsort(by="key") %}
          <tr>
            <td style="font-weight:bold;">{{ loop.index }}</td>
            <td>{{ codename }}</td>
            <td style="font-weight:bold;">
              <input type="checkbox" name="testcase_{{ testcase.id }}_public" {% if testcase.public %}checked{% endif %} />
            </td>
            <td>
              <a href="javascript:void(0);" onclick="utils.show_file('input_{{ testcase.codename }}','{{ url("file", testcase.input, "input_%s"|format(testcase.codename)) }}')">Show input</a>
            </td>
            <td>
              <a href="javascript:void(0);" onclick="utils.show_file('output_{{ testcase.codename }}','{{ url("file", testcase.output, "output_%s"|format(testcase.codename)) }}')">Show output</a>
            </td>
            <td>
              <a onclick="CMS.AWSUtils.ajax_delete('{{ url("dataset", dataset.id, "testcase", testcase.id, "delete") }}');">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="hr"></div>
    </div>
  </div>
  {% endfor %}
  </div>
  <input type="submit"
{% if not admin.permission_all %}
         disabled
{% endif %}
         value="Update" />
  <input type="reset" value="Reset" />
</form>
<form action="{{ url("tasks") }}" method="POST" style="display:inline;">
    {{ xsrf_form_html|safe }}
    <input type="hidden" name="task_id" value="{{ task.id }}"/>
    <input type="submit"
         name="operation"
         value="Remove" style="float: right;"
{% if not admin.permission_all %}
         disabled
{% endif %}
         />
</form>
{% endblock core %}
