{% extends "base.html" %}

{% block core %}
<div class="core_title">
  <h1>Remove Team</h1>
</div>

{% if admin.permission_all %}
<p>
  Are you sure you want to remove team {{ team.code }} ({{ team.name }})?
  <br>
  {% if participation_count > 0 %}
  This will remove the team association from {{ participation_count }} participation(s). The participations will remain but will no longer be associated with this team.
  {% else %}
  This team has no associated participations.
  {% endif %}
  <br>
  This operation cannot be undone.
</p>
<br>
<a onclick="CMS.AWSUtils.ajax_delete('{{ url("teams", team.id, "remove") }}');" class="button-link">Yes, remove</a>
<a href="{{ url("teams") }}" class="button-link">No</a>

{% else %}
You do not have permission to remove a team.
{% endif %}

{% endblock core %}
