{% extends "base.html" %}

{% block core %}
<div class="core_title">
  <h1>Remove User</h1>
</div>

{% if admin.permission_all %}
<p>
  Are you sure you want to remove user {{ user.username }}, including all related data?
  <br>
  This will remove {{ participation_count }} participation(s) and {{ submission_count }} submission(s).
  <br>
  This operation cannot be undone.
</p>
<br>
<a onclick="CMS.AWSUtils.ajax_delete('{{ url("users", user.id, "remove") }}');" class="button-link">Yes, remove</a>
<a href="{{ url("users") }}" class="button-link">No</a>

{% else %}
You do not have permission to remove a user.
{% endif %}

{% endblock core %}
