{
    "_help": "There is no way to put comments in a JSON file; the",
    "_help": "fields starting with '_' are meant to be comments.",

    "_help": "Listening address for RankingWebServer.",
    "bind_address": "",

    "_help": "Listening port for RankingWebServer.",
    "http_port": 8890,

    "_help": "Login information for adding and editing data.",
    "username":   "usern4me",
    "password":   "passw0rd",

    "_help": "This is the end of this file."
}
