{
    "_help": "There is no way to put comments in a JSON file; the",
    "_help": "fields starting with '_' are meant to be comments.",



    "_section": "System-wide configuration",

    "temp_dir": "/tmp",



    "_section": "AsyncLibrary",

    "core_services":
    {
        "LogService":        [["localhost", 29000]],
        "ResourceService":   [["localhost", 28000]],
        "ScoringService":    [["localhost", 28500]],
        "Checker":           [["localhost", 22000]],
        "EvaluationService": [["localhost", 25000]],
        "Worker":            [["localhost", 26000], ["localhost", 26001]],
        "ContestWebServer":  [["localhost", 21000]],
        "AdminWebServer":    [["localhost", 21100]]
        },

    "other_services":
    {
        "TestFileCacher":    [["localhost", 27501]]
        },



    "_section": "Database",

    "_help": "Connection string for the database.",
    "database": "postgresql+psycopg2://cmsuser:password@localhost/database",

    "_help": "Whether SQLAlchemy prints DB queries on stdout.",
    "database_debug": false,

    "_help": "Whether to use two-phase commit.",
    "twophase_commit": false,



    "_section": "Worker",

    "_help": "Don't delete the sandbox directory under /tmp/ when they",
    "_help": "are not needed anymore. Warning: this can easily eat GB",
    "_help": "of space very soon.",
    "keep_sandbox": true,



    "_section": "WebServers",

    "_help": "This key is used to encode information that can be seen",
    "_help": "by the user, namely cookies and auto-incremented",
    "_help": "numbers. It should be changed for each",
    "_help": "contest. Particularly, you should not use this example",
    "_help": "for other than testing. You can easily create a key",
    "_help": "calling cmscommon.Cryptographics.get_hex_random_key().",
    "secret_key":             "8e045a51e4b102ea803c06f92841a1fb",

    "_help": "Whether Tornado prints debug information on stdout.",
    "tornado_debug": false,



    "_section": "ContestWebServer",

    "_help": "Listening http address and ports for the CWS listed before in",
    "_help": "core_services.",
    "contest_listen_address": [""],
    "contest_listen_port":    [8888],

    "_help": "Login cookie duration in seconds. The duration is refreshed",
    "_help": "on every manual request.",
    "cookie_duration": 10800,

    "_help": "If CWSs write submissions to disk before storing them in",
    "_help": "the DB, and where to save them. %s = DATA_DIR.",
    "submit_local_copy":      true,
    "submit_local_copy_path": "%s/submissions/",

    "_help": "If we allow users to log in only from their specified IP",
    "_help": "address. Users with no IP set are anyway allowed to log in",
    "_help": "from anywhere.",
    "ip_lock": true,

    "_help": "Whether hidden users are allowed to log in.",
    "block_hidden_users": false,

    "_help": "Whether the CWSs are behind a (trusted) proxy (e.g.,",
    "_help": "nginx) that does load balancing. Used to know if it is",
    "_help": "save to assume that the real source IP address is the",
    "_help": "one listed in the request headers.",
    "is_proxy_used": false,

    "_help": "Maximum size of a submission in bytes.",
    "max_submission_length": 100000,
    "max_input_length": 5000000,

    "_help": "STL documentation path in the system (exposed in CWS).",
    "stl_path": "/usr/share/doc/stl-manual/html/",

    "_help": "Whether questions and messages are enabled.",
    "allow_communication": true,



    "_section": "AdminWebServer",

    "_help": "Listening http address and port for AdminWebServer.",
    "admin_listen_address": "",
    "admin_listen_port":    8889,



    "_section": "ScoringService",

    "_help": "Lists of addresses (protocol, ip, port), usernames and",
    "_help": "passwords where the scores are to be sent.",
    "rankings_address":        [["http", "localhost", 8890]],
    "rankings_username":       ["usern4me"],
    "rankings_password":       ["passw0rd"],



    "_section": "ResourceService",

    "_help": "Format of the *beginning* of the command line that we",
    "_help": "expect services are running from. Used to found their",
    "_help": "associated processes - %s is replaced by the service",
    "_help": "name (e.g. LogService) and %d by the shard number.",
    "_help": "The first is a process_cmdline that may work by default",
    "_help": "for CMS installed, while the second is for CMS run from",
    "_help": "the repository. On some systems it may be necessary to",
    "_help": "change the first item to contain 'python2' or even",
    "_help": "'python2.7' instead of just 'python', and the second",
    "_help": "one to contain '/usr/bin' instead of /usr/local/bin'.",
    "process_cmdline": ["/usr/bin/python", "/usr/local/bin/cms%s", "%d"],
    "_process_cmdline": ["/usr/bin/python", "./%s.py", "%d"],



    "_section": "LogService",

    "_help": "Whether to print ANSI color codes on stdout/logfiles, in",
    "_help": "the local logs and in the remote ones.",
    "color_shell_log":        true,
    "color_file_log":         false,
    "color_remote_shell_log": true,
    "color_remote_file_log":  true,



    "_help": "This is the end of this file."
}
