user www-data;
worker_processes 1;

error_log /var/log/nginx/error.log;
pid       /var/run/nginx.pid;

events {
  worker_connections  1024;
}

http {
  upstream cms {
    ip_hash;
    server 127.0.0.1:8888;
  }

  server {
    listen 443 default_server ssl;

    # How to generate certificate: http://wiki.nginx.org/HttpSslModule
    ssl_certificate /etc/nginx/ssl/server.cert;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    server_name ioi.phc.unipi.it;
    location / {
      proxy_pass http://cms;
    }
    proxy_set_header Host            $host;
    proxy_set_header X-Real-IP       $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  server {
    listen 80;
    server_name ioi.phc.unipi.it;
    location / {
      rewrite ^/(.*)$ https://ioi.phc.unipi.it/$1;
    }
  }

}
