#!/usr/bin/python
# -*- coding: utf-8 -*-

# Programming contest management system
# Copyright © 2010-2011 Giovanni Mascellani <mascellani@poisson.phc.unipi.it>
# Copyright © 2010-2011 Stefano Maggiolo <s.maggiolo@gmail.com>
# Copyright © 2010-2011 Matteo Boscariol <boscarim@hotmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

couchdb_server = "http://localhost:5984/"
couchdb_database = "ioi"

file_storage = ("localhost", 8000)
evaluation_server = ("localhost", 8002)
log_server = ("localhost", 8003)

workers = [ ("localhost", 8001), ("localhost", 8004) ]

logging_web_server = ("localhost", 8080)

file_storage_cache_basedir = "fs-cache"

FS_connection_timeout = 10.0

# Worker timeout in seconds
worker_timeout = 600.0
worker_timeout_check_time = 301.0

# --- BusinessLayer Configuration ---
maximum_conflict_attempts = 50
submit_local_copy = False
submit_local_copy_path = "submissions/"

