[Unit]
Description=Contest Management System Logging

[Service]
Type=simple
WorkingDirectory=@CMS_DIR@
ExecStart=@CMS_DIR@/bin/cmsLogService

[Install]
WantedBy=default.target
