<div class="sidebar">

   <form name="contest_selection" id="contest_selection" method="GET">
   <select name="selected_contest" onchange="document.getElementById('contest_selection').submit();">
      <option value=null {% if contest == None %} selected {% end %}>Select a contest</option>
      {% for i in contest_list %}
        <option value="{{i.couch_id}}" 
            {% if contest != None and contest.couch_id == i.couch_id %} selected {% end %}
            >
        {{ i.name }}
        </option>
      {% end %}
    </select> <a href="/addcontest" alt="New contest" style="text-decoration: none;">+</a>
    </form>
    
    
    <ul class="menu">
        <li class="menu_entry"><a class="menu_link" href="/">Overview</a></li>
        {% if contest != None %}
          <li class="menu_entry">Contest information</li>
          <ul class="submenu">
            <li class="submenu_entry"><a class="submenu_link" href="/contest">General</a></li>
            <li class="submenu_entry"><a class="submenu_link" href="/announcements">Announcements</a></li>
            <li class="submenu_entry"><a class="submenu_link" href="/user">Users</a></li>
          </ul>
        {% end %}
    </ul>

</div>
<div id="sidebar_bg"></div>
