{% extends base.html %}

{% block core %}
    <div class="core_title">
    <h1>{{ selected_user }}</h1>
    </div>

    <h2 onclick="toggleVisibility(&quot;user_submissions&quot;);">
    <span class="toggle" id="user_submissions_toggle">-</span>Submissions</h2>
    <div id="user_submissions">
    {% if submissions != [] %}
           <table class="sub_table">
            <tr>
                <th>Date</th>
                <th>Task</th>
                <th>Compilation<br/>status</th>
                <th>Evaluation<br/>status</th>
                <th>Files</th>
                <th>Detailed<br/>Feedback<br/>Requested</th>
                <th>Re-evaluate?</th>
            </tr>
            {% for s in sorted(submissions, key=lambda s: s.timestamp , reverse = True) %}
                <tr>
                    <td><a href="/submissions/details/{{escape(s.couch_id)}}">{{ datetime.datetime.fromtimestamp(s.timestamp).strftime("%d/%m/%Y %H:%M:%S") }}</a></td>
                    <td>{{ s.task.name }}</td>
                    <td>{{ s.compilation_outcome }}</td>
                    <td>
                        {% if s.evaluation_outcome != None %}
                            Evaluated
                        {% else %}
                            Not evaluated
                        {% end %}
                    </td>
                    <td>
                    {% for key,value in s.files.items() %}
                        <a href="/submission_file/{{ escape(s.couch_id) }}/{{ escape(key) }}">{{ escape(key) }}<br/>
                    {% end %}
                    </td>
                    <td>
                    {% if s.token_timestamp==None %}
                        No
                    {% else %}
                        Yes
                    {% end %}
                    </td>
                    <td>
                        <a href="submissions/reevaluate/{{escape(s.couch_id)}}">Go ahead!</a>
                    </td>
                </tr>
            {% end %}
            </table>
    {% else %}
    No submissions.
    {% end %}
    </div>

    <h2 onclick="toggleVisibility(&quot;user_messages&quot;);">
    <span class="toggle" id="user_messages_toggle">-</span>Messages</h2>
    <div id="user_messages">
    {% if selected_user.messages != [] %}
        <table>
        <tr>
            <td>Date</td>
            <td>Subject</td>
        </tr>
        {% for i, msg in enumerate(selected_user.messages) %}
        <tr>
            <td>{{ datetime.datetime.fromtimestamp(msg["date"]).strftime("%d/%m/%Y %H:%M:%S")  }}</td>
            <td><a href="messages/{{ i }}">{{msg["subject"]}}</a></td>
        </tr>
        {% end %}
        </table>
    {% else %}
    No messages.
    {% end %}
    </div>
{% end %}
