{% extends base.html %}

{% block core %}

        <div class="core_title">
        <h1>Contest Overview</h1>
        </div>
        <h2>Announcements</h2>
        <div id="announcements">
        <form method="post" action="/add_announcement">
          <input name="subject" size="20" /><br/>
          <textarea name="text" rows="3" cols="40"></textarea><br/>
          <input type="submit" value="Add announcement" />
        </form>
        {% if contest.announcements != [] %}
            {% for msg_i, msg in enumerate(reversed(contest.announcements)) %}
            <div class="announcement_item displayed">
                <span class="announcement_date">{{ datetime.datetime.fromtimestamp(msg["date"]).strftime("%d/%m/%Y %H:%M:%S")  }}
                  <form method="post" action="/remove_announcement">
                    <input type="hidden" name="index" value="{{ len(contest.announcements) - msg_i - 1 }}" />
                    <input type="hidden" name="subject" value="{{ msg["subject"] }}" />
                    <input type="hidden" name="text" value="{{ msg["text"] }}" />
                    <input type="submit" value="Remove announcement" />
                  </form>
                </span>
                <span class="announcement_subject">{{msg["subject"]}}</span>
                <span class="announcement_text">{{msg["text"]}}</span>
            </div>
            {% end %}
        {% else %}
            No announcements.
        {% end %}
        </div>
        <h2>General information</h2>

        {% if phase == 0 %}
            The contest started at {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.start)) }};<br/>it will end at {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.stop)) }}.</p>
        {% elif phase == -1 %}
            The contest starts at {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.start)) }} and will end at {{ time.strftime("%a, %d %b %Y %H:%M:%S (%Z)", time.localtime(contest.stop)) }}.
        {% elif phase == 1 %}
            The contest has ended.
        {% end %}

        <h2>Queue status</h2>
        {% if queue_status != None %}
        <table class="sub_table">
          <tr>
            <th>Id</th>
            <th>Job type</th>
            <th>Submission</th>
            <th>Priority</th>
            <th>Since</th>
          </tr>
          {% for i, el in enumerate(queue_status) %}
          <tr>
            <td>{{ i }}</td>
            {% if isinstance(el['job'], str) %}
            <td></td>
            <td>{{ el['job'] }}</td>
            {% else %}
            <td>{{ el['job'][0] }}</td>
            <td>{{ el['job'][1] }}</td>
            {% end %}
            <td>{{ el['priority'] }}</td>
            <td>{{ int(time.time() - el['timestamp']) }} seconds ago</td>
          <tr>
          {% end %}
        </table>
        {% else %}
        Queue status unavailable.
        {% end %}

        <h2>Workers status</h2>
        {% if workers_status != None %}
        <table class="sub_table">
          <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Errors</th>
            <th>Current job</th>
          </tr>
          {% for i, w in workers_status.iteritems() %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ w['address'][0] }}:{{ w['address'][1] }}</td>
            <td>{{ w['error_count'] }}</td>
            {% if isinstance(w['job'], str) %}
            <td>{{ w['job'] }}</td>
            {% else %}
            <td>{{ w['job'][0] }} {{ w['job'][1] }} for {{ "%.2f" % (timestamp - w['start_time']) }} seconds</td>
            {% end %}
          <tr>
          {% end %}
        </table>
        {% else %}
        Workers status unavailable.
        {% end %}
{% end %}
