body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: "Lucida Grande", "Arial", sans-serif;
    height: 100%;
    min-width: 960px;
}

h1 {
    font-family: "Garamond", sans-serif;
    color: #53637D;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-family: "Garamond", serif;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}
p {
    padding: 0.75em 0;
}

code {
    font-family: monospace;
}

pre {
    border-left: 2px solid #53637D;
    padding-left: 0.25em;
    font-family: monospace;
    min-height: 1.5em;
}

.login_error {
    color: #F31313;
}

#global {
    width: 960px;
    margin: 0;
}

a, a:visited {
    color: #426DC9;
}

.hr {
    text-align: center;
    color: #53637D;
    text-shadow: white 0 1px 1px;
    padding: 0.75em 0;
    clear: both;
}

.hr:before {
    content: "\273B\273B\273B";
}

.displayed {
    display: block;
}

input {
    border: 1px solid #53637D;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

input:focus {
    border: 1px solid #FFD69C;
}

ul.normal_list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 0.5em;
}





/* LEFT */

#sidebar {
    text-align: right;
    position: fixed;
    padding: 0 1em;
    width: 234px;
    background-color: #EAEEF3;
    text-shadow: white 0 1px 1px;
    height: 100%;
    border-right: 2px solid #E4E5E8;
}

#sidebar h1 {
    font-size: 1.5em;
    line-height: 2em;
}

#sidebar .sidebar_left {
    text-align: left;
    width: 54px;
    float: left;
}

#sidebar .sidebar_right {
    width: 180px;
    text-align: right;
    float: right;
}

#sidebar a {
    text-decoration: none;
}

.menu_link {
    border-radius: 10px 0 0 10px;
    padding: 0 1em;
    margin-right: -1em;
}

#sidebar a:hover, #sidebar a:focus {
    background-color: white;
    outline: 0;
}

.footer {
    font-size: 0.875em;
    line-height: 1.71428571em;
    text-align: left;
    clear: both;
}





/* BORDER */

#border {
    border-left: 2px solid #DADEE3;
    border-right: 2px solid #CACED3;
    width: 0px;
    height: 100%;
    position: fixed;
    margin-left: 266px;
}





/* RIGHT */

#core {
    margin-left: 270px;
    margin-bottom: 1em;
    padding: 0 1em;
    width: 660px;
}

#core h1 {
    font-size: 2.5em;
    line-height: 1.8em;
    margin-bottom: 0.6em;
}

/* TOGGLING */

#core h2 {
    color: #53637D;
    text-align: left;
    font-size: 1.5em;
    padding-left: 1em;
}

.toggling_on, .toggling_off {
    cursor: pointer;
}

.toggling_on:before {
    content: "\25BE\0000a0";
}

.toggling_off:before {
    content: "\25B8\0000a0";
}

.toggled_div {
    display: hidden;
}






/* TABLE */

table {
    width: 100%;
    margin-top: -0.0625em;
}

table th {
    font-weight: bold;
    vertical-align: bottom;
    text-align: center;
    padding: 0 0.25em;
    font-size: 0.875em;
    line-height: 1.71428571em;
    border-bottom: 0.0625em solid #53637D;
}

table td {
    padding: 0.875em 0.25em;
    font-size: 0.875em;
    line-height: 1.71428571em;
}

table.bordered {
    border-radius: 0.5em 0.5em 0 0;
}

table.bordered td, table.bordered th {
    border-right: 1px solid #53637D;
}

table.bordered td:last-child, table.bordered th:last-child {
    border-right: 0;
}

table.bordered thead th {
    background-color: white;
}

table.bordered tbody tr:nth-child(even) {
    background-color: white;
}

table.bordered tbody tr:nth-child(odd) {
    background-color: #EAEEF3;
}



/* TODO */

.error {
    display: block;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 4px;
    background-color: #EEEEEE;
    color: red;
    font-weight: bold;
}

.question_content {
    position: relative;
}

.reply_question_toggle {
    position: absolute;
    bottom:0;
    right:0;
}

.reply_question {
    display: none;
}

.reply_question_quick_answer {
  display: block;
  margin-left: 15px;
  font-style: italic;
  text-decoration: underline;
}

.reply_question textarea {
    width: 100%;
}





/* NOTIFICATIONS */

#notification {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #FFFF88;
    display: none;
    z-index: 10;
    line-height: 40px;
    border: 1px solid gray;
}

#notification_content {
    margin-left: 70px;
}

#notification_close {
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    line-height: 40px;
}

#notification_close a, #popup_question_close a {
    text-decoration: none;
    color: black;
}

#popup_question_background {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 9;
    background-color: gray;
    opacity: 0.4;
}

#popup_question_container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 10;
}

#popup_question {
    width: 600px;
    height: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFDD;
    visibility: show;
    border: 1px solid gray;
    padding: 0px;
    text-align: center;
    overflow: auto;
    visibility: visible;
}

#popup_question_header {
    width: 100%;
    height: 20px;
    line-height:20px;
    border-bottom: 1px solid gray;
    text-align: center;
    font-weight:bold;
}

#popup_question_body {
    width: 550px;
    margin: 0 auto;
    text-align: left;
    padding: 10px 0;
}

#popup_question_close {
    font-family: sans-serif;
    float:left;
}

#popup_question_subject {
    width:550px;
}

#popup_question textarea {
    resize: none;
    width:550px;
    height:300px;
}

.announcement_item, .message_item, .question_item {
    border: 1px solid gray;
    background-color: #EEEEFF;
    margin: 2px;
    padding: 4px;
    display:none;
}

.announcement_date, .message_date, .question_date{
  display: block;
}

.announcement_subject, .message_subject, .question_subject {
  display: block;
  margin-left: 10px;
  font-weight: bold;
}

.announcement_text, .message_text, .question_text {
  margin-left: 15px;
}


