body {
    font-size: 100%;
    line-height: 1.5;
    font-family: "Lucida Grande", "Arial", sans-serif;
    height: 100%;
    min-width: 960px;
}

h1 {
    font-family: "Fontin", sans-serif;
    font-size: 2.5em;
    padding: 0.15em 0;
}

h2 {
    font-family: "Fontin", serif;
    font-size: 1.5em;
    padding: 0.25em 0;
}

.login_error {
    color: #F31313;
}

#global {
    width: 960px;
    margin: 0;
}

a, a:visited {
    color: #426DC9;
}

.hr {
    text-align: center;
    color: #53637D;
    text-shadow: white 0 1px 1px;
    padding: 0.625em 0;
    clear: both;
}

.hr:before {
    content: "\273B\273B\273B";
}

.displayed {
    display: block;
}

input {
    border: 1px solid #53637D;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

input:focus {
    border: 1px solid #FFD69C;
}



/* LEFT */

#sidebar {
    text-align: right;
    position: fixed;
    padding: 0 1em;
    width: 234px;
    background-color: #EAEEF3;
    text-shadow: white 0 1px 1px;
    height: 100%;
    border-right: 2px solid #E4E5E8;
}

#sidebar h1 {
    color: #53637D;
    text-align: center;
}

#sidebar .sidebar_left {
    text-align: left;
    width: 54px;
    float: left;
}

#sidebar .sidebar_right {
    width: 180px;
    text-align: right;
    float: right;
}

#sidebar a {
    text-decoration: none;
}

.menu_link {
    border-radius: 10px 0 0 10px;
    padding: 0 0.5em;
    margin-right: -0.5em;
}

#sidebar a:hover {
    background-color:#FFFFFF;
}

.footer {
    font-size: 0.875em;
    text-align: left;
    clear: both;
}





/* BORDER */

#border {
    border-left: 2px solid #DADEE3;
    border-right: 2px solid #CACED3;
    width: 0px;
    height: 100%;
    position: fixed;
    margin-left: 266px;
}





/* RIGHT */

#core {
    margin-left: 270px;
    padding: 0 1em;
    width: 660px;
}

#core h1 {
    color: #53637D;
    text-align: left;
    padding-left: 2em;
    margin-bottom: 0.6em;
}

#core h2 {
    color: #53637D;
    text-align: left;
    font-size: 1.5em;
    padding: 0.25em 0 0.25em 1em;
    cursor: pointer;
}

#core h2:before {
    content: "\25BE\0000a0"
}

#core h2.triangle_down:before {
    content: "\25BE\0000a0"
}

#core h2.triangle_right:before {
    content: "\25B8\0000a0"
}

.toggle {
    padding: 0 0.5em 0 1em;
    font-size: 0.666em;
    vertical-align: 0.166em;
}





/* TODO */

.sub_table, .sub_details {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top:10px;
  width: 90%;

}

.sub_table td, .sub_table th{
    border: 1px solid gray;
    padding: 5px;
}

.sub_details td, .sub_details th {
    border: 1px solid gray;
    padding: 5px;
}

.sub_score td, .sub_score th {
    border: 0;
    padding: 5px;
}

.submit_form {
    display: inline;
}

#compilazione
{
    padding: 10px 40px;
}

#compilazione td
{
    padding: 5px 10px;
}

pre
{
    border-left: 3px solid #36393D;
    padding: 5px;
    margin-left: 10px;
    font-family: monospace;
    min-height: 1ex;
}

code
{
    font-family: monospace;
    border: 1px solid #36393D;
    padding: 2px;
    margin: 2px;
}

.error {
    display: block;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 4px;
    background-color: #EEEEEE;
    color: red;
    font-weight: bold;
}

.question_content {
    position: relative;
}

.reply_question_toggle {
    position: absolute;
    bottom:0;
    right:0;
}

.reply_question {
    display: none;
}

.reply_question_quick_answer {
  display: block;
  margin-left: 15px;
  font-style: italic;
  text-decoration: underline;
}

.reply_question textarea {
    width: 100%;
}





/* NOTIFICATIONS */

#notification {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #FFFF88;
    display: none;
    z-index: 10;
    line-height: 40px;
    border: 1px solid gray;
}

#notification_content {
    margin-left: 70px;
}

#notification_close {
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    line-height: 40px;
}

#notification_close a, #popup_question_close a {
    text-decoration: none;
    color: black;
}

#popup_question_background {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 9;
    background-color: gray;
    opacity: 0.4;
}

#popup_question_container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 10;
}

#popup_question {
    width: 600px;
    height: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFDD;
    visibility: show;
    border: 1px solid gray;
    padding: 0px;
    text-align: center;
    overflow: auto;
    visibility: visible;
}

#popup_question_header {
    width: 100%;
    height: 20px;
    line-height:20px;
    border-bottom: 1px solid gray;
    text-align: center;
    font-weight:bold;
}

#popup_question_body {
    width: 550px;
    margin: 0 auto;
    text-align: left;
    padding: 10px 0;
}

#popup_question_close {
    font-family: sans-serif;
    float:left;
}

#popup_question_subject {
    width:550px;
}

#popup_question textarea {
    resize: none;
    width:550px;
    height:300px;
}

.announcement_item, .message_item, .question_item {
    border: 1px solid gray;
    background-color: #EEEEFF;
    margin: 2px;
    padding: 4px;
    display:none;
}

.announcement_date, .message_date, .question_date{
  display: block;
}

.announcement_subject, .message_subject, .question_subject {
  display: block;
  margin-left: 10px;
  font-weight: bold;
}

.announcement_text, .message_text, .question_text {
  margin-left: 15px;
}


