    <!-- login form-->
    {% if current_user == None %}
        {% if handler.get_arguments("login_error") != [] %}
            <p style="color:red">Failed to log in.</p>
        {% end %}
        <form action="/login" method="POST">
                Username:
                <input type="text" name="username">
                Password:
                <input type="password" name="password">
                <input type="submit" value="Sign in">
        </form>
    {% else %}
        Benvenuto {{ current_user.username }}!
        <a href="/logout">Logout</a>
    {% end %}
