{% extends base.html %}

{% block core %}
    <div class="core_title">
    <h1>Instructions</h1>
    </div>
    <h2 onclick="toggleVisibility(&quot;instruction_general&quot;);">
    <span class="toggle" id="instruction_general_toggle" >-</span>General</h2>
    <div id="instruction_general">
        A lot of instructions about the contest.
    </div>
    
    <h2 onclick="toggleVisibility(&quot;instruction_comp&quot;);" >
    <span class="toggle" id="instruction_comp_toggle" >-</span>Compilation</h2>
    <div id="instruction_comp">
        A lot of instructions about compiling.
    </div>

    <h2 onclick="toggleVisibility(&quot;instruction_doc&quot;);">
    <span class="toggle" id="instruction_doc_toggle">-</span>Documentation</h2>
    <div id="instruction_doc">
        <ul><li>STL</li></ul>
    </div>
{% end %}
