{% extends base.html %}
{% block core %}

    <h1><a href="/">Home</a> >> <a href="/tasks/{{ task.name }}">{{ task.title }} ({{ task.name }})</a> >> Submissions</h1>
    {% if submissions == [] %}
    No submissions found.
    {% else %}
        <table border="1">
        <tr>
            <th>Date</th>
            <th>Compilation<br/>status</th>
            <th>Evaluation<br/>status</th>
            <th>Files</th>
            <th>Detailed<br/>Feedback<br/>Requested</th>
        </tr>
        {% for s in sorted(submissions, key=lambda s: s.timestamp , reverse = True) %}
            <tr>
                <td><a href="details/{{escape(s.couch_id)}}">{{ datetime.datetime.fromtimestamp(s.timestamp).strftime("%d/%m/%Y %H:%M:%S") }}</a></td>
                <td>{{ s.compilation_outcome }}</td>
                <td>
                    {% if s.evaluation_outcome != None %}
                        Evaluated
                    {% else %}
                        Not evaluated
                    {% end %}
                </td>
                <td>
                {% for key,value in s.files.items() %}
                    <a href="/submission_file/{{ escape(s.couch_id) }}/{{ escape(key) }}">{{ escape(key) }}<br/>
                {% end %}
                <td>
                {% if s.token_timestamp==None %}
                    <form action="/usetoken/" method="POST">
                    No
                    <input type="hidden" name="id" value="{{ escape(s.couch_id) }}">
                    <input type="submit" value="Use Token">
                    </form>
                {% else %}
                    Yes
                {% end %}
            </tr>
        {% end %}
    {% end %}


{% end %}
