body
{
    font-family: "Lucida Grande", "Tahoma", "Verdana", "Sans", "sans-serif";
    font-size: 15px;
    background-color: #F9F7ED;
    color:  #36393D;
    line-height: 1.2;
}

h1, h2, h3
{
    font-family: "Georgia",
		 "Palatino",
		 "URW Palladio L",
		 "Palatino Linotype",
		 "serif";
    text-align: center;
    font-weight: bold;
}

h1
{
    padding-top: 20px;
    margin: 0px;
    font-size: 36px;
}

table
{
 padding: 0px;
 margin: 10px auto;
 border-collapse: collapse;
 border-spacing: 0px;
}

td, th
{
 padding: 2px 10px;
}

#ranking
{
 border-top: 1px solid #36393D;
 border-bottom: 1px solid #36393D;
}

#ranking tr:hover
{
 background-color: #c3d9ff;
}

#ranking .name
{
 border-left: 0px;
 text-align: left;
}

#ranking .task
{
 border-left: 0px;
}

#ranking .contest
{
 border-left: 1px solid #36393D;
 border-right: 1px solid #36393D;
}

#ranking th:first-child
{
    width: 200px;
}

#ranking td, #ranking th
{
 margin: 0px;
 min-width: 80px;
 padding: 0px 10px;
 text-align: center;
}

#ranking th
{
 background-color: #c3d9ff;
 border-bottom: 1px solid #36393D;
 padding: 5px 10px 15px;
 cursor: s-resize;
 font-family: "Georgia",
    "Palatino",
    "URW Palladio L",
    "Palatino Linotype",
    "serif";
}

#ranking td .value
{
 padding: 0px 5px;
 margin: 5px;
 display: block;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
}

#ranking tr.footer
{
  border-top: 1px solid #36393D;
}

#ranking tr.hidden,
#ranking tr.hidden > td .value
{
    color: rgba(200, 200, 200, 1);
    text-shadow: white 1px 1px 0px;
}

.value
{
 text-decoration: none;
 color: #36393D;
}

.ahidden .value { background-color: #F9F7ED; }
.av      .value { background-color: #c3d9ff; }
.anc     .value { background-color: #F9F7ED; }
.a0      .value { background-color: #ff1919; }
.a10     .value { background-color: #ff4019; }
.a20     .value { background-color: #ff6619; }
.a30     .value { background-color: #ff8c19; }
.a40     .value { background-color: #ffb219; }
.a50     .value { background-color: #ffd919; }
.a60     .value { background-color: #ffff19; }
.a70     .value { background-color: #d9ff19; }
.a80     .value { background-color: #b3ff19; }
.a90     .value { background-color: #8cff19; }
.a100    .value { background-color: #66ff19; }

.diff_pos { color: #66ff19; }
.diff_neg { color: #ff1919; }

