name: ci

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Check available cgroups
        run: |
          mount | grep cgroup

      - name: Build docker image
        run: |
          docker compose -p cms -f docker-compose.test.yml build testcms

      - name: Run tests
        run: |
          docker compose -p cms -f docker-compose.test.yml run --rm testcms

      - uses: codecov/codecov-action@v4
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./codecov/unittests.xml
          flags: unittests

      - uses: codecov/codecov-action@v4
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./codecov/functionaltests.xml
          flags: functionaltests
