name: ci

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        base_image: ["ubuntu:noble", "debian:bookworm"]

    steps:
      - uses: actions/checkout@v2

      - name: Check available cgroups
        run: |
          mount | grep cgroup

      - name: Build docker image
        run: |
          docker compose -p cms -f docker/docker-compose.test.yml build \
              --build-arg BASE_IMAGE=${{ matrix.base_image }} testcms

      - name: Run tests
        run: |
          docker compose -p cms -f docker/docker-compose.test.yml run --rm testcms

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          files: ./codecov/junit.xml
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload unit test coverage results to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          files: ./codecov/unittests.xml
          flags: unittests

      - name: Upload functional test coverage results to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          files: ./codecov/functionaltests.xml
          flags: functionaltests
