{

 "_comment": "There is no way to put comments in a JSON file; the fields starting with _ are meant to be comments",

 "core_services":
  {
   "LogService":        [["localhost", 29000]],
   "ResourceService":   [["localhost", 28000]],
   "ScoringService":    [["localhost", 28500]],
   "FileStorage":       [["localhost", 27000]],
   "Checker":           [["localhost", 22000]],
   "EvaluationService": [["localhost", 25000]],
   "Worker":            [["localhost", 26000]],
   "ContestWebServer":  [["localhost", 21000]],
   "AdminWebServer":    [["localhost", 21100]]
  },

 "other_services":
  {
   "TestFileStorage":   [["localhost", 27500]],
   "TestFileCacher":    [["localhost", 27501]],
   "YamlImporter":      [["localhost", 23000]],
   "SpoolExporter":     [["localhost", 23100]],
   "ContestExporter":   [["localhost", 23200]],
   "ContestImporter":   [["localhost", 23300]],
   "ServiceA":          [["localhost", 35000]],
   "ServiceB":          [["localhost", 36000], ["localhost", 36001]],
   "WebServiceA":       [["localhost", 37000]]
  },

 "process_cmdline": ["/usr/bin/python", "./%s.py", "%d"],

 "_DB choice": "Please uncomment exactly one of the following; the first is the PostgreSQL server, the second is the name of the SQLite file (SQLite can be used only when everything runs on the same machine, and the path is decided by us). If a %s is present in the value, we will replace it with data_dir.",
 "database":         "postgresql://username:password@localhost/database",
 "_database":        "sqlite:///%s/database.sqlite",
 "database_debug":   true,

 "keep_sandbox":     true,

 "maximum_conflict_attempts": 50,
 "submit_local_copy":	        true,
 "submit_local_copy_path":    "%s/submissions/",
 "max_submission_length":     100000,
 "min_submission_interval":   60,

 "color_shell_log":        true,
 "color_file_log":         false,
 "color_remote_shell_log": true,
 "color_remote_file_log":  true,

 "_secret_key":            "This key is used to hide from users auto-incremented numbers. It should be changed for each contest. Particularly, you should not use this example for other than testing. You can easily create a key calling cms.util.Cryptographics.get_hex_random_key().",
 "secret_key":             "8e045a51e4b102ea803c06f92841a1fb",

 "contest_listen_port":    [8888],
 "admin_listen_port":      8889,

 "stl_path":               "/usr/share/doc/stl-manual/html/",

 "ip_lock":                true,
 "block_hidden_users":     false,

 "tornado_secret_key":     "DsEwRxZER06etXcqgfowEJuM6rZjwk1JvknlbngmNck=",
 "tornado_debug":          false,
 "is_proxy_used":          false,

 "rankings_address":        [["localhost", 8890]],
 "rankings_username":       ["usern4me"],
 "rankings_password":       ["passw0rd"]

}
