{

 "_comment": "There is no way to put comments in a JSON file; the fields starting with _ are meant to be comments",

 "core_services":
  {
   "LogService":        [["localhost", 29000]],
   "ResourceService":   [["localhost", 28000]],
   "FileStorage":       [["localhost", 27000]],
   "Checker":           [["localhost", 22000]],
   "EvaluationServer":  [["localhost", 25000]],
   "Worker":            [["localhost", 26000]],
   "ContestWebServer":  [["localhost", 21000]],
   "AdminWebServer":    [["localhost", 21100]]
  },

 "other_services":
  {
   "TestFileStorage":   [["localhost", 27500]],
   "TestFileCacher":    [["localhost", 27501]],
   "YamlImporter":      [["localhost", 23000]],
   "ServiceA":          [["localhost", 35000]],
   "ServiceB":          [["localhost", 36000], ["localhost", 36001]],
   "WebServiceA":       [["localhost", 37000]]
  },

 "process_cmdline": ["/usr/bin/python", "./%s.py", "%d"],

 "database":         "postgresql://oiisys:ciaociao@localhost/oiisys2",
 "_database_sqlite": "sqlite:///test.sqlite",

 "maximum_conflict_attempts": 50,
 "submit_local_copy":	      true,
 "submit_local_copy_path":    "submissions/"


}
